node-red/.flows.json.backup
[{"id":"3d3b5498.932ddc","type":"tab","label":"Slow Dim","disabled":false,"info":""},{"id":"90bc0fb1.6948e","type":"tab","label":"Automated Vacuum","disabled":false,"info":""},{"id":"3630b580.d488ca","type":"tab","label":"Arrive/Leave","disabled":true,"info":""},{"id":"4702fd19.dc7d64","type":"tab","label":"Force Location update","disabled":false,"info":""},{"id":"b4d499b5.d319a8","type":"tab","label":"Open/Close Coop Door","disabled":false,"info":""},{"id":"eef2c7ac.0250c8","type":"tab","label":"Disable/Enable automations","disabled":false,"info":""},{"id":"f2e05ad4.a599c8","type":"tab","label":"Automatic Lights","disabled":false,"info":""},{"id":"5b297b5b.269ea4","type":"tab","label":"Voice command workarounds","disabled":false,"info":""},{"id":"e6dd59e2.eb32a8","type":"tab","label":"Chicken Pi Online/Offline","disabled":true,"info":""},{"id":"b73bc626.338978","type":"tab","label":"Augmented Good night/morning","disabled":false,"info":""},{"id":"50eef82.f52fa08","type":"tab","label":"Ceiling Fan Controls","disabled":false,"info":""},{"id":"2386127a.8ff00e","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"ebc1df31.59b41","type":"tab","label":"Leak Sensor","disabled":false,"info":""},{"id":"8d541f4c.9410b","type":"server","z":"","name":"Home Assistant"},{"id":"e3af4efc.43df7","type":"pushbullet-config","z":"","name":"Pushbullet"},{"id":"a2e7a884.4d6948","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"78dd16d3.bb4168","type":"ifttt-key","z":""},{"id":"ca513353.b6e7b","type":"inject","z":"f2e05ad4.a599c8","name":"Wake up time M T W Th F","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"30 08 * * 1,2,3,4,5","once":false,"onceDelay":"","x":180,"y":120,"wires":[["231173d5.05979c"]]},{"id":"90318a0c.aad7b8","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Turn on bedroom lights","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.Bedroom\", \"transition\":60, \"brightness_pct\":100}","mergecontext":"","x":920,"y":120,"wires":[[]]},{"id":"5bb4f71e.8a5248","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn off both command from IFTTT","url":"/disableAutos","method":"get","upload":false,"swaggerDoc":"","x":210,"y":60,"wires":[["f1e25a7e.344e68","e46cc3da.efa7b","91ea1923.39a038"]]},{"id":"f1e25a7e.344e68","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn off Sunset Auto-Dim","server":"8d541f4c.9410b","service_domain":"input_boolean","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.sunset_auto_dim_lights\" }","mergecontext":"","x":870,"y":80,"wires":[[]]},{"id":"e46cc3da.efa7b","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn off Late Night Auto-Dim","server":"8d541f4c.9410b","service_domain":"input_boolean","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.late_night_auto_dim_lights\" }","mergecontext":"","x":880,"y":120,"wires":[[]]},{"id":"91ea1923.39a038","type":"delay","z":"eef2c7ac.0250c8","name":"Wait to turn back on","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":180,"wires":[["a5be61ef.277d4"]]},{"id":"f9b4d8.de154b28","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn on Sunset Auto-Dim","server":"8d541f4c.9410b","service_domain":"input_boolean","service":"turn_on","data":"{   \"entity_id\": \"input_boolean.sunset_auto_dim_lights\" }","mergecontext":"","x":870,"y":300,"wires":[[]]},{"id":"45530ebb.ac14e","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn on Late Night Auto-Dim","server":"8d541f4c.9410b","service_domain":"input_boolean","service":"turn_on","data":"{   \"entity_id\": \"input_boolean.late_night_auto_dim_lights\" }","mergecontext":"","x":880,"y":340,"wires":[[]]},{"id":"9d6da202.6b4f3","type":"server-state-changed","z":"90bc0fb1.6948e","name":"I leave","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","haltifstate":"on","x":80,"y":120,"wires":[["97ff0248.0ab66"]]},{"id":"874468d4.b3f718","type":"api-current-state","z":"90bc0fb1.6948e","name":"if I'm still gone...","server":"8d541f4c.9410b","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","x":460,"y":240,"wires":[["722e7cf4.54eeb4"]]},{"id":"97ff0248.0ab66","type":"function","z":"90bc0fb1.6948e","name":"Check to see if job has run today","func":"var hasVacuumedToday = flow.get('hasVacuumedToday')||false;\n\nif(hasVacuumedToday === true)\n    return null;\n\nvar date = new Date();\nmsg.Day = date.getDay();\nmsg.loopCount = 1;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["90695287.dc6a4","a1c0f00c.9e077"]]},{"id":"b70daf74.00be4","type":"server-state-changed","z":"90bc0fb1.6948e","name":"I return","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","haltifstate":"off","x":70,"y":720,"wires":[["4730ccd7.2b8e04"]]},{"id":"ff7c586.1b472a8","type":"function","z":"90bc0fb1.6948e","name":"*deprecated* - Check to see if today is not Tu, W, or Th","func":"var date = new Date();\n\nif (date.Day === 2 \n    || date.Day === 3\n    || date.Day === 4) //is Tuesday Wednesday or Thursday \n{\n    return null;\n}\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":360,"y":1000,"wires":[[]]},{"id":"6e4f79a2.918628","type":"pushbullet","z":"90bc0fb1.6948e","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify me via Pushbullet","x":890,"y":540,"wires":[]},{"id":"477c574c.986898","type":"function","z":"90bc0fb1.6948e","name":"Set pushbullet payload and set run flag","func":"\n//flow.set('hasVacuumedToday', true);\nflow.set('isGone', true)\nmsg.payload = \"Roomba activated\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":480,"wires":[["6e4f79a2.918628"]]},{"id":"7aeda2c.7cfd65c","type":"ifttt out","z":"90bc0fb1.6948e","eventName":"start_vacuum","key":"78dd16d3.bb4168","x":820,"y":360,"wires":[]},{"id":"e67ddb21.c958c8","type":"ifttt out","z":"90bc0fb1.6948e","eventName":"return_to_base","key":"78dd16d3.bb4168","x":920,"y":760,"wires":[]},{"id":"c885e34.5ec652","type":"inject","z":"90bc0fb1.6948e","name":"Reset once per day lock","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["3115192d.9318b6"]]},{"id":"3115192d.9318b6","type":"change","z":"90bc0fb1.6948e","name":"","rules":[{"t":"set","p":"hasVacuumedToday","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":40,"wires":[[]]},{"id":"a76e9162.85828","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn on command from IFTTT","url":"/enableAutos","method":"get","upload":false,"swaggerDoc":"","x":190,"y":320,"wires":[["f9b4d8.de154b28","45530ebb.ac14e"]]},{"id":"caeb0b01.7f3668","type":"delay","z":"90bc0fb1.6948e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":760,"wires":[["e67ddb21.c958c8"]]},{"id":"fc346887.298fa8","type":"ifttt out","z":"90bc0fb1.6948e","eventName":"stop_vacuum","key":"78dd16d3.bb4168","x":770,"y":700,"wires":[]},{"id":"63324244.20d35c","type":"server-state-changed","z":"e6dd59e2.eb32a8","name":"Chicken Pi goes offline","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.health_check","entityidfiltertype":"substring","haltifstate":"on","x":140,"y":120,"wires":[["7cd7a626.a02168"]]},{"id":"7cd7a626.a02168","type":"delay","z":"e6dd59e2.eb32a8","name":"Wait 3 minutes...","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":120,"wires":[["6993638f.af39ec"]]},{"id":"6993638f.af39ec","type":"api-current-state","z":"e6dd59e2.eb32a8","name":"Still offline","server":"8d541f4c.9410b","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.health_check","x":590,"y":120,"wires":[["28daf0ea.69bce","bdf1d7b0.479548"]]},{"id":"28daf0ea.69bce","type":"function","z":"e6dd59e2.eb32a8","name":"Set payload for Pushbullet","func":"msg.payload = \"Chicken Pi is offline\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":120,"wires":[["ccf4f813.921b78","7c16b071.18333"]]},{"id":"ccf4f813.921b78","type":"pushbullet","z":"e6dd59e2.eb32a8","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify me","x":1080,"y":120,"wires":[]},{"id":"bdf1d7b0.479548","type":"change","z":"e6dd59e2.eb32a8","name":"Set PiOffline to true","rules":[{"t":"set","p":"PiOffline","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":180,"wires":[[]]},{"id":"99f4e232.c0e91","type":"function","z":"e6dd59e2.eb32a8","name":"Check to see if it was truly offline","func":"piOffline = flow.get('PiOffline') || false\n\nif(piOffline === false)\n{\n    return null;\n}\n\nmsg.payload = \"Chicken Pi is back online\"\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":340,"wires":[["f92ce642.da32c8","57c7e.1f61e383","7c16b071.18333"]]},{"id":"2fad4b59.7761b4","type":"server-state-changed","z":"e6dd59e2.eb32a8","name":"Chicken Pi goes online","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.health_check","entityidfiltertype":"substring","haltifstate":"off","x":140,"y":340,"wires":[["99f4e232.c0e91"]]},{"id":"f92ce642.da32c8","type":"pushbullet","z":"e6dd59e2.eb32a8","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify me","x":760,"y":340,"wires":[]},{"id":"57c7e.1f61e383","type":"change","z":"e6dd59e2.eb32a8","name":"Set PiOffline to false","rules":[{"t":"set","p":"PiOffline","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":400,"wires":[[]]},{"id":"7c16b071.18333","type":"debug","z":"e6dd59e2.eb32a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":260,"wires":[]},{"id":"82173be5.ca3668","type":"sun events","z":"b4d499b5.d319a8","testmode":false,"verbose":true,"topic":"","name":"","x":80,"y":140,"wires":[["dd45e0f5.059c5"]]},{"id":"dd45e0f5.059c5","type":"switch","z":"b4d499b5.d319a8","name":"Is Sunrise/Sunset switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunrise","vt":"str"},{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":140,"wires":[["94043d72.33fde"],["5881aba3.93e944"]]},{"id":"691390a5.ff3e8","type":"api-call-service","z":"b4d499b5.d319a8","name":"Open Coop Door","server":"8d541f4c.9410b","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.chicken_coop_door\"}","mergecontext":"","x":1230,"y":100,"wires":[["a211fd6b.90924"]]},{"id":"8b399200.f274","type":"api-call-service","z":"b4d499b5.d319a8","name":"Close Coop Door","server":"8d541f4c.9410b","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.chicken_coop_door\"}","mergecontext":"","x":1050,"y":180,"wires":[["4a8c7654.eb2418","b87f9b69.515348"]]},{"id":"5881aba3.93e944","type":"delay","z":"b4d499b5.d319a8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":180,"wires":[["8b399200.f274"]]},{"id":"be7eab05.633b68","type":"change","z":"90bc0fb1.6948e","name":"increment counter","rules":[{"t":"set","p":"loopCount","pt":"msg","to":"msg.loopCount + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":360,"wires":[["76d36824.10a2c8","a1c0f00c.9e077"]]},{"id":"722e7cf4.54eeb4","type":"switch","z":"90bc0fb1.6948e","name":"Keep looping if < 30 mins; start vacuum otherwise","property":"loopCount","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"str"},{"t":"eq","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":440,"wires":[["be7eab05.633b68"],["9e4e1828.8557a8"]]},{"id":"ff1a852.d6ce878","type":"comment","z":"90bc0fb1.6948e","name":"<-- Loop for 30 minutes, check every minute to see if I have returned","info":"","x":900,"y":220,"wires":[]},{"id":"90695287.dc6a4","type":"switch","z":"90bc0fb1.6948e","name":"Day of Week","property":"Day","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":7,"x":110,"y":240,"wires":[["76d36824.10a2c8"],[],["76d36824.10a2c8"],["76d36824.10a2c8"],["76d36824.10a2c8"],[],["76d36824.10a2c8"]],"outputLabels":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]},{"id":"4a8c7654.eb2418","type":"function","z":"b4d499b5.d319a8","name":"Set Pushbullet message","func":"msg.payload = \"Chicken coop door closed\"\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":180,"wires":[["5de57125.f2ab1"]]},{"id":"a211fd6b.90924","type":"function","z":"b4d499b5.d319a8","name":"Set Pushbullet message","func":"msg.payload = \"Chicken coop door opened\"\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":100,"wires":[["5de57125.f2ab1"]]},{"id":"5de57125.f2ab1","type":"pushbullet","z":"b4d499b5.d319a8","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify Me","x":1680,"y":180,"wires":[]},{"id":"4730ccd7.2b8e04","type":"function","z":"90bc0fb1.6948e","name":"Prevent random 'on's from stopping a job while I'm home","func":"isGone = flow.get(\"isGone\") || false;\n\nif(isGone)\n{\n    flow.set(\"isGone\", false);\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":410,"y":720,"wires":[["fc346887.298fa8","caeb0b01.7f3668"]]},{"id":"f5325769.6c4e88","type":"api-current-state","z":"b4d499b5.d319a8","name":"Confirm door is shut","server":"8d541f4c.9410b","halt_if":"closed","override_topic":true,"override_payload":true,"entity_id":"{\"entity_id\":\"cover.chicken_coop_door\"}","x":1200,"y":300,"wires":[["96267386.af92e"]]},{"id":"b87f9b69.515348","type":"delay","z":"b4d499b5.d319a8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":240,"wires":[["f5325769.6c4e88"]]},{"id":"96267386.af92e","type":"function","z":"b4d499b5.d319a8","name":"Set Pushbullet message if still open","func":"msg.payload = \"Coop Door is still open!!\"\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":360,"wires":[["5de57125.f2ab1"]]},{"id":"5c39a4fc.df8e5c","type":"http in","z":"b73bc626.338978","name":"Goodnight from IFTTT","url":"/goodnight","method":"get","upload":false,"swaggerDoc":"","x":160,"y":180,"wires":[["110f15f6.6d2f2a","778852d6.11326c","34c85aab.9355e6","8baad4cc.e29e48","fce80a1a.98aea8","e55cd0f7.f155d","d1228725.f2be88"]]},{"id":"110f15f6.6d2f2a","type":"api-call-service","z":"b73bc626.338978","name":"Wink: Goodnight - Alexa","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.goodnight__alexa\"}","mergecontext":"","x":450,"y":140,"wires":[[]]},{"id":"778852d6.11326c","type":"api-call-service","z":"b73bc626.338978","name":"Close Garage Door","server":"8d541f4c.9410b","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.garage_door_opener\"}","mergecontext":"","x":430,"y":220,"wires":[[]]},{"id":"f65ae241.355e5","type":"http in","z":"5b297b5b.269ea4","name":"Open garage command from IFTTT","url":"/open_garage","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["36709171.61c25e"]]},{"id":"21ae9bc8.7d9a54","type":"http in","z":"5b297b5b.269ea4","name":"Close garage command from IFTTT","url":"/close_garage","method":"get","upload":false,"swaggerDoc":"","x":200,"y":160,"wires":[["fd0b485.0fdd0b8"]]},{"id":"36709171.61c25e","type":"api-call-service","z":"5b297b5b.269ea4","name":"Open the garage door","server":"8d541f4c.9410b","service_domain":"cover","service":"open_cover","data":"{   \"entity_id\": \"cover.garage_door_opener\" }","mergecontext":"","x":520,"y":100,"wires":[[]]},{"id":"fd0b485.0fdd0b8","type":"api-call-service","z":"5b297b5b.269ea4","name":"Close the garage door","server":"8d541f4c.9410b","service_domain":"cover","service":"close_cover","data":"{   \"entity_id\": \"cover.garage_door_opener\" }","mergecontext":"","x":520,"y":160,"wires":[[]]},{"id":"a5be61ef.277d4","type":"timecheck","z":"eef2c7ac.0250c8","name":"","time":"00:00","x":590,"y":260,"wires":[["91ea1923.39a038"],["f9b4d8.de154b28","45530ebb.ac14e"]]},{"id":"12bfad09.811e03","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn off late night command from IFTTT","url":"/turn_off_late_night","method":"get","upload":false,"swaggerDoc":"","x":220,"y":120,"wires":[["e46cc3da.efa7b","91ea1923.39a038"]]},{"id":"451de78a.9867c8","type":"sun events","z":"3d3b5498.932ddc","testmode":false,"verbose":false,"topic":"","name":"","x":100,"y":40,"wires":[["43f50cec.dbe3d4"]]},{"id":"43f50cec.dbe3d4","type":"switch","z":"3d3b5498.932ddc","name":"Is sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":100,"y":100,"wires":[["da34a2b6.c93d7"]]},{"id":"7ecd5784.f3ac98","type":"mqtt in","z":"2386127a.8ff00e","name":"Any MQTT message","topic":"#","qos":"2","broker":"a2e7a884.4d6948","x":200,"y":160,"wires":[["ebf0981e.f71648"]]},{"id":"ebf0981e.f71648","type":"debug","z":"2386127a.8ff00e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":160,"wires":[]},{"id":"942e844d.e75ca8","type":"inject","z":"2386127a.8ff00e","name":"David at work message","topic":"","payload":"{\"_type\":\"location\",\"acc\":18,\"alt\":197.3000030517578,\"batt\":77,\"conn\":\"m\",\"inregions\":[\"Work\"],\"lat\":30.2506502,\"lon\":-97.862467,\"t\":\"p\",\"tid\":\"px\",\"tst\":1533510186,\"vac\":2,\"vel\":0.0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["b54d9e8.78cb86"]]},{"id":"b54d9e8.78cb86","type":"mqtt out","z":"2386127a.8ff00e","name":"Send Dummy message","topic":"owntracks/David/Pixel","qos":"1","retain":"false","broker":"a2e7a884.4d6948","x":400,"y":340,"wires":[]},{"id":"87372872.566068","type":"inject","z":"2386127a.8ff00e","name":"David at Home","topic":"","payload":"{\"_type\":\"location\",\"acc\":100,\"alt\":0.0,\"batt\":74,\"conn\":\"m\",\"inregions\":[\"Home\"],\"lat\":30.2171827,\"lon\":-97.8351872,\"tid\":\"px\",\"tst\":1533139187,\"vac\":0,\"vel\":0.0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":380,"wires":[["b54d9e8.78cb86"]]},{"id":"c2213168.97eb6","type":"inject","z":"2386127a.8ff00e","name":"David at Away","topic":"","payload":"{\"_type\":\"location\",\"acc\":18,\"alt\":197.3000030517578,\"batt\":76,\"conn\":\"m\",\"lat\":31.2172376,\"lon\":-97.8351853,\"t\":\"u\",\"tid\":\"px\",\"tst\":1533511413,\"vac\":2,\"vel\":0.0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["b54d9e8.78cb86"]]},{"id":"a1c0f00c.9e077","type":"debug","z":"90bc0fb1.6948e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":120,"wires":[]},{"id":"76d36824.10a2c8","type":"delay","z":"90bc0fb1.6948e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":240,"wires":[["874468d4.b3f718"]]},{"id":"9e4e1828.8557a8","type":"switch","z":"90bc0fb1.6948e","name":"has not vacuumed Today?","property":"hasVacuumedToday","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":460,"wires":[["7aeda2c.7cfd65c","477c574c.986898","8019b6c2.cea0e8"]]},{"id":"8019b6c2.cea0e8","type":"change","z":"90bc0fb1.6948e","name":"","rules":[{"t":"set","p":"hasVacuumedToday","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":420,"wires":[[]]},{"id":"125b9ca7.ffb8d3","type":"http in","z":"b4d499b5.d319a8","name":"","url":"/openCoop","method":"get","upload":false,"swaggerDoc":"","x":140,"y":400,"wires":[["4c8c9ac3.e83104","f99dc736.32bd28"]]},{"id":"f99dc736.32bd28","type":"api-call-service","z":"b4d499b5.d319a8","name":"Open Coop Door","server":"8d541f4c.9410b","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.chicken_coop_door\"}","mergecontext":"","x":370,"y":340,"wires":[[]]},{"id":"3d0ba910.3bd596","type":"api-call-service","z":"b4d499b5.d319a8","name":"Close Coop Door","server":"8d541f4c.9410b","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.chicken_coop_door\"}","mergecontext":"","x":370,"y":480,"wires":[[]]},{"id":"92396ba6.94fa68","type":"http response","z":"b4d499b5.d319a8","name":"Respond","statusCode":"","headers":{},"x":560,"y":400,"wires":[]},{"id":"4c8c9ac3.e83104","type":"template","z":"b4d499b5.d319a8","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Open signal sent to coop door!</h1>\n    </body>\n</html>","x":370,"y":400,"wires":[["92396ba6.94fa68"]]},{"id":"f4fe4452.f8a168","type":"template","z":"b4d499b5.d319a8","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<html>\n    <head></head>\n    <body>\n        <h1>Close signal sent to coop door!</h1>\n    </body>\n</html>","x":370,"y":520,"wires":[["55a89774.d443e8"]]},{"id":"55a89774.d443e8","type":"http response","z":"b4d499b5.d319a8","name":"Respond","statusCode":"","headers":{"content-type":"text/html"},"x":560,"y":520,"wires":[]},{"id":"6b6b8f7c.fe4b6","type":"http in","z":"b4d499b5.d319a8","name":"","url":"/closeCoop","method":"get","upload":false,"swaggerDoc":"","x":150,"y":520,"wires":[["3d0ba910.3bd596","f4fe4452.f8a168"]]},{"id":"3efdf6d5.5ea35a","type":"inject","z":"b4d499b5.d319a8","name":"Open at noon","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["1a20a9a7.966066"]]},{"id":"1a20a9a7.966066","type":"api-current-state","z":"b4d499b5.d319a8","name":"Get open settings","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.chicken_coop_open","x":550,"y":80,"wires":[["b95818d.05d79e8"]]},{"id":"94043d72.33fde","type":"api-current-state","z":"b4d499b5.d319a8","name":"Get open settings","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.chicken_coop_open","x":550,"y":120,"wires":[["408e60ad.40aa6"]]},{"id":"5f561563.34579c","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn off \"Leaving\"","server":"8d541f4c.9410b","service_domain":"automation","service":"turn_off","data":"{   \"entity_id\": \"automation.leaving\" }","mergecontext":"","x":550,"y":500,"wires":[[]]},{"id":"cb1cb7e0.f4a408","type":"delay","z":"eef2c7ac.0250c8","name":"Wait 6h to turn back on","pauseType":"delay","timeout":"6","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":580,"wires":[["4e28e9bc.b7fe98","6f551989.316ee8"]]},{"id":"4e28e9bc.b7fe98","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn on \"Leaving\"","server":"8d541f4c.9410b","service_domain":"automation","service":"turn_on","data":"{   \"entity_id\": \"automation.leaving\" }","mergecontext":"","x":550,"y":780,"wires":[[]]},{"id":"959afefe.6aae","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn on command from IFTTT","url":"/turn_on_leaving","method":"get","upload":false,"swaggerDoc":"","x":190,"y":820,"wires":[["4e28e9bc.b7fe98","6f551989.316ee8"]]},{"id":"742f0bf2.aa3c24","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn off leaving command from IFTTT","url":"/turn_off_leaving","method":"get","upload":false,"swaggerDoc":"","x":220,"y":520,"wires":[["cb1cb7e0.f4a408","5f561563.34579c","f12f1f79.4e1b1"]]},{"id":"966a31cd.3e975","type":"comment","z":"eef2c7ac.0250c8","name":"v--- Automated leaving/arriving ","info":"","x":410,"y":460,"wires":[]},{"id":"f12f1f79.4e1b1","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn off Arriving automation","server":"8d541f4c.9410b","service_domain":"automation","service":"turn_off","data":"{\"entity_id\":\"automation.arrive\"}","mergecontext":"","x":580,"y":540,"wires":[[]]},{"id":"6f551989.316ee8","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn on Arriving automation","server":"8d541f4c.9410b","service_domain":"automation","service":"turn_on","data":"{\"entity_id\":\"automation.arrive\"}","mergecontext":"","x":580,"y":820,"wires":[[]]},{"id":"b3ff77ec.da2028","type":"api-current-state","z":"f2e05ad4.a599c8","name":"Turn on lights enabled","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.turn_on_lights_in_morning","x":660,"y":120,"wires":[["90318a0c.aad7b8"]]},{"id":"a6a489ec.4f83e8","type":"api-current-state","z":"3d3b5498.932ddc","name":"Get current brightness","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.main_area_2","x":940,"y":100,"wires":[["bac8ef1b.7f2f7","23bdc697.fe2aba"]]},{"id":"af25455a.f6d468","type":"change","z":"3d3b5498.932ddc","name":"","rules":[{"t":"set","p":"currentBrightness","pt":"flow","to":"data.attributes.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":160,"wires":[["a7e32f38.4b835"]]},{"id":"a7e32f38.4b835","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Lights","func":"var cb=flow.get('currentBrightness') - 4;\n\n\nvar newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"light.main_area_2\",\n         \"brightness\": cb\n      }\n   }\n};\n\nflow.set('currentBrightness',cb);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":760,"y":220,"wires":[["ceddfda9.ac7ac","77cf346e.c3b32c"]]},{"id":"ceddfda9.ac7ac","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Lights","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"","mergecontext":"","x":990,"y":220,"wires":[["abb3ae81.5a51e"]]},{"id":"bac8ef1b.7f2f7","type":"debug","z":"3d3b5498.932ddc","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.attributes.brightness","x":1240,"y":100,"wires":[]},{"id":"abb3ae81.5a51e","type":"delay","z":"3d3b5498.932ddc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":220,"wires":[["f5224c0a.54acd"]]},{"id":"f5224c0a.54acd","type":"switch","z":"3d3b5498.932ddc","name":"Keep dimming until half brightness","property":"currentBrightness","propertyType":"flow","rules":[{"t":"gt","v":"127","vt":"num"},{"t":"lte","v":"127","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":300,"wires":[["a7e32f38.4b835"],["b4dc280d.b69828"]]},{"id":"23bdc697.fe2aba","type":"switch","z":"3d3b5498.932ddc","name":"Dim if lights are too bright","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"120","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":160,"wires":[["af25455a.f6d468"]]},{"id":"77cf346e.c3b32c","type":"debug","z":"3d3b5498.932ddc","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.brightness","x":1060,"y":160,"wires":[]},{"id":"8572c95e.d794e8","type":"api-call-service","z":"3d3b5498.932ddc","name":"Turn on mid-level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1410,"y":300,"wires":[[]]},{"id":"da34a2b6.c93d7","type":"delay","z":"3d3b5498.932ddc","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":100,"wires":[["cb0a1972.9c2638"]]},{"id":"2fcc51be.2150ee","type":"inject","z":"3d3b5498.932ddc","name":"10 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":100,"y":480,"wires":[["b84811bf.e75ce"]]},{"id":"69fa2590.16196c","type":"api-current-state","z":"3d3b5498.932ddc","name":"Get current brightness","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.main_area_2","x":800,"y":480,"wires":[["97d75708.582758","bcaba8ae.6c0d68"]]},{"id":"ceefc302.fa5a4","type":"change","z":"3d3b5498.932ddc","name":"","rules":[{"t":"set","p":"currentBrightness","pt":"flow","to":"data.attributes.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":540,"wires":[["27ebc7ba.5dc268"]]},{"id":"27ebc7ba.5dc268","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Lights","func":"var cb=flow.get('currentBrightness') - 4;\n\n\nvar newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"light.main_area_2\",\n         \"brightness\": cb\n      }\n   }\n};\n\nflow.set('currentBrightness',cb);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":600,"y":600,"wires":[["b36274cd.ad2fe8","faf46bb2.a57718"]]},{"id":"b36274cd.ad2fe8","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Lights","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"","mergecontext":"","x":830,"y":600,"wires":[["a0b767d6.268218"]]},{"id":"bcaba8ae.6c0d68","type":"debug","z":"3d3b5498.932ddc","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.attributes.brightness","x":1120,"y":480,"wires":[]},{"id":"a0b767d6.268218","type":"delay","z":"3d3b5498.932ddc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":600,"wires":[["c06a79bd.dcd798"]]},{"id":"c06a79bd.dcd798","type":"switch","z":"3d3b5498.932ddc","name":"Keep dimming until 30% brightness","property":"currentBrightness","propertyType":"flow","rules":[{"t":"gt","v":"77","vt":"str"},{"t":"lte","v":"77","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":680,"wires":[["27ebc7ba.5dc268"],["18047332.d026bd"]]},{"id":"97d75708.582758","type":"switch","z":"3d3b5498.932ddc","name":"Dim if lights are too bright","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"82","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":540,"wires":[["ceefc302.fa5a4"]]},{"id":"faf46bb2.a57718","type":"debug","z":"3d3b5498.932ddc","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.brightness","x":900,"y":540,"wires":[]},{"id":"1f6dc87c.66c9e8","type":"api-call-service","z":"3d3b5498.932ddc","name":"Turn on low level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1250,"y":680,"wires":[[]]},{"id":"fb6aa5bc.013898","type":"inject","z":"3d3b5498.932ddc","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":40,"wires":[["a6a489ec.4f83e8"]]},{"id":"9e245015.14f3f","type":"comment","z":"3d3b5498.932ddc","name":"Sunset Dim","info":"","x":690,"y":40,"wires":[]},{"id":"cffd6a6f.30ae28","type":"comment","z":"3d3b5498.932ddc","name":"Late Night 10 PM Dim","info":"","x":620,"y":380,"wires":[]},{"id":"b84811bf.e75ce","type":"api-current-state","z":"3d3b5498.932ddc","name":"Am I home?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","x":290,"y":480,"wires":[["53c25752.45da18"]]},{"id":"cb0a1972.9c2638","type":"api-current-state","z":"3d3b5498.932ddc","name":"Am I home?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","x":450,"y":100,"wires":[["811643a3.8ccca"]]},{"id":"6e1dbe8a.9bfd1","type":"sun events","z":"f2e05ad4.a599c8","testmode":false,"verbose":false,"topic":"","name":"","x":80,"y":340,"wires":[["d498e56e.443aa8"]]},{"id":"d498e56e.443aa8","type":"switch","z":"f2e05ad4.a599c8","name":"Is sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":340,"wires":[["7071c442.11692c"]]},{"id":"7071c442.11692c","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Turn on Porch Light","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{   \"brightness\": \"255\",   \"entity_id\": \"light.porch\" }","mergecontext":"","x":510,"y":340,"wires":[[]]},{"id":"13b7732b.511b7d","type":"inject","z":"f2e05ad4.a599c8","name":"9 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["7dbcc71c.d3eeb8"]]},{"id":"7dbcc71c.d3eeb8","type":"api-current-state","z":"f2e05ad4.a599c8","name":"Is Porch light on?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"light.porch","x":290,"y":400,"wires":[["2e6a2272.0d71fe"]]},{"id":"2e6a2272.0d71fe","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Dim Porch light","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{   \"brightness\": \"32\",   \"entity_id\": \"light.porch\" }","mergecontext":"","x":500,"y":400,"wires":[[]]},{"id":"86a0ee5b.544d","type":"inject","z":"f2e05ad4.a599c8","name":"Midnight","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":100,"y":460,"wires":[["24afa3f9.3ba09c"]]},{"id":"24afa3f9.3ba09c","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Turn off Porch light","server":"8d541f4c.9410b","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"light.porch\" }","mergecontext":"","x":510,"y":460,"wires":[[]]},{"id":"8c19d339.f01af","type":"comment","z":"f2e05ad4.a599c8","name":"Morning Bedroom Lights","info":"","x":410,"y":60,"wires":[]},{"id":"e76f5250.c9983","type":"comment","z":"f2e05ad4.a599c8","name":"Porch Light","info":"","x":310,"y":280,"wires":[]},{"id":"53c25752.45da18","type":"api-current-state","z":"3d3b5498.932ddc","name":"Is Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.late_night_auto_dim_lights","x":520,"y":480,"wires":[["69fa2590.16196c"]]},{"id":"811643a3.8ccca","type":"api-current-state","z":"3d3b5498.932ddc","name":"Is Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.sunset_auto_dim_lights","x":680,"y":100,"wires":[["a6a489ec.4f83e8"]]},{"id":"d27d8759.fe86f8","type":"inject","z":"3d3b5498.932ddc","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":420,"wires":[["69fa2590.16196c"]]},{"id":"231173d5.05979c","type":"api-current-state","z":"f2e05ad4.a599c8","name":"Am I home?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","x":430,"y":120,"wires":[["b3ff77ec.da2028"]]},{"id":"8399364d.904a78","type":"http in","z":"5b297b5b.269ea4","name":"Unlock front door command from IFTTT","url":"/unlock_front_door","method":"get","upload":false,"swaggerDoc":"","x":210,"y":220,"wires":[["5085c234.f899dc"]]},{"id":"5085c234.f899dc","type":"api-call-service","z":"5b297b5b.269ea4","name":"Unlock the front door","server":"8d541f4c.9410b","service_domain":"lock","service":"unlock","data":"{   \"entity_id\": \"lock.front_door\" }","mergecontext":"","x":520,"y":220,"wires":[[]]},{"id":"5569c7ad.da0908","type":"server-state-changed","z":"3630b580.d488ca","name":"I arrive","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","haltifstate":"off","x":70,"y":40,"wires":[["b437a608.a8bb08"]]},{"id":"e7ef6cc4.16618","type":"function","z":"3630b580.d488ca","name":"Set Pushbullet message","func":"msg.payload = \"Lights on: Late Night triggered\"\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":240,"wires":[["22e82873.dadd08"]]},{"id":"22e82873.dadd08","type":"pushbullet","z":"3630b580.d488ca","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify Me","x":1420,"y":260,"wires":[]},{"id":"9b85367e.044188","type":"sunpos","z":"3630b580.d488ca","name":"","lon":"-97.8351872","lat":"30.2171827","start":"sunrise","startoffset":0,"end":"sunset","endoffset":0,"x":150,"y":120,"wires":[["16c510f3.cd37af"]]},{"id":"16c510f3.cd37af","type":"switch","z":"3630b580.d488ca","name":"Is Day/Night","property":"payload.sunInSky","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":200,"wires":[["c6f77c5f.42be4"],["fab75b1b.291818"]],"outputLabels":["Sun is in the sky","Sun has set"]},{"id":"fab75b1b.291818","type":"time-range-switch","z":"3630b580.d488ca","name":"Is late night or not","lat":"30.2171827","lon":"-97.8351872","startTime":"22:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":410,"y":260,"wires":[["fc13589e.29c568"],["9b9f4b17.763328"]],"outputLabels":["In between 10 PM and sunrise","During night, outside of 10 PM and sunrise"]},{"id":"c6f77c5f.42be4","type":"api-call-service","z":"3630b580.d488ca","name":"Turn on max level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.maxlevel\"}","mergecontext":"","x":410,"y":180,"wires":[["19e59fd.9045f6"]]},{"id":"fc13589e.29c568","type":"api-call-service","z":"3630b580.d488ca","name":"Turn on low level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.lowlevel\"}","mergecontext":"","x":650,"y":240,"wires":[["10a03e5e.a68982"]]},{"id":"9b9f4b17.763328","type":"api-call-service","z":"3630b580.d488ca","name":"Turn on mid level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.midlevel\"}","mergecontext":"","x":650,"y":280,"wires":[["75076947.fe6548"]]},{"id":"74451031.5ea36","type":"function","z":"3630b580.d488ca","name":"Set Pushbullet message","func":"msg.payload = \"Lights on: Daytime triggered\"\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":180,"wires":[["22e82873.dadd08"]]},{"id":"1146e510.4bcc9b","type":"function","z":"3630b580.d488ca","name":"Set Pushbullet message","func":"msg.payload = \"Lights on: Evening triggered\"\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["22e82873.dadd08"]]},{"id":"d364bf10.f8386","type":"server-state-changed","z":"3630b580.d488ca","name":"I leave","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","haltifstate":"on","x":70,"y":360,"wires":[["d31dbe23.f4931"]]},{"id":"7dc6f3c3.5c77fc","type":"api-call-service","z":"3630b580.d488ca","name":"Turn on leaving","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.leaving\"}","mergecontext":"","x":640,"y":360,"wires":[["ca10f1cb.fdd58"]]},{"id":"b4dc280d.b69828","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.midlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1200,"y":300,"wires":[["8572c95e.d794e8"]]},{"id":"18047332.d026bd","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.lowlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1040,"y":680,"wires":[["1f6dc87c.66c9e8"]]},{"id":"19e59fd.9045f6","type":"api-current-state","z":"3630b580.d488ca","name":"Is Messaging enabled?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.message_me_for_lights","x":910,"y":180,"wires":[["74451031.5ea36"]]},{"id":"75076947.fe6548","type":"api-current-state","z":"3630b580.d488ca","name":"Is Messaging enabled?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.message_me_for_lights","x":910,"y":280,"wires":[["1146e510.4bcc9b"]]},{"id":"10a03e5e.a68982","type":"api-current-state","z":"3630b580.d488ca","name":"Is Messaging enabled?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.message_me_for_lights","x":910,"y":240,"wires":[["e7ef6cc4.16618"]]},{"id":"ca10f1cb.fdd58","type":"api-current-state","z":"3630b580.d488ca","name":"Is Messaging enabled?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.message_me_for_lights","x":910,"y":360,"wires":[["ac732a49.c40d58"]]},{"id":"ac732a49.c40d58","type":"function","z":"3630b580.d488ca","name":"Set Pushbullet message","func":"msg.payload = \"Leaving triggered\"\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":360,"wires":[["22e82873.dadd08"]]},{"id":"b437a608.a8bb08","type":"switch","z":"3630b580.d488ca","name":"Remove duplicate events","property":"IsGone","propertyType":"flow","rules":[{"t":"true"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":40,"wires":[["23919119.7c434e"],["23919119.7c434e"]]},{"id":"d31dbe23.f4931","type":"switch","z":"3630b580.d488ca","name":"Remove duplicate events","property":"IsGone","propertyType":"flow","rules":[{"t":"false"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":360,"wires":[["6a6c4eae.29937"],["6a6c4eae.29937"]]},{"id":"23919119.7c434e","type":"change","z":"3630b580.d488ca","name":"","rules":[{"t":"set","p":"IsGone","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":40,"wires":[["9b85367e.044188"]]},{"id":"6a6c4eae.29937","type":"change","z":"3630b580.d488ca","name":"","rules":[{"t":"set","p":"IsGone","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":360,"wires":[["7dc6f3c3.5c77fc"]]},{"id":"4ff156ff.02fbf8","type":"http in","z":"eef2c7ac.0250c8","name":"Get \"Going on a run\" command from IFTTT","url":"/goingonarun","method":"get","upload":false,"swaggerDoc":"","x":220,"y":660,"wires":[["5f561563.34579c","f12f1f79.4e1b1","f179a90d.1746d8"]]},{"id":"f179a90d.1746d8","type":"delay","z":"eef2c7ac.0250c8","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":660,"wires":[["4e28e9bc.b7fe98","6f551989.316ee8"]]},{"id":"34c85aab.9355e6","type":"ifttt out","z":"b73bc626.338978","eventName":"tv_off","key":"78dd16d3.bb4168","x":390,"y":180,"wires":[]},{"id":"de7de37c.473f9","type":"server-state-changed","z":"b73bc626.338978","name":"I leave","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","haltifstate":"on","x":110,"y":440,"wires":[["121659a0.22c006","c7bfad38.0ce1b","61ad4e68.02901","cc9e968c.f73278","af076714.2cec98"]]},{"id":"121659a0.22c006","type":"ifttt out","z":"b73bc626.338978","eventName":"tv_off","key":"78dd16d3.bb4168","x":370,"y":400,"wires":[]},{"id":"670eaf0f.76c6c","type":"api-current-state","z":"b4d499b5.d319a8","name":"Is Coop Open?","server":"8d541f4c.9410b","halt_if":"open","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"cover.chicken_coop_door","x":1020,"y":100,"wires":[["691390a5.ff3e8"]]},{"id":"cf31a581.e6b348","type":"mqtt out","z":"4702fd19.dc7d64","name":"Send Update Location command","topic":"owntracks/David/Pixel/cmd","qos":"2","retain":"false","broker":"a2e7a884.4d6948","x":760,"y":180,"wires":[]},{"id":"6aa6457f.3f74dc","type":"function","z":"4702fd19.dc7d64","name":"Set MQTT Payload","func":"var newMsg =  {  \n   payload:\n   {  \n      \"_type\": \"cmd\",\n      \"action\":\"reportLocation\"\n   }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["cf31a581.e6b348"]]},{"id":"137f0515.9fed1b","type":"server-state-changed","z":"4702fd19.dc7d64","name":"Garage opens","server":"8d541f4c.9410b","entityidfilter":"cover.garage_door_opener","entityidfiltertype":"substring","haltifstate":"closed","outputinitially":false,"x":80,"y":180,"wires":[["8f556ee9.383f6"]]},{"id":"8f556ee9.383f6","type":"api-current-state","z":"4702fd19.dc7d64","name":"I'm gone","server":"8d541f4c.9410b","halt_if":"on","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.is_david_home","x":260,"y":180,"wires":[["6aa6457f.3f74dc"]]},{"id":"b95818d.05d79e8","type":"switch","z":"b4d499b5.d319a8","name":"Check setting to continue","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Noon","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":80,"wires":[["670eaf0f.76c6c"]]},{"id":"408e60ad.40aa6","type":"switch","z":"b4d499b5.d319a8","name":"Check setting to continue","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Sunrise","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":120,"wires":[["670eaf0f.76c6c"]]},{"id":"8baad4cc.e29e48","type":"api-call-service","z":"b73bc626.338978","name":"Turn off office ceiling fan","server":"8d541f4c.9410b","service_domain":"climate","service":"set_fan_mode","data":"{   \"entity_id\": \"climate.office_ceiling_fan\",  \"fan_mode\":\"off\" }","mergecontext":"","x":450,"y":100,"wires":[[]]},{"id":"fce80a1a.98aea8","type":"api-call-service","z":"b73bc626.338978","name":"Turn on bedroom ceiling fan","server":"8d541f4c.9410b","service_domain":"climate","service":"set_fan_mode","data":"{\"entity_id\":\"climate.bedroom_ceiling_fan\",\"fan_mode\":\"low\"}","render_data":false,"mergecontext":"","x":460,"y":60,"wires":[[]]},{"id":"c7bfad38.0ce1b","type":"api-call-service","z":"b73bc626.338978","name":"Turn off office ceiling fan","server":"8d541f4c.9410b","service_domain":"climate","service":"set_fan_mode","data":"{   \"entity_id\": \"climate.office_ceiling_fan\",  \"fan_mode\":\"off\" }","mergecontext":"","x":430,"y":440,"wires":[[]]},{"id":"61ad4e68.02901","type":"api-call-service","z":"b73bc626.338978","name":"Turn off bedroom ceiling fan","server":"8d541f4c.9410b","service_domain":"climate","service":"set_fan_mode","data":"{   \"entity_id\": \"climate.bedroom_ceiling_fan\",  \"fan_mode\":\"off\" }","mergecontext":"","x":440,"y":480,"wires":[[]]},{"id":"e55cd0f7.f155d","type":"api-current-state","z":"b73bc626.338978","name":"Check if office fan light is on","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.office_fan_light","x":460,"y":280,"wires":[["6435242a.bbda1c"]]},{"id":"6435242a.bbda1c","type":"api-call-service","z":"b73bc626.338978","name":"Turn off office fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.office_fan_light\" }","mergecontext":"","x":740,"y":280,"wires":[[]]},{"id":"d1228725.f2be88","type":"api-current-state","z":"b73bc626.338978","name":"Check if bedroom fan light is on","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.bedroom_fan_light","x":470,"y":320,"wires":[["8e7db7bf.0a3ef8"]]},{"id":"8e7db7bf.0a3ef8","type":"api-call-service","z":"b73bc626.338978","name":"Turn off bedroom fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.bedroom_fan_light\" }","mergecontext":"","x":750,"y":320,"wires":[[]]},{"id":"cc9e968c.f73278","type":"api-current-state","z":"b73bc626.338978","name":"Check if office fan light is on","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.office_fan_light","x":440,"y":520,"wires":[["f93a6995.0c8bf8"]]},{"id":"f93a6995.0c8bf8","type":"api-call-service","z":"b73bc626.338978","name":"Turn off office fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.office_fan_light\" }","mergecontext":"","x":720,"y":520,"wires":[[]]},{"id":"af076714.2cec98","type":"api-current-state","z":"b73bc626.338978","name":"Check if bedroom fan light is on","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.bedroom_fan_light","x":450,"y":560,"wires":[["6d623959.36f1a8"]]},{"id":"6d623959.36f1a8","type":"api-call-service","z":"b73bc626.338978","name":"Turn off bedroom fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.bedroom_fan_light\" }","mergecontext":"","x":730,"y":560,"wires":[[]]},{"id":"34439b29.bcf524","type":"http in","z":"b73bc626.338978","name":"Good Morning from IFTTT","url":"/goodmorning","method":"get","upload":false,"swaggerDoc":"","x":130,"y":720,"wires":[["a8a54de2.0ba96","3380fab0.6751d6","a254ceb7.712b7"]]},{"id":"a8a54de2.0ba96","type":"api-call-service","z":"b73bc626.338978","name":"Wink: Good Morning","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.good_morning\"}","mergecontext":"","x":460,"y":680,"wires":[[]]},{"id":"3380fab0.6751d6","type":"api-call-service","z":"b73bc626.338978","name":"Turn off bedroom ceiling fan","server":"8d541f4c.9410b","service_domain":"climate","service":"set_fan_mode","data":"{   \"entity_id\": \"climate.bedroom_ceiling_fan\",  \"fan_mode\":\"off\" }","mergecontext":"","x":480,"y":740,"wires":[[]]},{"id":"de058134.d50c2","type":"http in","z":"50eef82.f52fa08","name":"Toggle Ceiling Light Request from IFTTT","url":"/ceilingfantoggle","method":"post","upload":false,"swaggerDoc":"","x":190,"y":80,"wires":[["5b99e2c7.6a39dc"]]},{"id":"5b99e2c7.6a39dc","type":"switch","z":"50eef82.f52fa08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"office","vt":"str"},{"t":"cont","v":"bedroom","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":80,"wires":[["6cdf5f4c.299c5"],["12031625.cab6ba"]]},{"id":"6cdf5f4c.299c5","type":"api-call-service","z":"50eef82.f52fa08","name":"Toggle the office fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.office_fan_light\" }","mergecontext":"","x":710,"y":60,"wires":[[]]},{"id":"12031625.cab6ba","type":"api-call-service","z":"50eef82.f52fa08","name":"Toggle the bedroom fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.bedroom_fan_light\" }","mergecontext":"","x":720,"y":100,"wires":[[]]},{"id":"d8787965.195628","type":"http in","z":"50eef82.f52fa08","name":"Get Fan Speed Request from IFTTT","url":"/fanspeed","method":"post","upload":false,"swaggerDoc":"","x":170,"y":260,"wires":[["4db59a48.036504"]]},{"id":"4db59a48.036504","type":"change","z":"50eef82.f52fa08","name":"Convert Fan Speed to Text","rules":[{"t":"change","p":"payload[\"speed\"]","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload[\"speed\"]","pt":"msg","from":"1","fromt":"num","to":"low","tot":"str"},{"t":"change","p":"payload[\"speed\"]","pt":"msg","from":"2","fromt":"num","to":"medium","tot":"str"},{"t":"change","p":"payload[\"speed\"]","pt":"msg","from":"3","fromt":"num","to":"high","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["e9f9a33c.2c8ec"]]},{"id":"ef2fd571.eaab38","type":"function","z":"50eef82.f52fa08","name":"Set payload for call","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"climate.\"+ msg.payload[\"fan\"] + \"_ceiling_fan\",\n         \"fan_mode\": msg.payload[\"speed\"]\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["9a3a8072.042c4"]]},{"id":"9a3a8072.042c4","type":"api-call-service","z":"50eef82.f52fa08","name":"Set Fan Speed","server":"8d541f4c.9410b","service_domain":"climate","service":"set_fan_mode","data":"","mergecontext":"","x":880,"y":260,"wires":[[]]},{"id":"e9f9a33c.2c8ec","type":"change","z":"50eef82.f52fa08","name":"Clean up fan input","rules":[{"t":"change","p":"payload[\"fan\"]","pt":"msg","from":"the office","fromt":"str","to":"office","tot":"str"},{"t":"change","p":"payload[\"fan\"]","pt":"msg","from":"the bedroom","fromt":"str","to":"bedroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":260,"wires":[["ef2fd571.eaab38"]]},{"id":"a254ceb7.712b7","type":"api-current-state","z":"b73bc626.338978","name":"Check if bedroom fan light is on","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.bedroom_fan_light","x":490,"y":800,"wires":[["1306b712.719bd9"]]},{"id":"1306b712.719bd9","type":"api-call-service","z":"b73bc626.338978","name":"Turn off bedroom fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.bedroom_fan_light\" }","mergecontext":"","x":770,"y":800,"wires":[[]]},{"id":"e5728604.0227f8","type":"server-state-changed","z":"ebc1df31.59b41","name":"Leak Detected","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.leak_sensor_liquid_detected","entityidfiltertype":"substring","haltifstate":"dry","outputinitially":false,"x":100,"y":120,"wires":[["af8d703a.445e3"]]},{"id":"cc61ea16.24bef8","type":"function","z":"ebc1df31.59b41","name":"Set Pushbullet message","func":"msg.payload = \"Water heater leak detected!\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["dbd76b6a.70cf68"]]},{"id":"dbd76b6a.70cf68","type":"pushbullet","z":"ebc1df31.59b41","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify Me","x":860,"y":240,"wires":[]},{"id":"9e75337a.80e2e","type":"change","z":"ebc1df31.59b41","name":"Set notified flag to true","rules":[{"t":"set","p":"BeenNotified","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":240,"wires":[["cc61ea16.24bef8"]]},{"id":"af8d703a.445e3","type":"switch","z":"ebc1df31.59b41","name":"Check to see if I've been notified yet today","property":"BeenNotified","propertyType":"flow","rules":[{"t":"false"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":180,"wires":[["9e75337a.80e2e"],["9e75337a.80e2e"]]},{"id":"f2b06a7.2958498","type":"inject","z":"ebc1df31.59b41","name":"Reset notification flag","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["82e8f3cc.b1046"]]},{"id":"82e8f3cc.b1046","type":"change","z":"ebc1df31.59b41","name":"Reset notification flag","rules":[{"t":"set","p":"BeenNotified","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":360,"wires":[[]]},{"id":"798b90b4.fff8e","type":"inject","z":"f2e05ad4.a599c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":620,"wires":[["eb88869c.14d2b8"]]},{"id":"4f485aa5.f1cab4","type":"eztimer","z":"f2e05ad4.a599c8","name":"","autoname":"sunrise","suspended":false,"lat":"30.2171827","lon":"-97.8351872","timerType":"2","startupMessage":true,"ontype":"1","ontimesun":"sunrise","ontimetod":"19:55","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":0,"onrandomoffset":0,"offtype":"1","offtimesun":"dusk","offtimetod":"dusk","offduration":0,"offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":700,"y":620,"wires":[["7e9d6c8b.5f58f4"]]},{"id":"7e9d6c8b.5f58f4","type":"debug","z":"f2e05ad4.a599c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":620,"wires":[]},{"id":"eb88869c.14d2b8","type":"api-current-state","z":"f2e05ad4.a599c8","name":"","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sun.sun","x":260,"y":620,"wires":[["a72f6a50.5b7d68"]]},{"id":"eb7bc420.a651c8","type":"template","z":"f2e05ad4.a599c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{% set nr = as_timestamp(data.attributes.next_rising) %}\n{% set ns = as_timestamp(data.attributes.next_rising) %}\n{% if nr > ns %} \n  {% set nr = nr - 60*60*24 %} \n{% endif %} \n\n{% set offset_on = (14*3600 - (ns - nr)) %}\n{%set light_on = as_timestamp(data.attributes.next_rising) - offset_on  %}\n{{light_on |timestamp_local }}","output":"str","x":480,"y":520,"wires":[[]]},{"id":"a72f6a50.5b7d68","type":"function","z":"f2e05ad4.a599c8","name":"","func":"ns = Date.parse(msg.data.attributes.next_setting);\nnr = Date.parse(msg.data.attributes.next_rising);\n\ntotal_daylight = (ns - nr) / 1000;\nlight_needed = (14*3600 - total_daylight) / 60 * -1;\n\nmsg.payload = \"onoffset \" + light_needed.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":640,"wires":[["4f485aa5.f1cab4"]]},{"id":"7dbce4b9.fb21fc","type":"inject","z":"f2e05ad4.a599c8","name":"","topic":"","payload":"onoffset -30","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":580,"wires":[["4f485aa5.f1cab4"]]}]