node-red/.flows.json.backup
[{"id":"3d3b5498.932ddc","type":"tab","label":"Slow Dim","disabled":false,"info":""},{"id":"5b297b5b.269ea4","type":"tab","label":"Voice commands","disabled":false,"info":""},{"id":"f2e05ad4.a599c8","type":"tab","label":"Automatic Lights","disabled":false,"info":""},{"id":"b4d499b5.d319a8","type":"tab","label":"Open/Close Coop Door","disabled":false,"info":""},{"id":"eef2c7ac.0250c8","type":"tab","label":"Disable/Enable automations","disabled":false,"info":""},{"id":"b73bc626.338978","type":"tab","label":"Augmented Leaving","disabled":false,"info":""},{"id":"90bc0fb1.6948e","type":"tab","label":"Automated Vacuum","disabled":false,"info":""},{"id":"3630b580.d488ca","type":"tab","label":"Arrive/Leave","disabled":false,"info":""},{"id":"4702fd19.dc7d64","type":"tab","label":"Force Location update","disabled":false,"info":""},{"id":"2386127a.8ff00e","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"ebc1df31.59b41","type":"tab","label":"Leak Sensor","disabled":false,"info":""},{"id":"e6dd59e2.eb32a8","type":"tab","label":"Chicken Pi Online/Offline","disabled":true,"info":""},{"id":"4bbd927d.3e842c","type":"tab","label":"DHT","disabled":false,"info":""},{"id":"8d541f4c.9410b","type":"server","z":"","name":"Home Assistant"},{"id":"e3af4efc.43df7","type":"pushbullet-config","z":"","name":"Pushbullet"},{"id":"a2e7a884.4d6948","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"78dd16d3.bb4168","type":"ifttt-key","z":""},{"id":"ca513353.b6e7b","type":"inject","z":"f2e05ad4.a599c8","name":"Wake up time M T W Th F","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"30 08 * * 1,2,3,4,5","once":false,"onceDelay":"","x":180,"y":120,"wires":[["231173d5.05979c"]]},{"id":"90318a0c.aad7b8","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Turn on bedroom lights","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bedroom_area\",\"transition\":60,\"brightness_pct\":100}","mergecontext":"","x":920,"y":120,"wires":[[]]},{"id":"5bb4f71e.8a5248","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn off both command from IFTTT","url":"/disableAutos","method":"get","upload":false,"swaggerDoc":"","x":210,"y":60,"wires":[["f1e25a7e.344e68","e46cc3da.efa7b","91ea1923.39a038"]]},{"id":"f1e25a7e.344e68","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn off Sunset Auto-Dim","server":"8d541f4c.9410b","service_domain":"input_boolean","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.sunset_auto_dim_lights\" }","mergecontext":"","x":870,"y":80,"wires":[[]]},{"id":"e46cc3da.efa7b","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn off Late Night Auto-Dim","server":"8d541f4c.9410b","service_domain":"input_boolean","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.late_night_auto_dim_lights\" }","mergecontext":"","x":880,"y":120,"wires":[[]]},{"id":"91ea1923.39a038","type":"delay","z":"eef2c7ac.0250c8","name":"Wait to turn back on","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":180,"wires":[["a5be61ef.277d4"]]},{"id":"f9b4d8.de154b28","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn on Sunset Auto-Dim","server":"8d541f4c.9410b","service_domain":"input_boolean","service":"turn_on","data":"{   \"entity_id\": \"input_boolean.sunset_auto_dim_lights\" }","mergecontext":"","x":870,"y":300,"wires":[[]]},{"id":"45530ebb.ac14e","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn on Late Night Auto-Dim","server":"8d541f4c.9410b","service_domain":"input_boolean","service":"turn_on","data":"{   \"entity_id\": \"input_boolean.late_night_auto_dim_lights\" }","mergecontext":"","x":880,"y":340,"wires":[[]]},{"id":"9d6da202.6b4f3","type":"server-state-changed","z":"90bc0fb1.6948e","name":"I leave","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","haltifstate":"on","outputs":1,"x":80,"y":120,"wires":[["97ff0248.0ab66"]]},{"id":"874468d4.b3f718","type":"api-current-state","z":"90bc0fb1.6948e","name":"if I'm still gone...","server":"8d541f4c.9410b","outputs":1,"halt_if":"on","override_topic":true,"entity_id":"binary_sensor.is_david_home","override_payload":true,"x":460,"y":240,"wires":[["722e7cf4.54eeb4"]]},{"id":"97ff0248.0ab66","type":"function","z":"90bc0fb1.6948e","name":"Check to see if job has run today","func":"var hasVacuumedToday = flow.get('hasVacuumedToday')||false;\n\nif(hasVacuumedToday === true)\n    return null;\n\nvar date = new Date();\nmsg.Day = date.getDay();\nmsg.loopCount = 1;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["90695287.dc6a4","a1c0f00c.9e077"]]},{"id":"b70daf74.00be4","type":"server-state-changed","z":"90bc0fb1.6948e","name":"I return","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":70,"y":720,"wires":[["4730ccd7.2b8e04"]]},{"id":"ff7c586.1b472a8","type":"function","z":"90bc0fb1.6948e","name":"*deprecated* - Check to see if today is not Tu, W, or Th","func":"var date = new Date();\n\nif (date.Day === 2 \n    || date.Day === 3\n    || date.Day === 4) //is Tuesday Wednesday or Thursday \n{\n    return null;\n}\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":360,"y":1000,"wires":[[]]},{"id":"6e4f79a2.918628","type":"pushbullet","z":"90bc0fb1.6948e","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify me via Pushbullet","x":890,"y":540,"wires":[]},{"id":"477c574c.986898","type":"function","z":"90bc0fb1.6948e","name":"Set pushbullet payload and set run flag","func":"\n//flow.set('hasVacuumedToday', true);\nflow.set('isGone', true)\nmsg.payload = \"Roomba activated\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":480,"wires":[["6e4f79a2.918628"]]},{"id":"7aeda2c.7cfd65c","type":"ifttt out","z":"90bc0fb1.6948e","eventName":"start_vacuum","key":"78dd16d3.bb4168","x":820,"y":360,"wires":[]},{"id":"e67ddb21.c958c8","type":"ifttt out","z":"90bc0fb1.6948e","eventName":"return_to_base","key":"78dd16d3.bb4168","x":920,"y":760,"wires":[]},{"id":"c885e34.5ec652","type":"inject","z":"90bc0fb1.6948e","name":"Reset once per day lock","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["3115192d.9318b6"]]},{"id":"3115192d.9318b6","type":"change","z":"90bc0fb1.6948e","name":"","rules":[{"t":"set","p":"hasVacuumedToday","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":40,"wires":[[]]},{"id":"a76e9162.85828","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn on command from IFTTT","url":"/enableAutos","method":"get","upload":false,"swaggerDoc":"","x":190,"y":320,"wires":[["f9b4d8.de154b28","45530ebb.ac14e"]]},{"id":"caeb0b01.7f3668","type":"delay","z":"90bc0fb1.6948e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":760,"wires":[["e67ddb21.c958c8"]]},{"id":"fc346887.298fa8","type":"ifttt out","z":"90bc0fb1.6948e","eventName":"stop_vacuum","key":"78dd16d3.bb4168","x":770,"y":700,"wires":[]},{"id":"63324244.20d35c","type":"server-state-changed","z":"e6dd59e2.eb32a8","name":"Chicken Pi goes offline","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.health_check","entityidfiltertype":"substring","haltifstate":"on","outputs":1,"x":140,"y":120,"wires":[["7cd7a626.a02168"]]},{"id":"7cd7a626.a02168","type":"delay","z":"e6dd59e2.eb32a8","name":"Wait 3 minutes...","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":120,"wires":[["6993638f.af39ec"]]},{"id":"6993638f.af39ec","type":"api-current-state","z":"e6dd59e2.eb32a8","name":"Still offline","server":"8d541f4c.9410b","outputs":1,"halt_if":"on","override_topic":true,"entity_id":"binary_sensor.health_check","override_payload":true,"x":590,"y":120,"wires":[["28daf0ea.69bce","bdf1d7b0.479548"]]},{"id":"28daf0ea.69bce","type":"function","z":"e6dd59e2.eb32a8","name":"Set payload for Pushbullet","func":"msg.payload = \"Chicken Pi is offline\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":120,"wires":[["ccf4f813.921b78","7c16b071.18333"]]},{"id":"ccf4f813.921b78","type":"pushbullet","z":"e6dd59e2.eb32a8","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify me","x":1080,"y":120,"wires":[]},{"id":"bdf1d7b0.479548","type":"change","z":"e6dd59e2.eb32a8","name":"Set PiOffline to true","rules":[{"t":"set","p":"PiOffline","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":180,"wires":[[]]},{"id":"99f4e232.c0e91","type":"function","z":"e6dd59e2.eb32a8","name":"Check to see if it was truly offline","func":"piOffline = flow.get('PiOffline') || false\n\nif(piOffline === false)\n{\n    return null;\n}\n\nmsg.payload = \"Chicken Pi is back online\"\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":340,"wires":[["f92ce642.da32c8","57c7e.1f61e383","7c16b071.18333"]]},{"id":"2fad4b59.7761b4","type":"server-state-changed","z":"e6dd59e2.eb32a8","name":"Chicken Pi goes online","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.health_check","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":140,"y":340,"wires":[["99f4e232.c0e91"]]},{"id":"f92ce642.da32c8","type":"pushbullet","z":"e6dd59e2.eb32a8","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify me","x":760,"y":340,"wires":[]},{"id":"57c7e.1f61e383","type":"change","z":"e6dd59e2.eb32a8","name":"Set PiOffline to false","rules":[{"t":"set","p":"PiOffline","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":400,"wires":[[]]},{"id":"7c16b071.18333","type":"debug","z":"e6dd59e2.eb32a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":260,"wires":[]},{"id":"dd45e0f5.059c5","type":"switch","z":"b4d499b5.d319a8","name":"Open/Close switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunrise","vt":"str"},{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":140,"wires":[["94043d72.33fde"],["398689f.e866c76"]]},{"id":"691390a5.ff3e8","type":"api-call-service","z":"b4d499b5.d319a8","name":"Open Coop Door","server":"8d541f4c.9410b","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.chicken_coop_door\"}","mergecontext":"","x":1230,"y":100,"wires":[["a211fd6b.90924"]]},{"id":"8b399200.f274","type":"api-call-service","z":"b4d499b5.d319a8","name":"Close Coop Door","server":"8d541f4c.9410b","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.chicken_coop_door\"}","mergecontext":"","x":1030,"y":180,"wires":[["5f2ee8f1.eeedc8"]]},{"id":"be7eab05.633b68","type":"change","z":"90bc0fb1.6948e","name":"increment counter","rules":[{"t":"set","p":"loopCount","pt":"msg","to":"msg.loopCount + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":360,"wires":[["76d36824.10a2c8","a1c0f00c.9e077"]]},{"id":"722e7cf4.54eeb4","type":"switch","z":"90bc0fb1.6948e","name":"Keep looping if < 30 mins; start vacuum otherwise","property":"loopCount","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"str"},{"t":"eq","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":440,"wires":[["be7eab05.633b68"],["9e4e1828.8557a8"]]},{"id":"ff1a852.d6ce878","type":"comment","z":"90bc0fb1.6948e","name":"<-- Loop for 30 minutes, check every minute to see if I have returned","info":"","x":900,"y":220,"wires":[]},{"id":"90695287.dc6a4","type":"switch","z":"90bc0fb1.6948e","name":"Day of Week","property":"Day","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":7,"x":110,"y":240,"wires":[["76d36824.10a2c8"],[],["76d36824.10a2c8"],["76d36824.10a2c8"],["76d36824.10a2c8"],[],["76d36824.10a2c8"]],"outputLabels":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]},{"id":"4a8c7654.eb2418","type":"function","z":"b4d499b5.d319a8","name":"Set Pushbullet message","func":"msg.payload = \"Chicken coop door closed\"\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":180,"wires":[["e7a2ee50.e1121"]]},{"id":"a211fd6b.90924","type":"function","z":"b4d499b5.d319a8","name":"Set Pushbullet message","func":"msg.payload = \"Chicken coop door opened\"\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":100,"wires":[["e7a2ee50.e1121"]]},{"id":"5de57125.f2ab1","type":"pushbullet","z":"b4d499b5.d319a8","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify Me","x":1960,"y":200,"wires":[]},{"id":"4730ccd7.2b8e04","type":"function","z":"90bc0fb1.6948e","name":"Prevent random 'on's from stopping a job while I'm home","func":"isGone = flow.get(\"isGone\") || false;\n\nif(isGone)\n{\n    flow.set(\"isGone\", false);\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":410,"y":720,"wires":[["fc346887.298fa8","caeb0b01.7f3668"]]},{"id":"96267386.af92e","type":"function","z":"b4d499b5.d319a8","name":"Set Pushbullet message if still open","func":"msg.payload = \"Coop Door is still open!!\"\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":220,"wires":[["5de57125.f2ab1"]]},{"id":"f65ae241.355e5","type":"http in","z":"5b297b5b.269ea4","name":"Open garage command from IFTTT","url":"/open_garage","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["36709171.61c25e","d54afe98.fda62"]]},{"id":"21ae9bc8.7d9a54","type":"http in","z":"5b297b5b.269ea4","name":"Close garage command from IFTTT","url":"/close_garage","method":"get","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["fd0b485.0fdd0b8","cdbac61a.21ac08"]]},{"id":"36709171.61c25e","type":"api-call-service","z":"5b297b5b.269ea4","name":"Open the garage door","server":"8d541f4c.9410b","service_domain":"cover","service":"open_cover","data":"{   \"entity_id\": \"cover.garage_door_opener\" }","mergecontext":"","x":520,"y":100,"wires":[[]]},{"id":"fd0b485.0fdd0b8","type":"api-call-service","z":"5b297b5b.269ea4","name":"Close the garage door","server":"8d541f4c.9410b","service_domain":"cover","service":"close_cover","data":"{   \"entity_id\": \"cover.garage_door_opener\" }","mergecontext":"","x":520,"y":200,"wires":[[]]},{"id":"a5be61ef.277d4","type":"timecheck","z":"eef2c7ac.0250c8","name":"","time":"00:00","x":590,"y":260,"wires":[["91ea1923.39a038"],["f9b4d8.de154b28","45530ebb.ac14e"]]},{"id":"12bfad09.811e03","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn off late night command from IFTTT","url":"/turn_off_late_night","method":"get","upload":false,"swaggerDoc":"","x":220,"y":120,"wires":[["e46cc3da.efa7b","91ea1923.39a038"]]},{"id":"451de78a.9867c8","type":"sun events","z":"3d3b5498.932ddc","testmode":false,"verbose":false,"topic":"","name":"","x":80,"y":1240,"wires":[[]]},{"id":"43f50cec.dbe3d4","type":"switch","z":"3d3b5498.932ddc","name":"Is sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":80,"y":1300,"wires":[["da34a2b6.c93d7"]]},{"id":"7ecd5784.f3ac98","type":"mqtt in","z":"2386127a.8ff00e","name":"Any MQTT message","topic":"fanControl/OfficeFan/fan/light/state","qos":"2","broker":"a2e7a884.4d6948","x":200,"y":160,"wires":[["ebf0981e.f71648"]]},{"id":"ebf0981e.f71648","type":"debug","z":"2386127a.8ff00e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":160,"wires":[]},{"id":"942e844d.e75ca8","type":"inject","z":"2386127a.8ff00e","name":"David at work message","topic":"","payload":"{\"_type\":\"location\",\"acc\":18,\"alt\":197.3000030517578,\"batt\":77,\"conn\":\"m\",\"inregions\":[\"Work\"],\"lat\":30.2506502,\"lon\":-97.862467,\"t\":\"p\",\"tid\":\"px\",\"tst\":1533510186,\"vac\":2,\"vel\":0.0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["b54d9e8.78cb86"]]},{"id":"b54d9e8.78cb86","type":"mqtt out","z":"2386127a.8ff00e","name":"Send Dummy message","topic":"owntracks/David/Pixel","qos":"1","retain":"false","broker":"a2e7a884.4d6948","x":400,"y":340,"wires":[]},{"id":"87372872.566068","type":"inject","z":"2386127a.8ff00e","name":"David at Home","topic":"","payload":"{\"_type\":\"location\",\"acc\":100,\"alt\":0.0,\"batt\":74,\"conn\":\"m\",\"inregions\":[\"Home\"],\"lat\":30.2171827,\"lon\":-97.8351872,\"tid\":\"px\",\"tst\":1533139187,\"vac\":0,\"vel\":0.0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":380,"wires":[["b54d9e8.78cb86"]]},{"id":"c2213168.97eb6","type":"inject","z":"2386127a.8ff00e","name":"David at Away","topic":"","payload":"{\"_type\":\"location\",\"acc\":18,\"alt\":197.3000030517578,\"batt\":76,\"conn\":\"m\",\"lat\":31.2172376,\"lon\":-97.8351853,\"t\":\"u\",\"tid\":\"px\",\"tst\":1533511413,\"vac\":2,\"vel\":0.0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["b54d9e8.78cb86"]]},{"id":"a1c0f00c.9e077","type":"debug","z":"90bc0fb1.6948e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":120,"wires":[]},{"id":"76d36824.10a2c8","type":"delay","z":"90bc0fb1.6948e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":240,"wires":[["874468d4.b3f718"]]},{"id":"9e4e1828.8557a8","type":"switch","z":"90bc0fb1.6948e","name":"has not vacuumed Today?","property":"hasVacuumedToday","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":460,"wires":[["7aeda2c.7cfd65c","477c574c.986898","8019b6c2.cea0e8"]]},{"id":"8019b6c2.cea0e8","type":"change","z":"90bc0fb1.6948e","name":"","rules":[{"t":"set","p":"hasVacuumedToday","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":420,"wires":[[]]},{"id":"125b9ca7.ffb8d3","type":"http in","z":"b4d499b5.d319a8","name":"","url":"/openCoop","method":"get","upload":false,"swaggerDoc":"","x":140,"y":400,"wires":[["4c8c9ac3.e83104","f99dc736.32bd28"]]},{"id":"f99dc736.32bd28","type":"api-call-service","z":"b4d499b5.d319a8","name":"Open Coop Door","server":"8d541f4c.9410b","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.chicken_coop_door\"}","mergecontext":"","x":370,"y":340,"wires":[[]]},{"id":"3d0ba910.3bd596","type":"api-call-service","z":"b4d499b5.d319a8","name":"Close Coop Door","server":"8d541f4c.9410b","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.chicken_coop_door\"}","mergecontext":"","x":370,"y":480,"wires":[[]]},{"id":"92396ba6.94fa68","type":"http response","z":"b4d499b5.d319a8","name":"Respond","statusCode":"","headers":{},"x":560,"y":400,"wires":[]},{"id":"4c8c9ac3.e83104","type":"template","z":"b4d499b5.d319a8","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Open signal sent to coop door!</h1>\n    </body>\n</html>","x":370,"y":400,"wires":[["92396ba6.94fa68"]]},{"id":"f4fe4452.f8a168","type":"template","z":"b4d499b5.d319a8","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<html>\n    <head></head>\n    <body>\n        <h1>Close signal sent to coop door!</h1>\n    </body>\n</html>","x":370,"y":520,"wires":[["55a89774.d443e8"]]},{"id":"55a89774.d443e8","type":"http response","z":"b4d499b5.d319a8","name":"Respond","statusCode":"","headers":{"content-type":"text/html"},"x":560,"y":520,"wires":[]},{"id":"6b6b8f7c.fe4b6","type":"http in","z":"b4d499b5.d319a8","name":"","url":"/closeCoop","method":"get","upload":false,"swaggerDoc":"","x":150,"y":520,"wires":[["3d0ba910.3bd596","f4fe4452.f8a168"]]},{"id":"3efdf6d5.5ea35a","type":"inject","z":"b4d499b5.d319a8","name":"Open at noon","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["1a20a9a7.966066"]]},{"id":"1a20a9a7.966066","type":"api-current-state","z":"b4d499b5.d319a8","name":"Get open settings","server":"8d541f4c.9410b","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_select.chicken_coop_open","override_payload":true,"override_data":true,"x":550,"y":80,"wires":[["b95818d.05d79e8"]]},{"id":"94043d72.33fde","type":"api-current-state","z":"b4d499b5.d319a8","name":"Get open settings","server":"8d541f4c.9410b","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_select.chicken_coop_open","override_payload":true,"override_data":true,"x":550,"y":120,"wires":[["408e60ad.40aa6"]]},{"id":"5f561563.34579c","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn off \"Leaving\"","server":"8d541f4c.9410b","service_domain":"automation","service":"turn_off","data":"{   \"entity_id\": \"automation.leaving\" }","mergecontext":"","x":550,"y":500,"wires":[[]]},{"id":"cb1cb7e0.f4a408","type":"delay","z":"eef2c7ac.0250c8","name":"Wait 6h to turn back on","pauseType":"delay","timeout":"6","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":580,"wires":[["4e28e9bc.b7fe98","6f551989.316ee8"]]},{"id":"4e28e9bc.b7fe98","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn on \"Leaving\"","server":"8d541f4c.9410b","service_domain":"automation","service":"turn_on","data":"{   \"entity_id\": \"automation.leaving\" }","mergecontext":"","x":550,"y":780,"wires":[[]]},{"id":"959afefe.6aae","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn on command from IFTTT","url":"/turn_on_leaving","method":"get","upload":false,"swaggerDoc":"","x":190,"y":820,"wires":[["4e28e9bc.b7fe98","6f551989.316ee8"]]},{"id":"742f0bf2.aa3c24","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn off leaving command from IFTTT","url":"/turn_off_leaving","method":"get","upload":false,"swaggerDoc":"","x":220,"y":520,"wires":[["cb1cb7e0.f4a408","5f561563.34579c","f12f1f79.4e1b1"]]},{"id":"966a31cd.3e975","type":"comment","z":"eef2c7ac.0250c8","name":"v--- Automated leaving/arriving ","info":"","x":410,"y":460,"wires":[]},{"id":"f12f1f79.4e1b1","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn off Arriving automation","server":"8d541f4c.9410b","service_domain":"automation","service":"turn_off","data":"{\"entity_id\":\"automation.arrive\"}","mergecontext":"","x":580,"y":540,"wires":[[]]},{"id":"6f551989.316ee8","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn on Arriving automation","server":"8d541f4c.9410b","service_domain":"automation","service":"turn_on","data":"{\"entity_id\":\"automation.arrive\"}","mergecontext":"","x":580,"y":820,"wires":[[]]},{"id":"b3ff77ec.da2028","type":"api-current-state","z":"f2e05ad4.a599c8","name":"Turn on lights enabled","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.turn_on_lights_in_morning","override_payload":true,"x":660,"y":120,"wires":[["90318a0c.aad7b8"]]},{"id":"a6a489ec.4f83e8","type":"api-current-state","z":"3d3b5498.932ddc","name":"Get current brightness","server":"8d541f4c.9410b","outputs":1,"halt_if":"","override_topic":true,"entity_id":"light.main_area","override_payload":true,"override_data":true,"x":920,"y":1300,"wires":[["bac8ef1b.7f2f7","23bdc697.fe2aba"]]},{"id":"af25455a.f6d468","type":"change","z":"3d3b5498.932ddc","name":"","rules":[{"t":"set","p":"currentBrightness","pt":"flow","to":"data.attributes.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1360,"wires":[["a7e32f38.4b835"]]},{"id":"a7e32f38.4b835","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Lights","func":"var cb=flow.get('currentBrightness') - 1;\n\n\nvar newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n        // \"entity_id\":\"light.main_area\",\n         \"brightness\": cb\n      }\n   }\n};\n\nflow.set('currentBrightness',cb);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":740,"y":1420,"wires":[["77cf346e.c3b32c","14cac03b.df964","ceddfda9.ac7ac","6d48c11c.e1d5e"]]},{"id":"ceddfda9.ac7ac","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Main Area","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.main_area\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1000,"y":1420,"wires":[["abb3ae81.5a51e"]]},{"id":"bac8ef1b.7f2f7","type":"debug","z":"3d3b5498.932ddc","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.attributes.brightness","x":1220,"y":1300,"wires":[]},{"id":"abb3ae81.5a51e","type":"delay","z":"3d3b5498.932ddc","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":1540,"wires":[["f5224c0a.54acd"]]},{"id":"f5224c0a.54acd","type":"switch","z":"3d3b5498.932ddc","name":"Keep dimming until half brightness","property":"currentBrightness","propertyType":"flow","rules":[{"t":"gt","v":"127","vt":"num"},{"t":"lte","v":"127","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":1540,"wires":[["a7e32f38.4b835"],["b4dc280d.b69828"]]},{"id":"23bdc697.fe2aba","type":"switch","z":"3d3b5498.932ddc","name":"Dim if lights are too bright","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"120","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":1360,"wires":[["af25455a.f6d468"]]},{"id":"77cf346e.c3b32c","type":"debug","z":"3d3b5498.932ddc","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.brightness","x":1040,"y":1360,"wires":[]},{"id":"8572c95e.d794e8","type":"api-call-service","z":"3d3b5498.932ddc","name":"Turn on mid-level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1410,"y":1540,"wires":[[]]},{"id":"da34a2b6.c93d7","type":"delay","z":"3d3b5498.932ddc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":1300,"wires":[["cb0a1972.9c2638"]]},{"id":"2fcc51be.2150ee","type":"inject","z":"3d3b5498.932ddc","name":"10 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":80,"y":1720,"wires":[[]]},{"id":"69fa2590.16196c","type":"api-current-state","z":"3d3b5498.932ddc","name":"Get current brightness","server":"8d541f4c.9410b","outputs":1,"halt_if":"","override_topic":true,"entity_id":"light.main_area","override_payload":true,"override_data":true,"x":780,"y":1720,"wires":[["97d75708.582758","bcaba8ae.6c0d68"]]},{"id":"ceefc302.fa5a4","type":"change","z":"3d3b5498.932ddc","name":"","rules":[{"t":"set","p":"currentBrightness","pt":"flow","to":"data.attributes.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1780,"wires":[["27ebc7ba.5dc268"]]},{"id":"27ebc7ba.5dc268","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Lights","func":"var cb=flow.get('currentBrightness') - 1;\n\n\nvar newMsg =  {  \n   payload:\n   {  \n      \"data\":{\n         \"brightness\": cb\n      }\n   }\n};\n\nflow.set('currentBrightness',cb);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":580,"y":1840,"wires":[["b36274cd.ad2fe8","faf46bb2.a57718","450f47ec.01ca18","b983b345.bcf4"]]},{"id":"b36274cd.ad2fe8","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Main Area","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.main_area\"}","mergecontext":"","x":820,"y":1840,"wires":[["a0b767d6.268218"]]},{"id":"bcaba8ae.6c0d68","type":"debug","z":"3d3b5498.932ddc","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.attributes.brightness","x":1100,"y":1720,"wires":[]},{"id":"a0b767d6.268218","type":"delay","z":"3d3b5498.932ddc","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":2020,"wires":[["c06a79bd.dcd798"]]},{"id":"c06a79bd.dcd798","type":"switch","z":"3d3b5498.932ddc","name":"Keep dimming until 30% brightness","property":"currentBrightness","propertyType":"flow","rules":[{"t":"gt","v":"77","vt":"str"},{"t":"lte","v":"77","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2020,"wires":[["27ebc7ba.5dc268"],["18047332.d026bd"]]},{"id":"97d75708.582758","type":"switch","z":"3d3b5498.932ddc","name":"Dim if lights are too bright","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"82","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1780,"wires":[["ceefc302.fa5a4"]]},{"id":"faf46bb2.a57718","type":"debug","z":"3d3b5498.932ddc","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.brightness","x":880,"y":1780,"wires":[]},{"id":"1f6dc87c.66c9e8","type":"api-call-service","z":"3d3b5498.932ddc","name":"Turn on low level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1210,"y":2020,"wires":[[]]},{"id":"fb6aa5bc.013898","type":"inject","z":"3d3b5498.932ddc","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":1240,"wires":[["a6a489ec.4f83e8"]]},{"id":"9e245015.14f3f","type":"comment","z":"3d3b5498.932ddc","name":"Sunset Dim","info":"","x":670,"y":1240,"wires":[]},{"id":"cffd6a6f.30ae28","type":"comment","z":"3d3b5498.932ddc","name":"Late Night 10 PM Dim","info":"","x":600,"y":1620,"wires":[]},{"id":"b84811bf.e75ce","type":"api-current-state","z":"3d3b5498.932ddc","name":"Am I home?","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"binary_sensor.is_david_home","override_payload":true,"x":270,"y":1720,"wires":[["53c25752.45da18"]]},{"id":"cb0a1972.9c2638","type":"api-current-state","z":"3d3b5498.932ddc","name":"Am I home?","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"binary_sensor.is_david_home","override_payload":true,"x":430,"y":1300,"wires":[["811643a3.8ccca"]]},{"id":"6e1dbe8a.9bfd1","type":"sun events","z":"f2e05ad4.a599c8","testmode":false,"verbose":false,"topic":"","name":"","x":80,"y":340,"wires":[["d498e56e.443aa8"]]},{"id":"d498e56e.443aa8","type":"switch","z":"f2e05ad4.a599c8","name":"Is sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":340,"wires":[["7071c442.11692c"]]},{"id":"7071c442.11692c","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Turn on Porch Light","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch\",\"brightness_pct\":\"100\"}","mergecontext":"","x":510,"y":340,"wires":[[]]},{"id":"13b7732b.511b7d","type":"inject","z":"f2e05ad4.a599c8","name":"9 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["7dbcc71c.d3eeb8"]]},{"id":"7dbcc71c.d3eeb8","type":"api-current-state","z":"f2e05ad4.a599c8","name":"Is Porch light on?","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"light.porch","override_payload":true,"x":290,"y":400,"wires":[["2e6a2272.0d71fe"]]},{"id":"2e6a2272.0d71fe","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Dim Porch light","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch\",\"brightness_pct\":\"20\"}","mergecontext":"","x":500,"y":400,"wires":[[]]},{"id":"86a0ee5b.544d","type":"inject","z":"f2e05ad4.a599c8","name":"Midnight","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":100,"y":460,"wires":[["24afa3f9.3ba09c"]]},{"id":"24afa3f9.3ba09c","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Turn off Porch light","server":"8d541f4c.9410b","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"light.porch\" }","mergecontext":"","x":510,"y":460,"wires":[[]]},{"id":"8c19d339.f01af","type":"comment","z":"f2e05ad4.a599c8","name":"Morning Bedroom Lights","info":"","x":410,"y":60,"wires":[]},{"id":"e76f5250.c9983","type":"comment","z":"f2e05ad4.a599c8","name":"Porch Light","info":"","x":310,"y":280,"wires":[]},{"id":"53c25752.45da18","type":"api-current-state","z":"3d3b5498.932ddc","name":"Is Auto Dimming enabled?","server":"8d541f4c.9410b","outputs":2,"halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.late_night_auto_dim_lights","state_type":"str","override_payload":true,"override_data":true,"x":500,"y":1720,"wires":[["69fa2590.16196c"],[]]},{"id":"811643a3.8ccca","type":"api-current-state","z":"3d3b5498.932ddc","name":"Is Auto Dimming enabled?","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.sunset_auto_dim_lights","override_payload":true,"x":660,"y":1300,"wires":[["a6a489ec.4f83e8"]]},{"id":"d27d8759.fe86f8","type":"inject","z":"3d3b5498.932ddc","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":1660,"wires":[["69fa2590.16196c"]]},{"id":"231173d5.05979c","type":"api-current-state","z":"f2e05ad4.a599c8","name":"Am I home?","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"binary_sensor.is_david_home","override_payload":true,"x":430,"y":120,"wires":[["b3ff77ec.da2028"]]},{"id":"8399364d.904a78","type":"http in","z":"5b297b5b.269ea4","name":"Unlock front door command from IFTTT","url":"/unlock_front_door","method":"get","upload":false,"swaggerDoc":"","x":210,"y":300,"wires":[["5085c234.f899dc","4e544714.8ae6f8"]]},{"id":"5085c234.f899dc","type":"api-call-service","z":"5b297b5b.269ea4","name":"Unlock the front door","server":"8d541f4c.9410b","service_domain":"lock","service":"unlock","data":"{\"entity_id\":\"lock.front_door_lock\"}","mergecontext":"","x":520,"y":300,"wires":[[]]},{"id":"5569c7ad.da0908","type":"server-state-changed","z":"3630b580.d488ca","name":"I arrive","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":70,"y":40,"wires":[["b437a608.a8bb08"]]},{"id":"e7ef6cc4.16618","type":"function","z":"3630b580.d488ca","name":"Set Pushbullet message","func":"msg.payload = \"Lights on: Late Night triggered\"\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":240,"wires":[["22e82873.dadd08"]]},{"id":"22e82873.dadd08","type":"pushbullet","z":"3630b580.d488ca","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify Me","x":1420,"y":260,"wires":[]},{"id":"9b85367e.044188","type":"sunpos","z":"3630b580.d488ca","name":"","lon":"-97.8351872","lat":"30.2171827","start":"sunrise","startoffset":0,"end":"sunset","endoffset":0,"x":150,"y":120,"wires":[["16c510f3.cd37af"]]},{"id":"16c510f3.cd37af","type":"switch","z":"3630b580.d488ca","name":"Is Day/Night","property":"payload.sunInSky","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":200,"wires":[["c6f77c5f.42be4"],["fab75b1b.291818"]],"outputLabels":["Sun is in the sky","Sun has set"]},{"id":"fab75b1b.291818","type":"time-range-switch","z":"3630b580.d488ca","name":"Is late night or not","lat":"30.2171827","lon":"-97.8351872","startTime":"22:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":410,"y":260,"wires":[["fc13589e.29c568"],["9b9f4b17.763328"]],"outputLabels":["In between 10 PM and sunrise","During night, outside of 10 PM and sunrise"]},{"id":"c6f77c5f.42be4","type":"api-call-service","z":"3630b580.d488ca","name":"Turn on max level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.max_level\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":410,"y":180,"wires":[["19e59fd.9045f6"]]},{"id":"fc13589e.29c568","type":"api-call-service","z":"3630b580.d488ca","name":"Turn on low level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.low_level\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":240,"wires":[["10a03e5e.a68982"]]},{"id":"9b9f4b17.763328","type":"api-call-service","z":"3630b580.d488ca","name":"Turn on mid level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.mid_level\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":280,"wires":[["75076947.fe6548"]]},{"id":"74451031.5ea36","type":"function","z":"3630b580.d488ca","name":"Set Pushbullet message","func":"msg.payload = \"Lights on: Daytime triggered\"\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":180,"wires":[["22e82873.dadd08"]]},{"id":"1146e510.4bcc9b","type":"function","z":"3630b580.d488ca","name":"Set Pushbullet message","func":"msg.payload = \"Lights on: Evening triggered\"\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["22e82873.dadd08"]]},{"id":"d364bf10.f8386","type":"server-state-changed","z":"3630b580.d488ca","name":"I leave","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","haltifstate":"on","outputs":1,"x":70,"y":420,"wires":[["d31dbe23.f4931"]]},{"id":"7dc6f3c3.5c77fc","type":"api-call-service","z":"3630b580.d488ca","name":"Turn on leaving","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.leaving\"}","mergecontext":"","x":640,"y":400,"wires":[["ca10f1cb.fdd58"]]},{"id":"b4dc280d.b69828","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.midlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1200,"y":1540,"wires":[["8572c95e.d794e8"]]},{"id":"18047332.d026bd","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.lowlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1000,"y":2020,"wires":[["1f6dc87c.66c9e8"]]},{"id":"19e59fd.9045f6","type":"api-current-state","z":"3630b580.d488ca","name":"Is Messaging enabled?","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.message_me_for_leaving_arriving","state_type":"str","override_payload":true,"override_data":true,"x":910,"y":180,"wires":[["74451031.5ea36"]]},{"id":"75076947.fe6548","type":"api-current-state","z":"3630b580.d488ca","name":"Is Messaging enabled?","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.message_me_for_leaving_arriving","state_type":"str","override_payload":true,"override_data":true,"x":910,"y":280,"wires":[["1146e510.4bcc9b"]]},{"id":"10a03e5e.a68982","type":"api-current-state","z":"3630b580.d488ca","name":"Is Messaging enabled?","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.message_me_for_leaving_arriving","state_type":"str","override_payload":true,"override_data":true,"x":910,"y":240,"wires":[["e7ef6cc4.16618"]]},{"id":"ca10f1cb.fdd58","type":"api-current-state","z":"3630b580.d488ca","name":"Is Messaging enabled?","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.message_me_for_leaving_arriving","state_type":"str","override_payload":true,"override_data":true,"x":910,"y":360,"wires":[["ac732a49.c40d58"]]},{"id":"ac732a49.c40d58","type":"function","z":"3630b580.d488ca","name":"Set Pushbullet message","func":"msg.payload = \"Leaving triggered\"\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":360,"wires":[["22e82873.dadd08"]]},{"id":"b437a608.a8bb08","type":"switch","z":"3630b580.d488ca","name":"Remove duplicate events","property":"IsGone","propertyType":"flow","rules":[{"t":"true"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":40,"wires":[["23919119.7c434e"],["23919119.7c434e"]]},{"id":"d31dbe23.f4931","type":"switch","z":"3630b580.d488ca","name":"Remove duplicate events","property":"IsGone","propertyType":"flow","rules":[{"t":"false"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":360,"wires":[["6a6c4eae.29937"],["6a6c4eae.29937"]]},{"id":"23919119.7c434e","type":"change","z":"3630b580.d488ca","name":"","rules":[{"t":"set","p":"IsGone","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":40,"wires":[["9b85367e.044188"]]},{"id":"6a6c4eae.29937","type":"change","z":"3630b580.d488ca","name":"","rules":[{"t":"set","p":"IsGone","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":360,"wires":[["7dc6f3c3.5c77fc"]]},{"id":"4ff156ff.02fbf8","type":"http in","z":"eef2c7ac.0250c8","name":"Get \"Going on a run\" command from IFTTT","url":"/goingonarun","method":"get","upload":false,"swaggerDoc":"","x":220,"y":660,"wires":[["5f561563.34579c","f12f1f79.4e1b1","f179a90d.1746d8"]]},{"id":"f179a90d.1746d8","type":"delay","z":"eef2c7ac.0250c8","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":660,"wires":[["4e28e9bc.b7fe98","6f551989.316ee8"]]},{"id":"de7de37c.473f9","type":"server-state-changed","z":"b73bc626.338978","name":"I leave","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":110,"y":100,"wires":[["121659a0.22c006","cc9e968c.f73278","af076714.2cec98"]]},{"id":"121659a0.22c006","type":"ifttt out","z":"b73bc626.338978","eventName":"tv_off","key":"78dd16d3.bb4168","x":370,"y":60,"wires":[]},{"id":"670eaf0f.76c6c","type":"api-current-state","z":"b4d499b5.d319a8","name":"Is Coop Open?","server":"8d541f4c.9410b","outputs":1,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"cover.chicken_coop_door","state_type":"str","override_payload":true,"override_data":true,"x":1020,"y":100,"wires":[["691390a5.ff3e8"]]},{"id":"cf31a581.e6b348","type":"mqtt out","z":"4702fd19.dc7d64","name":"Send Update Location command","topic":"owntracks/David/Pixel/cmd","qos":"2","retain":"false","broker":"a2e7a884.4d6948","x":760,"y":180,"wires":[]},{"id":"6aa6457f.3f74dc","type":"function","z":"4702fd19.dc7d64","name":"Set MQTT Payload","func":"var newMsg =  {  \n   payload:\n   {  \n      \"_type\": \"cmd\",\n      \"action\":\"reportLocation\"\n   }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["cf31a581.e6b348"]]},{"id":"137f0515.9fed1b","type":"server-state-changed","z":"4702fd19.dc7d64","name":"Garage opens","server":"8d541f4c.9410b","entityidfilter":"cover.garage_door_opener","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"closed","outputs":1,"x":80,"y":180,"wires":[["8f556ee9.383f6"]]},{"id":"8f556ee9.383f6","type":"api-current-state","z":"4702fd19.dc7d64","name":"I'm gone","server":"8d541f4c.9410b","outputs":1,"halt_if":"on","override_topic":true,"entity_id":"binary_sensor.is_david_home","override_payload":true,"override_data":true,"x":260,"y":180,"wires":[["6aa6457f.3f74dc"]]},{"id":"b95818d.05d79e8","type":"switch","z":"b4d499b5.d319a8","name":"Check setting to continue","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Noon","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":80,"wires":[["670eaf0f.76c6c"]]},{"id":"408e60ad.40aa6","type":"switch","z":"b4d499b5.d319a8","name":"Check setting to continue","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Sunrise","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":120,"wires":[["670eaf0f.76c6c"]]},{"id":"cc9e968c.f73278","type":"api-current-state","z":"b73bc626.338978","name":"Check if office fan light is on","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.office_fan_light","state_type":"str","override_payload":true,"override_data":true,"x":440,"y":100,"wires":[["f93a6995.0c8bf8"]]},{"id":"f93a6995.0c8bf8","type":"api-call-service","z":"b73bc626.338978","name":"Turn off office fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.office_fan_light\" }","mergecontext":"","x":720,"y":100,"wires":[[]]},{"id":"af076714.2cec98","type":"api-current-state","z":"b73bc626.338978","name":"Check if bedroom fan light is on","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.bedroom_fan_light","state_type":"str","override_payload":true,"override_data":true,"x":450,"y":140,"wires":[["6d623959.36f1a8"]]},{"id":"6d623959.36f1a8","type":"api-call-service","z":"b73bc626.338978","name":"Turn off bedroom fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.bedroom_fan_light\"}","mergecontext":"","x":730,"y":140,"wires":[[]]},{"id":"e5728604.0227f8","type":"server-state-changed","z":"ebc1df31.59b41","name":"Leak Detected","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.water_heater_leak_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"dry","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":120,"wires":[["af8d703a.445e3"],[]]},{"id":"cc61ea16.24bef8","type":"function","z":"ebc1df31.59b41","name":"Set Pushbullet message","func":"msg.payload = \"Water heater leak detected!\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["dbd76b6a.70cf68"]]},{"id":"dbd76b6a.70cf68","type":"pushbullet","z":"ebc1df31.59b41","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify Me","x":860,"y":240,"wires":[]},{"id":"9e75337a.80e2e","type":"change","z":"ebc1df31.59b41","name":"Set notified flag to true","rules":[{"t":"set","p":"BeenNotified","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":240,"wires":[["cc61ea16.24bef8"]]},{"id":"af8d703a.445e3","type":"switch","z":"ebc1df31.59b41","name":"Check to see if I've been notified yet today","property":"BeenNotified","propertyType":"flow","rules":[{"t":"false"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":180,"wires":[["9e75337a.80e2e"],["9e75337a.80e2e"]]},{"id":"f2b06a7.2958498","type":"inject","z":"ebc1df31.59b41","name":"Reset notification flag","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["82e8f3cc.b1046"]]},{"id":"82e8f3cc.b1046","type":"change","z":"ebc1df31.59b41","name":"Reset notification flag","rules":[{"t":"set","p":"BeenNotified","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":360,"wires":[[]]},{"id":"798b90b4.fff8e","type":"inject","z":"f2e05ad4.a599c8","name":"Midnight trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":130,"y":580,"wires":[["eb88869c.14d2b8"]]},{"id":"eb88869c.14d2b8","type":"api-current-state","z":"f2e05ad4.a599c8","name":"Sun Info","server":"8d541f4c.9410b","outputs":1,"halt_if":"","override_topic":true,"entity_id":"sun.sun","override_payload":true,"override_data":true,"x":320,"y":580,"wires":[["a72f6a50.5b7d68"]]},{"id":"a72f6a50.5b7d68","type":"function","z":"f2e05ad4.a599c8","name":"Calculate ontime to get 14 hours of light","func":"ns = Date.parse(msg.data.attributes.next_setting) / 1000;\nnr = Date.parse(msg.data.attributes.next_rising) / 1000;\n\ntotal_daylight = (ns - nr);\nlight_needed_min = Math.round((14*3600 - total_daylight) / 60);\n\nnr *= 1000\nlight_needed_ms = light_needed_min * 60 * 1000\nontime = nr - light_needed_ms\n\nmsg.payload = \n{\n   // \"onoffset\": -1 * light_needed_min,\n    \"ontime\": ontime\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":580,"wires":[["17b66b04.d39295"]]},{"id":"ebfbb420.bbfd48","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Turn on coop light","server":"8d541f4c.9410b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.chicken_coop_light\"}","mergecontext":"","x":1350,"y":560,"wires":[["d7f8d985.c66ae8"]]},{"id":"b3681a2c.bcf6d8","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Turn off coop light","server":"8d541f4c.9410b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.chicken_coop_light\"}","mergecontext":"","x":1350,"y":600,"wires":[["ce02ca8b.00b038"]]},{"id":"f5fcbb3b.b531d8","type":"comment","z":"f2e05ad4.a599c8","name":"Chicken Coop Light","info":"","x":290,"y":520,"wires":[]},{"id":"1ddec147.2326ff","type":"schedex","z":"f2e05ad4.a599c8","name":"","suspended":false,"lat":"30.2171827","lon":"-97.8351872","ontime":"sunrise","ontopic":"","onpayload":"on","onoffset":0,"onrandomoffset":0,"offtime":"sunrise","offtopic":"","offpayload":"off","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":1000,"y":580,"wires":[["169080a1.11e81f"]]},{"id":"169080a1.11e81f","type":"switch","z":"f2e05ad4.a599c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":580,"wires":[["ebfbb420.bbfd48"],["b3681a2c.bcf6d8"]]},{"id":"d7f8d985.c66ae8","type":"function","z":"f2e05ad4.a599c8","name":"Set Pushbullet message","func":"msg.payload = \"Chicken coop light ON\"\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":560,"wires":[["9601131b.d21a"]]},{"id":"c08b4980.9c0868","type":"pushbullet","z":"f2e05ad4.a599c8","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify Me","x":2040,"y":580,"wires":[]},{"id":"ce02ca8b.00b038","type":"function","z":"f2e05ad4.a599c8","name":"Set Pushbullet message","func":"msg.payload = \"Chicken coop light OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":600,"wires":[["9601131b.d21a"]]},{"id":"9601131b.d21a","type":"api-current-state","z":"f2e05ad4.a599c8","name":"Messaging Enabled?","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.message_me_for_coop_lights","override_payload":false,"override_data":true,"x":1840,"y":580,"wires":[["c08b4980.9c0868"]]},{"id":"398689f.e866c76","type":"api-current-state","z":"b4d499b5.d319a8","name":"Is Coop Open?","server":"8d541f4c.9410b","outputs":1,"halt_if":"closed","override_topic":true,"entity_id":"cover.chicken_coop_door","override_payload":true,"override_data":true,"x":540,"y":180,"wires":[["8c5d1ae8.3cfcb8"]]},{"id":"14cac03b.df964","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Office","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_table\"}","mergecontext":"","x":990,"y":1460,"wires":[[]]},{"id":"6d48c11c.e1d5e","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Kitchen","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_area\"}","mergecontext":"","x":990,"y":1500,"wires":[[]]},{"id":"b983b345.bcf4","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Kitchen","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_area\"}","mergecontext":"","x":810,"y":1920,"wires":[[]]},{"id":"450f47ec.01ca18","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Office","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_table\"}","mergecontext":"","x":810,"y":1880,"wires":[[]]},{"id":"4e544714.8ae6f8","type":"template","z":"5b297b5b.269ea4","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n    setTimeout((() => \n    {\n        window.close()\n    }), 3000)\n</script>\n<html>\n    <head></head>\n    <body>\n        <h1>Door Unlocked</h1>\n    </body>\n</html>","x":510,"y":340,"wires":[["fca26d2f.e0933"]]},{"id":"fca26d2f.e0933","type":"http response","z":"5b297b5b.269ea4","name":"Respond","statusCode":"","headers":{},"x":700,"y":340,"wires":[]},{"id":"d54afe98.fda62","type":"template","z":"5b297b5b.269ea4","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n    setTimeout((() => \n    {\n        window.close()\n    }), 3000)\n</script>\n<html>\n    <head></head>\n    <body>\n        <h1>Garage door opened</h1>\n    </body>\n</html>","x":510,"y":140,"wires":[["1407eb4a.85cc65"]]},{"id":"1407eb4a.85cc65","type":"http response","z":"5b297b5b.269ea4","name":"Respond","statusCode":"","headers":{},"x":700,"y":140,"wires":[]},{"id":"cdbac61a.21ac08","type":"template","z":"5b297b5b.269ea4","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Garage door closed</h1>\n    </body>\n</html>","x":510,"y":240,"wires":[["73d0af55.680d2"]]},{"id":"73d0af55.680d2","type":"http response","z":"5b297b5b.269ea4","name":"Respond","statusCode":"","headers":{},"x":700,"y":240,"wires":[]},{"id":"fb768a6d.310218","type":"http in","z":"5b297b5b.269ea4","name":"Lock front door command from IFTTT","url":"/lock_front_door","method":"get","upload":false,"swaggerDoc":"","x":210,"y":400,"wires":[["10b09fbd.6256","4285c153.44bd"]]},{"id":"10b09fbd.6256","type":"api-call-service","z":"5b297b5b.269ea4","name":"Lock the front door","server":"8d541f4c.9410b","service_domain":"lock","service":"lock","data":"{\"entity_id\":\"lock.front_door_lock\"}","mergecontext":"","x":510,"y":400,"wires":[[]]},{"id":"4285c153.44bd","type":"template","z":"5b297b5b.269ea4","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n    setTimeout((() => \n    {\n        window.close()\n    }), 3000)\n</script>\n<html>\n    <head></head>\n    <body>\n        <h1>Door Locked</h1>\n    </body>\n</html>","x":510,"y":440,"wires":[["304ad4c5.cefb6c"]]},{"id":"304ad4c5.cefb6c","type":"http response","z":"5b297b5b.269ea4","name":"Respond","statusCode":"","headers":{},"x":700,"y":440,"wires":[]},{"id":"c8f3ee57.f5ecd","type":"http in","z":"5b297b5b.269ea4","name":"Good Morning from IFTTT","url":"/goodmorning","method":"get","upload":false,"swaggerDoc":"","x":170,"y":540,"wires":[["b10d06e0.9d0448","d8129544.006fa8"]]},{"id":"b10d06e0.9d0448","type":"api-call-service","z":"5b297b5b.269ea4","name":"Scene: Good Morning","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.good_morning\"}","mergecontext":"","x":520,"y":500,"wires":[[]]},{"id":"d8129544.006fa8","type":"api-call-service","z":"5b297b5b.269ea4","name":"Turn off bedroom ceiling fan","server":"8d541f4c.9410b","service_domain":"climate","service":"set_fan_mode","data":"{   \"entity_id\": \"climate.bedroom_ceiling_fan\",  \"fan_mode\":\"off\" }","mergecontext":"","x":540,"y":540,"wires":[[]]},{"id":"3e4d7aaf.676de6","type":"api-current-state","z":"5b297b5b.269ea4","name":"Check if bedroom fan light is on","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"switch.bedroom_fan_light","override_payload":true,"override_data":true,"x":550,"y":580,"wires":[["c7d75c43.49a9b"]]},{"id":"c7d75c43.49a9b","type":"api-call-service","z":"5b297b5b.269ea4","name":"Turn off bedroom fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.bedroom_fan_light\" }","mergecontext":"","x":830,"y":580,"wires":[[]]},{"id":"497c12c2.3f8e0c","type":"http in","z":"5b297b5b.269ea4","name":"Goodnight from IFTTT","url":"/goodnight","method":"get","upload":false,"swaggerDoc":"","x":160,"y":700,"wires":[["77d08d0e.cc15b4","b98d14b9.8bb128"]]},{"id":"b98d14b9.8bb128","type":"api-call-service","z":"5b297b5b.269ea4","name":"Scene: Goodnight","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.goodnight\"}","mergecontext":"","x":510,"y":640,"wires":[[]]},{"id":"77d08d0e.cc15b4","type":"ifttt out","z":"5b297b5b.269ea4","eventName":"tv_off","key":"78dd16d3.bb4168","x":470,"y":680,"wires":[]},{"id":"dde56227.9353e","type":"api-current-state","z":"5b297b5b.269ea4","name":"Check if office fan light is on","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.office_fan_light","state_type":"str","override_payload":true,"override_data":true,"x":540,"y":720,"wires":[["d94ef8e7.1d36c8"]]},{"id":"d94ef8e7.1d36c8","type":"api-call-service","z":"5b297b5b.269ea4","name":"Turn off office fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.office_fan_light\" }","mergecontext":"","x":820,"y":720,"wires":[[]]},{"id":"b84cf17a.1686c","type":"api-current-state","z":"5b297b5b.269ea4","name":"Check if bedroom fan light is on","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"switch.bedroom_fan_light","override_payload":true,"override_data":true,"x":550,"y":760,"wires":[["74a0002b.cfd23"]]},{"id":"74a0002b.cfd23","type":"api-call-service","z":"5b297b5b.269ea4","name":"Turn off bedroom fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.bedroom_fan_light\" }","mergecontext":"","x":830,"y":760,"wires":[[]]},{"id":"b9b14af2.920218","type":"http in","z":"5b297b5b.269ea4","name":"Blackout from IFTTT","url":"/blackout","method":"get","upload":false,"swaggerDoc":"","x":150,"y":880,"wires":[["e7e91282.deece"]]},{"id":"e7e91282.deece","type":"api-call-service","z":"5b297b5b.269ea4","name":"Scene: Blackout","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.blackout\"}","mergecontext":"","x":480,"y":880,"wires":[[]]},{"id":"f0e79747.713aa8","type":"http in","z":"5b297b5b.269ea4","name":"Mid-Level from IFTTT","url":"/mid_level","method":"get","upload":false,"swaggerDoc":"","x":160,"y":960,"wires":[["7080872a.b1c528"]]},{"id":"7080872a.b1c528","type":"api-call-service","z":"5b297b5b.269ea4","name":"Scene: Mid-Level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.mid_level\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":490,"y":960,"wires":[[]]},{"id":"f0ea1ee8.f1403","type":"sun events","z":"b4d499b5.d319a8","testmode":false,"verbose":false,"topic":"","name":"","x":100,"y":140,"wires":[["dd45e0f5.059c5"]]},{"id":"8c5d1ae8.3cfcb8","type":"delay","z":"b4d499b5.d319a8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":180,"wires":[["8b399200.f274"]]},{"id":"17b66b04.d39295","type":"moment","z":"f2e05ad4.a599c8","name":"Format","topic":"","input":"payload.ontime","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"C","output":"payload.ontime","outputType":"msg","outTz":"America/Chicago","x":820,"y":580,"wires":[["1ddec147.2326ff"]]},{"id":"fcc3f57d.479348","type":"http in","z":"5b297b5b.269ea4","name":"TV-Mode from IFTTT","url":"/tv_mode","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1040,"wires":[["f0cac2f.944f84","bcf44052.4b3f8"]]},{"id":"f0cac2f.944f84","type":"api-call-service","z":"5b297b5b.269ea4","name":"Scene: TV-Mode","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.tv_mode\"}","mergecontext":"","x":490,"y":1040,"wires":[[]]},{"id":"bcf44052.4b3f8","type":"api-current-state","z":"5b297b5b.269ea4","name":"Check to see if porch is on","server":"8d541f4c.9410b","outputs":1,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":true,"entity_id":"light.porch","state_type":"habool","override_payload":true,"override_data":true,"x":520,"y":1080,"wires":[["194fbcd2.9b2273"]]},{"id":"194fbcd2.9b2273","type":"api-call-service","z":"5b297b5b.269ea4","name":"Dim down Porch Light","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch\",\"brightness_pct\":20}","mergecontext":"","x":800,"y":1080,"wires":[[]]},{"id":"b02ff906.96a748","type":"http in","z":"5b297b5b.269ea4","name":"Max-Level from IFTTT","url":"/max_level","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1160,"wires":[["1d406d6c.30c003"]]},{"id":"1d406d6c.30c003","type":"api-call-service","z":"5b297b5b.269ea4","name":"Scene: Max-Level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.max_level\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":490,"y":1160,"wires":[[]]},{"id":"a950a884.408a78","type":"http in","z":"5b297b5b.269ea4","name":"Fan on from IFTTT","url":"/fan_on","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1260,"wires":[["dd3ed1f.8770a3"]]},{"id":"f6203314.ad537","type":"debug","z":"5b297b5b.269ea4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":400,"y":1360,"wires":[]},{"id":"dd3ed1f.8770a3","type":"change","z":"5b297b5b.269ea4","name":"Convert Request to entity","rules":[{"t":"change","p":"payload","pt":"msg","from":"^the (.*)$","fromt":"re","to":"switch.$1_fan","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"_","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1260,"wires":[["76299b0e.8f5d54"]]},{"id":"40a4201.669f9e","type":"api-call-service","z":"5b297b5b.269ea4","name":"Turn on Fan","server":"8d541f4c.9410b","service_domain":"switch","service":"turn_on","data":"","mergecontext":"","x":830,"y":1260,"wires":[[]]},{"id":"76299b0e.8f5d54","type":"function","z":"5b297b5b.269ea4","name":"Create Payload","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n        \"entity_id\": msg.payload\n      }\n   }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":620,"y":1260,"wires":[["40a4201.669f9e"]]},{"id":"5fafa33.2ca045c","type":"http in","z":"5b297b5b.269ea4","name":"Fan off from IFTTT","url":"/fan_off","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1320,"wires":[["7b967a0b.e0d1c4"]]},{"id":"7b967a0b.e0d1c4","type":"change","z":"5b297b5b.269ea4","name":"Convert Request to entity","rules":[{"t":"change","p":"payload","pt":"msg","from":"^the (.*)$","fromt":"re","to":"switch.$1_fan","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"_","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1320,"wires":[["18db959a.b0b46a"]]},{"id":"afa94da3.dc3c1","type":"api-call-service","z":"5b297b5b.269ea4","name":"Turn off Fan","server":"8d541f4c.9410b","service_domain":"switch","service":"turn_off","data":"","mergecontext":"","x":830,"y":1320,"wires":[[]]},{"id":"18db959a.b0b46a","type":"function","z":"5b297b5b.269ea4","name":"Create Payload","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n        \"entity_id\": msg.payload\n      }\n   }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":620,"y":1320,"wires":[["afa94da3.dc3c1"]]},{"id":"bd06152d.cf57d8","type":"server-events","z":"b73bc626.338978","name":"","server":"8d541f4c.9410b","event_type":"call_service","x":150,"y":300,"wires":[[]]},{"id":"908554a4.9229e8","type":"function","z":"b73bc626.338978","name":"Filter to scene.leaving","func":"\nif (msg.payload.event.domain == \"scene\" \n    && msg.payload.event.service_data.entity_id == \"scene.leaving\" )\n    return msg;\nelse\n    return null;","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["12061b0f.f70c55","42b8a2b0.71e56c"]]},{"id":"12061b0f.f70c55","type":"api-current-state","z":"b73bc626.338978","name":"Check if office fan light is on","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.office_fan_light","state_type":"str","override_payload":true,"override_data":true,"x":820,"y":280,"wires":[["764fc1b.a4fce4"]]},{"id":"764fc1b.a4fce4","type":"api-call-service","z":"b73bc626.338978","name":"Turn off office fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.office_fan_light\" }","mergecontext":"","x":1100,"y":280,"wires":[[]]},{"id":"42b8a2b0.71e56c","type":"api-current-state","z":"b73bc626.338978","name":"Check if bedroom fan light is on","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.bedroom_fan_light","state_type":"str","override_payload":true,"override_data":true,"x":830,"y":320,"wires":[["c7688505.a28a08"]]},{"id":"c7688505.a28a08","type":"api-call-service","z":"b73bc626.338978","name":"Turn off bedroom fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.bedroom_fan_light\"}","mergecontext":"","x":1110,"y":320,"wires":[[]]},{"id":"379802a9.a25a4e","type":"ha-get-entities","z":"3d3b5498.932ddc","server":"8d541f4c.9410b","name":"Get Turned on Entities","rules":[{"property":"attributes.dimming_target","logic":"is","value":"true","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":710,"y":320,"wires":[["25fbad1a.2294f2"]]},{"id":"25fbad1a.2294f2","type":"split","z":"3d3b5498.932ddc","name":"Split Entities","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":320,"wires":[["467b5bcb.5d0454"]]},{"id":"86d118bc.6650e8","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Lights","func":"var currentBrightness = 0;\n\n// if(msg.payload.attributes != null)\n// {\n//     currentBrightness = msg.payload.attributes.brightness;\n// }\n// else \n// {\n//     currentBrightness = msg.payload.data.brightness;\n// }\n\nvar newBrightness = msg.payload.attributes.brightness - 1;\n\nvar newMsg =  {  \n   payload: \n   {\n       data:\n       {\n            entity_id: msg.payload.entity_id,\n            brightness: newBrightness\n       }\n   },\n   \n   targetBrightness : msg.targetBrightness,\n   event: msg.event\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":800,"y":440,"wires":[["633f12c7.2e781c"]]},{"id":"467b5bcb.5d0454","type":"switch","z":"3d3b5498.932ddc","name":"Keep dimming until target brightness is met","property":"payload.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"targetBrightness","vt":"msg"},{"t":"lt","v":"targetBrightness","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":380,"wires":[["86d118bc.6650e8"],[]]},{"id":"326aabe6.4ea6f4","type":"change","z":"3d3b5498.932ddc","name":"Set Target to 50%","rules":[{"t":"set","p":"targetBrightness","pt":"msg","to":"128","tot":"num"},{"t":"set","p":"event","pt":"msg","to":"sunset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["620a1974.898a18"]]},{"id":"321d628c.e733de","type":"delay","z":"3d3b5498.932ddc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":520,"wires":[["ee01f97e.594178"]]},{"id":"633f12c7.2e781c","type":"api-call-service","z":"3d3b5498.932ddc","name":"Adjust Brightness","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1010,"y":440,"wires":[["321d628c.e733de"]]},{"id":"ee01f97e.594178","type":"change","z":"3d3b5498.932ddc","name":"Reformat data","rules":[{"t":"set","p":"payload.attributes.brightness","pt":"msg","to":"payload.data.brightness","tot":"msg"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"payload.data.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":380,"wires":[["467b5bcb.5d0454"]]},{"id":"4ca4f94a.6b9138","type":"sun events","z":"3d3b5498.932ddc","testmode":false,"verbose":false,"topic":"","name":"","x":120,"y":60,"wires":[["9cce3dac.8a4ed"]]},{"id":"9cce3dac.8a4ed","type":"switch","z":"3d3b5498.932ddc","name":"Is sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":120,"y":100,"wires":[["4731832f.6f2e2c"]]},{"id":"4731832f.6f2e2c","type":"delay","z":"3d3b5498.932ddc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":140,"wires":[["3e655837.7f3c78"]]},{"id":"620a1974.898a18","type":"api-current-state","z":"3d3b5498.932ddc","name":"Am I home?","server":"8d541f4c.9410b","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"binary_sensor.is_david_home","override_payload":true,"x":530,"y":320,"wires":[["379802a9.a25a4e"]]},{"id":"3e655837.7f3c78","type":"api-current-state","z":"3d3b5498.932ddc","name":"Is Sunset Auto Dimming enabled?","server":"8d541f4c.9410b","outputs":2,"halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sunset_auto_dim_lights","state_type":"str","override_payload":false,"override_data":false,"x":200,"y":180,"wires":[["326aabe6.4ea6f4"],[]]},{"id":"340df284.5fd77e","type":"inject","z":"3d3b5498.932ddc","name":"10 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":100,"y":480,"wires":[["8594fcb2.fc4ae"]]},{"id":"8594fcb2.fc4ae","type":"api-current-state","z":"3d3b5498.932ddc","name":"Is 10 PM Auto Dimming enabled?","server":"8d541f4c.9410b","outputs":2,"halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.late_night_auto_dim_lights","state_type":"str","override_payload":true,"override_data":true,"x":180,"y":520,"wires":[["f98cd1f9.ad00e"],[]]},{"id":"9bdccd64.fe9f8","type":"inject","z":"3d3b5498.932ddc","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["326aabe6.4ea6f4"]]},{"id":"e7f813ff.a6a51","type":"inject","z":"3d3b5498.932ddc","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":600,"wires":[["f98cd1f9.ad00e"]]},{"id":"f98cd1f9.ad00e","type":"change","z":"3d3b5498.932ddc","name":"Set Target to 25%","rules":[{"t":"set","p":"targetBrightness","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"event","pt":"msg","to":"10_PM","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":600,"wires":[["620a1974.898a18"]]},{"id":"e4694ea7.26075","type":"switch","z":"3d3b5498.932ddc","name":"Set Final Scene","property":"event","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"},{"t":"eq","v":"10_PM","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1220,"y":380,"wires":[["55e34118.fec64"],["a02d93d4.57112"]],"outputLabels":["Sunset","10 PM"]},{"id":"31e12c78.162c64","type":"api-call-service","z":"3d3b5498.932ddc","name":"Turn on mid-level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1650,"y":640,"wires":[[]]},{"id":"55e34118.fec64","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.midlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1440,"y":360,"wires":[["31e12c78.162c64"]]},{"id":"44830f59.3b372","type":"api-call-service","z":"3d3b5498.932ddc","name":"Turn on low level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1650,"y":680,"wires":[[]]},{"id":"a02d93d4.57112","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.lowlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1440,"y":400,"wires":[["44830f59.3b372"]]},{"id":"839f6c34.32d36","type":"rpi-gpio in","z":"4bbd927d.3e842c","name":"","pin":"11","intype":"tri","debounce":"25","read":true,"x":140,"y":120,"wires":[["a176b8d2.2f6f68"]]},{"id":"a176b8d2.2f6f68","type":"debug","z":"4bbd927d.3e842c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":320,"y":120,"wires":[]},{"id":"39d6665.9e6859a","type":"server-state-changed","z":"f2e05ad4.a599c8","name":"Patio Light Button Pressed","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.patio_light_button","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":150,"y":700,"wires":[["ba856adf.67cd88","7ab0b212.0c387c"],[]]},{"id":"ba856adf.67cd88","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Toggle Patio Lights","server":"8d541f4c.9410b","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.patio_lights\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":410,"y":700,"wires":[[]]},{"id":"bd278e2c.0cc4f","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Set back to off","server":"8d541f4c.9410b","service_domain":"python_script","service":"smartthings_button","data":"{\"entity_id\":\"binary_sensor.patio_light_button\",\"state\":\"off\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":760,"wires":[[]]},{"id":"7ab0b212.0c387c","type":"delay","z":"f2e05ad4.a599c8","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":760,"wires":[["bd278e2c.0cc4f"]]},{"id":"e2aae687.ebc508","type":"server-state-changed","z":"f2e05ad4.a599c8","name":"Bedroom Fan Button Pressed","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.bedroom_fan_button","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":160,"y":860,"wires":[["804699d4.3e5028","b8c9cd81.29483"],[]]},{"id":"804699d4.3e5028","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Toggle Bedroom Fan","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.bedroom_fan\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":420,"y":860,"wires":[[]]},{"id":"f8fe6134.2b6","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Set back to off","server":"8d541f4c.9410b","service_domain":"python_script","service":"smartthings_button","data":"{\"entity_id\":\"binary_sensor.bedroom_fan_button\",\"state\":\"off\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":920,"wires":[[]]},{"id":"b8c9cd81.29483","type":"delay","z":"f2e05ad4.a599c8","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":920,"wires":[["f8fe6134.2b6"]]},{"id":"e7a2ee50.e1121","type":"api-current-state","z":"b4d499b5.d319a8","name":"Message Me?","server":"8d541f4c.9410b","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.message_me_for_coop_open_close","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1720,"y":180,"wires":[["5de57125.f2ab1"],["8232457.ded59b8"]]},{"id":"5f2ee8f1.eeedc8","type":"ha-wait-until","z":"b4d499b5.d319a8","name":"Wait until door is shut","server":"8d541f4c.9410b","outputs":2,"entityId":"cover.chicken_coop_door","property":"state","comparator":"is","value":"closed","valueType":"str","timeout":"2","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":1240,"y":180,"wires":[["4a8c7654.eb2418"],["96267386.af92e"]]},{"id":"8232457.ded59b8","type":"debug","z":"b4d499b5.d319a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1930,"y":280,"wires":[]},{"id":"bab3fb5d.98eb28","type":"inject","z":"b4d499b5.d319a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1560,"y":420,"wires":[["e7a2ee50.e1121"]]}]