node-red/flows.json
[{"id":"3d3b5498.932ddc","type":"tab","label":"Slow Dim","disabled":false,"info":""},{"id":"5b297b5b.269ea4","type":"tab","label":"Voice commands","disabled":false,"info":""},{"id":"f2e05ad4.a599c8","type":"tab","label":"Automatic Lights","disabled":false,"info":""},{"id":"b4d499b5.d319a8","type":"tab","label":"Open/Close Coop Door","disabled":false,"info":""},{"id":"eef2c7ac.0250c8","type":"tab","label":"Disable/Enable automations","disabled":false,"info":""},{"id":"b73bc626.338978","type":"tab","label":"Augmented Leaving","disabled":false,"info":""},{"id":"50eef82.f52fa08","type":"tab","label":"Ceiling Fan Controls","disabled":false,"info":""},{"id":"90bc0fb1.6948e","type":"tab","label":"Automated Vacuum","disabled":false,"info":""},{"id":"3630b580.d488ca","type":"tab","label":"Arrive/Leave","disabled":false,"info":""},{"id":"4702fd19.dc7d64","type":"tab","label":"Force Location update","disabled":false,"info":""},{"id":"2386127a.8ff00e","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"ebc1df31.59b41","type":"tab","label":"Leak Sensor","disabled":false,"info":""},{"id":"e6dd59e2.eb32a8","type":"tab","label":"Chicken Pi Online/Offline","disabled":true,"info":""},{"id":"64664453.b97c0c","type":"tab","label":"Slow Dim","disabled":false,"info":""},{"id":"62f99648.0febb8","type":"tab","label":"Slow Dim","disabled":false,"info":""},{"id":"8d541f4c.9410b","type":"server","z":"","name":"Home Assistant"},{"id":"e3af4efc.43df7","type":"pushbullet-config","z":"","name":"Pushbullet"},{"id":"a2e7a884.4d6948","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"78dd16d3.bb4168","type":"ifttt-key","z":""},{"id":"ca513353.b6e7b","type":"inject","z":"f2e05ad4.a599c8","name":"Wake up time M T W Th F","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"30 08 * * 1,2,3,4,5","once":false,"onceDelay":"","x":180,"y":120,"wires":[["231173d5.05979c"]]},{"id":"90318a0c.aad7b8","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Turn on bedroom lights","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bedroom_area\",\"transition\":60,\"brightness_pct\":100}","render_data":false,"mergecontext":"","x":920,"y":120,"wires":[[]]},{"id":"5bb4f71e.8a5248","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn off both command from IFTTT","url":"/disableAutos","method":"get","upload":false,"swaggerDoc":"","x":210,"y":60,"wires":[["f1e25a7e.344e68","e46cc3da.efa7b","91ea1923.39a038"]]},{"id":"f1e25a7e.344e68","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn off Sunset Auto-Dim","server":"8d541f4c.9410b","service_domain":"input_boolean","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.sunset_auto_dim_lights\" }","mergecontext":"","x":870,"y":80,"wires":[[]]},{"id":"e46cc3da.efa7b","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn off Late Night Auto-Dim","server":"8d541f4c.9410b","service_domain":"input_boolean","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.late_night_auto_dim_lights\" }","mergecontext":"","x":880,"y":120,"wires":[[]]},{"id":"91ea1923.39a038","type":"delay","z":"eef2c7ac.0250c8","name":"Wait to turn back on","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":180,"wires":[["a5be61ef.277d4"]]},{"id":"f9b4d8.de154b28","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn on Sunset Auto-Dim","server":"8d541f4c.9410b","service_domain":"input_boolean","service":"turn_on","data":"{   \"entity_id\": \"input_boolean.sunset_auto_dim_lights\" }","mergecontext":"","x":870,"y":300,"wires":[[]]},{"id":"45530ebb.ac14e","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn on Late Night Auto-Dim","server":"8d541f4c.9410b","service_domain":"input_boolean","service":"turn_on","data":"{   \"entity_id\": \"input_boolean.late_night_auto_dim_lights\" }","mergecontext":"","x":880,"y":340,"wires":[[]]},{"id":"9d6da202.6b4f3","type":"server-state-changed","z":"90bc0fb1.6948e","name":"I leave","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","haltifstate":"on","outputs":1,"x":80,"y":120,"wires":[["97ff0248.0ab66"]]},{"id":"874468d4.b3f718","type":"api-current-state","z":"90bc0fb1.6948e","name":"if I'm still gone...","server":"8d541f4c.9410b","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","outputs":1,"x":460,"y":240,"wires":[["722e7cf4.54eeb4"]]},{"id":"97ff0248.0ab66","type":"function","z":"90bc0fb1.6948e","name":"Check to see if job has run today","func":"var hasVacuumedToday = flow.get('hasVacuumedToday')||false;\n\nif(hasVacuumedToday === true)\n    return null;\n\nvar date = new Date();\nmsg.Day = date.getDay();\nmsg.loopCount = 1;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["90695287.dc6a4","a1c0f00c.9e077"]]},{"id":"b70daf74.00be4","type":"server-state-changed","z":"90bc0fb1.6948e","name":"I return","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":70,"y":720,"wires":[["4730ccd7.2b8e04"]]},{"id":"ff7c586.1b472a8","type":"function","z":"90bc0fb1.6948e","name":"*deprecated* - Check to see if today is not Tu, W, or Th","func":"var date = new Date();\n\nif (date.Day === 2 \n    || date.Day === 3\n    || date.Day === 4) //is Tuesday Wednesday or Thursday \n{\n    return null;\n}\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":360,"y":1000,"wires":[[]]},{"id":"6e4f79a2.918628","type":"pushbullet","z":"90bc0fb1.6948e","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify me via Pushbullet","x":890,"y":540,"wires":[]},{"id":"477c574c.986898","type":"function","z":"90bc0fb1.6948e","name":"Set pushbullet payload and set run flag","func":"\n//flow.set('hasVacuumedToday', true);\nflow.set('isGone', true)\nmsg.payload = \"Roomba activated\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":480,"wires":[["6e4f79a2.918628"]]},{"id":"7aeda2c.7cfd65c","type":"ifttt out","z":"90bc0fb1.6948e","eventName":"start_vacuum","key":"78dd16d3.bb4168","x":820,"y":360,"wires":[]},{"id":"e67ddb21.c958c8","type":"ifttt out","z":"90bc0fb1.6948e","eventName":"return_to_base","key":"78dd16d3.bb4168","x":920,"y":760,"wires":[]},{"id":"c885e34.5ec652","type":"inject","z":"90bc0fb1.6948e","name":"Reset once per day lock","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["3115192d.9318b6"]]},{"id":"3115192d.9318b6","type":"change","z":"90bc0fb1.6948e","name":"","rules":[{"t":"set","p":"hasVacuumedToday","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":40,"wires":[[]]},{"id":"a76e9162.85828","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn on command from IFTTT","url":"/enableAutos","method":"get","upload":false,"swaggerDoc":"","x":190,"y":320,"wires":[["f9b4d8.de154b28","45530ebb.ac14e"]]},{"id":"caeb0b01.7f3668","type":"delay","z":"90bc0fb1.6948e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":760,"wires":[["e67ddb21.c958c8"]]},{"id":"fc346887.298fa8","type":"ifttt out","z":"90bc0fb1.6948e","eventName":"stop_vacuum","key":"78dd16d3.bb4168","x":770,"y":700,"wires":[]},{"id":"63324244.20d35c","type":"server-state-changed","z":"e6dd59e2.eb32a8","name":"Chicken Pi goes offline","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.health_check","entityidfiltertype":"substring","haltifstate":"on","outputs":1,"x":140,"y":120,"wires":[["7cd7a626.a02168"]]},{"id":"7cd7a626.a02168","type":"delay","z":"e6dd59e2.eb32a8","name":"Wait 3 minutes...","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":120,"wires":[["6993638f.af39ec"]]},{"id":"6993638f.af39ec","type":"api-current-state","z":"e6dd59e2.eb32a8","name":"Still offline","server":"8d541f4c.9410b","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.health_check","outputs":1,"x":590,"y":120,"wires":[["28daf0ea.69bce","bdf1d7b0.479548"]]},{"id":"28daf0ea.69bce","type":"function","z":"e6dd59e2.eb32a8","name":"Set payload for Pushbullet","func":"msg.payload = \"Chicken Pi is offline\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":120,"wires":[["ccf4f813.921b78","7c16b071.18333"]]},{"id":"ccf4f813.921b78","type":"pushbullet","z":"e6dd59e2.eb32a8","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify me","x":1080,"y":120,"wires":[]},{"id":"bdf1d7b0.479548","type":"change","z":"e6dd59e2.eb32a8","name":"Set PiOffline to true","rules":[{"t":"set","p":"PiOffline","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":180,"wires":[[]]},{"id":"99f4e232.c0e91","type":"function","z":"e6dd59e2.eb32a8","name":"Check to see if it was truly offline","func":"piOffline = flow.get('PiOffline') || false\n\nif(piOffline === false)\n{\n    return null;\n}\n\nmsg.payload = \"Chicken Pi is back online\"\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":340,"wires":[["f92ce642.da32c8","57c7e.1f61e383","7c16b071.18333"]]},{"id":"2fad4b59.7761b4","type":"server-state-changed","z":"e6dd59e2.eb32a8","name":"Chicken Pi goes online","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.health_check","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":140,"y":340,"wires":[["99f4e232.c0e91"]]},{"id":"f92ce642.da32c8","type":"pushbullet","z":"e6dd59e2.eb32a8","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify me","x":760,"y":340,"wires":[]},{"id":"57c7e.1f61e383","type":"change","z":"e6dd59e2.eb32a8","name":"Set PiOffline to false","rules":[{"t":"set","p":"PiOffline","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":400,"wires":[[]]},{"id":"7c16b071.18333","type":"debug","z":"e6dd59e2.eb32a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":260,"wires":[]},{"id":"dd45e0f5.059c5","type":"switch","z":"b4d499b5.d319a8","name":"Open/Close switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunrise","vt":"str"},{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":140,"wires":[["94043d72.33fde"],["398689f.e866c76"]]},{"id":"691390a5.ff3e8","type":"api-call-service","z":"b4d499b5.d319a8","name":"Open Coop Door","server":"8d541f4c.9410b","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.chicken_coop_door\"}","render_data":false,"mergecontext":"","x":1230,"y":100,"wires":[["a211fd6b.90924"]]},{"id":"8b399200.f274","type":"api-call-service","z":"b4d499b5.d319a8","name":"Close Coop Door","server":"8d541f4c.9410b","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.chicken_coop_door\"}","render_data":false,"mergecontext":"","x":1030,"y":180,"wires":[["4a8c7654.eb2418","b87f9b69.515348"]]},{"id":"be7eab05.633b68","type":"change","z":"90bc0fb1.6948e","name":"increment counter","rules":[{"t":"set","p":"loopCount","pt":"msg","to":"msg.loopCount + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":360,"wires":[["76d36824.10a2c8","a1c0f00c.9e077"]]},{"id":"722e7cf4.54eeb4","type":"switch","z":"90bc0fb1.6948e","name":"Keep looping if < 30 mins; start vacuum otherwise","property":"loopCount","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"str"},{"t":"eq","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":440,"wires":[["be7eab05.633b68"],["9e4e1828.8557a8"]]},{"id":"ff1a852.d6ce878","type":"comment","z":"90bc0fb1.6948e","name":"<-- Loop for 30 minutes, check every minute to see if I have returned","info":"","x":900,"y":220,"wires":[]},{"id":"90695287.dc6a4","type":"switch","z":"90bc0fb1.6948e","name":"Day of Week","property":"Day","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":7,"x":110,"y":240,"wires":[["76d36824.10a2c8"],[],["76d36824.10a2c8"],["76d36824.10a2c8"],["76d36824.10a2c8"],[],["76d36824.10a2c8"]],"outputLabels":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]},{"id":"4a8c7654.eb2418","type":"function","z":"b4d499b5.d319a8","name":"Set Pushbullet message","func":"msg.payload = \"Chicken coop door closed\"\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":180,"wires":[["5de57125.f2ab1"]]},{"id":"a211fd6b.90924","type":"function","z":"b4d499b5.d319a8","name":"Set Pushbullet message","func":"msg.payload = \"Chicken coop door opened\"\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":100,"wires":[["5de57125.f2ab1"]]},{"id":"5de57125.f2ab1","type":"pushbullet","z":"b4d499b5.d319a8","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify Me","x":1680,"y":180,"wires":[]},{"id":"4730ccd7.2b8e04","type":"function","z":"90bc0fb1.6948e","name":"Prevent random 'on's from stopping a job while I'm home","func":"isGone = flow.get(\"isGone\") || false;\n\nif(isGone)\n{\n    flow.set(\"isGone\", false);\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":410,"y":720,"wires":[["fc346887.298fa8","caeb0b01.7f3668"]]},{"id":"f5325769.6c4e88","type":"api-current-state","z":"b4d499b5.d319a8","name":"Confirm door is shut","server":"8d541f4c.9410b","halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"cover.chicken_coop_door","state_type":"str","outputs":1,"x":1200,"y":300,"wires":[["96267386.af92e"]]},{"id":"b87f9b69.515348","type":"delay","z":"b4d499b5.d319a8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":240,"wires":[["f5325769.6c4e88"]]},{"id":"96267386.af92e","type":"function","z":"b4d499b5.d319a8","name":"Set Pushbullet message if still open","func":"msg.payload = \"Coop Door is still open!!\"\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":360,"wires":[["5de57125.f2ab1"]]},{"id":"f65ae241.355e5","type":"http in","z":"5b297b5b.269ea4","name":"Open garage command from IFTTT","url":"/open_garage","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["36709171.61c25e","d54afe98.fda62"]]},{"id":"21ae9bc8.7d9a54","type":"http in","z":"5b297b5b.269ea4","name":"Close garage command from IFTTT","url":"/close_garage","method":"get","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["fd0b485.0fdd0b8","cdbac61a.21ac08"]]},{"id":"36709171.61c25e","type":"api-call-service","z":"5b297b5b.269ea4","name":"Open the garage door","server":"8d541f4c.9410b","service_domain":"cover","service":"open_cover","data":"{   \"entity_id\": \"cover.garage_door_opener\" }","mergecontext":"","x":520,"y":100,"wires":[[]]},{"id":"fd0b485.0fdd0b8","type":"api-call-service","z":"5b297b5b.269ea4","name":"Close the garage door","server":"8d541f4c.9410b","service_domain":"cover","service":"close_cover","data":"{   \"entity_id\": \"cover.garage_door_opener\" }","mergecontext":"","x":520,"y":200,"wires":[[]]},{"id":"a5be61ef.277d4","type":"timecheck","z":"eef2c7ac.0250c8","name":"","time":"00:00","x":590,"y":260,"wires":[["91ea1923.39a038"],["f9b4d8.de154b28","45530ebb.ac14e"]]},{"id":"12bfad09.811e03","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn off late night command from IFTTT","url":"/turn_off_late_night","method":"get","upload":false,"swaggerDoc":"","x":220,"y":120,"wires":[["e46cc3da.efa7b","91ea1923.39a038"]]},{"id":"451de78a.9867c8","type":"sun events","z":"3d3b5498.932ddc","testmode":false,"verbose":false,"topic":"","name":"","x":80,"y":1240,"wires":[[]]},{"id":"43f50cec.dbe3d4","type":"switch","z":"3d3b5498.932ddc","name":"Is sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":80,"y":1300,"wires":[["da34a2b6.c93d7"]]},{"id":"7ecd5784.f3ac98","type":"mqtt in","z":"2386127a.8ff00e","name":"Any MQTT message","topic":"#","qos":"2","broker":"a2e7a884.4d6948","x":200,"y":160,"wires":[["ebf0981e.f71648"]]},{"id":"ebf0981e.f71648","type":"debug","z":"2386127a.8ff00e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":160,"wires":[]},{"id":"942e844d.e75ca8","type":"inject","z":"2386127a.8ff00e","name":"David at work message","topic":"","payload":"{\"_type\":\"location\",\"acc\":18,\"alt\":197.3000030517578,\"batt\":77,\"conn\":\"m\",\"inregions\":[\"Work\"],\"lat\":30.2506502,\"lon\":-97.862467,\"t\":\"p\",\"tid\":\"px\",\"tst\":1533510186,\"vac\":2,\"vel\":0.0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["b54d9e8.78cb86"]]},{"id":"b54d9e8.78cb86","type":"mqtt out","z":"2386127a.8ff00e","name":"Send Dummy message","topic":"owntracks/David/Pixel","qos":"1","retain":"false","broker":"a2e7a884.4d6948","x":400,"y":340,"wires":[]},{"id":"87372872.566068","type":"inject","z":"2386127a.8ff00e","name":"David at Home","topic":"","payload":"{\"_type\":\"location\",\"acc\":100,\"alt\":0.0,\"batt\":74,\"conn\":\"m\",\"inregions\":[\"Home\"],\"lat\":30.2171827,\"lon\":-97.8351872,\"tid\":\"px\",\"tst\":1533139187,\"vac\":0,\"vel\":0.0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":380,"wires":[["b54d9e8.78cb86"]]},{"id":"c2213168.97eb6","type":"inject","z":"2386127a.8ff00e","name":"David at Away","topic":"","payload":"{\"_type\":\"location\",\"acc\":18,\"alt\":197.3000030517578,\"batt\":76,\"conn\":\"m\",\"lat\":31.2172376,\"lon\":-97.8351853,\"t\":\"u\",\"tid\":\"px\",\"tst\":1533511413,\"vac\":2,\"vel\":0.0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["b54d9e8.78cb86"]]},{"id":"a1c0f00c.9e077","type":"debug","z":"90bc0fb1.6948e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":120,"wires":[]},{"id":"76d36824.10a2c8","type":"delay","z":"90bc0fb1.6948e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":240,"wires":[["874468d4.b3f718"]]},{"id":"9e4e1828.8557a8","type":"switch","z":"90bc0fb1.6948e","name":"has not vacuumed Today?","property":"hasVacuumedToday","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":460,"wires":[["7aeda2c.7cfd65c","477c574c.986898","8019b6c2.cea0e8"]]},{"id":"8019b6c2.cea0e8","type":"change","z":"90bc0fb1.6948e","name":"","rules":[{"t":"set","p":"hasVacuumedToday","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":420,"wires":[[]]},{"id":"125b9ca7.ffb8d3","type":"http in","z":"b4d499b5.d319a8","name":"","url":"/openCoop","method":"get","upload":false,"swaggerDoc":"","x":140,"y":400,"wires":[["4c8c9ac3.e83104","f99dc736.32bd28"]]},{"id":"f99dc736.32bd28","type":"api-call-service","z":"b4d499b5.d319a8","name":"Open Coop Door","server":"8d541f4c.9410b","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.chicken_coop_door\"}","mergecontext":"","x":370,"y":340,"wires":[[]]},{"id":"3d0ba910.3bd596","type":"api-call-service","z":"b4d499b5.d319a8","name":"Close Coop Door","server":"8d541f4c.9410b","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.chicken_coop_door\"}","mergecontext":"","x":370,"y":480,"wires":[[]]},{"id":"92396ba6.94fa68","type":"http response","z":"b4d499b5.d319a8","name":"Respond","statusCode":"","headers":{},"x":560,"y":400,"wires":[]},{"id":"4c8c9ac3.e83104","type":"template","z":"b4d499b5.d319a8","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Open signal sent to coop door!</h1>\n    </body>\n</html>","x":370,"y":400,"wires":[["92396ba6.94fa68"]]},{"id":"f4fe4452.f8a168","type":"template","z":"b4d499b5.d319a8","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<html>\n    <head></head>\n    <body>\n        <h1>Close signal sent to coop door!</h1>\n    </body>\n</html>","x":370,"y":520,"wires":[["55a89774.d443e8"]]},{"id":"55a89774.d443e8","type":"http response","z":"b4d499b5.d319a8","name":"Respond","statusCode":"","headers":{"content-type":"text/html"},"x":560,"y":520,"wires":[]},{"id":"6b6b8f7c.fe4b6","type":"http in","z":"b4d499b5.d319a8","name":"","url":"/closeCoop","method":"get","upload":false,"swaggerDoc":"","x":150,"y":520,"wires":[["3d0ba910.3bd596","f4fe4452.f8a168"]]},{"id":"3efdf6d5.5ea35a","type":"inject","z":"b4d499b5.d319a8","name":"Open at noon","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["1a20a9a7.966066"]]},{"id":"1a20a9a7.966066","type":"api-current-state","z":"b4d499b5.d319a8","name":"Get open settings","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.chicken_coop_open","outputs":1,"x":550,"y":80,"wires":[["b95818d.05d79e8"]]},{"id":"94043d72.33fde","type":"api-current-state","z":"b4d499b5.d319a8","name":"Get open settings","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.chicken_coop_open","outputs":1,"x":550,"y":120,"wires":[["408e60ad.40aa6"]]},{"id":"5f561563.34579c","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn off \"Leaving\"","server":"8d541f4c.9410b","service_domain":"automation","service":"turn_off","data":"{   \"entity_id\": \"automation.leaving\" }","mergecontext":"","x":550,"y":500,"wires":[[]]},{"id":"cb1cb7e0.f4a408","type":"delay","z":"eef2c7ac.0250c8","name":"Wait 6h to turn back on","pauseType":"delay","timeout":"6","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":580,"wires":[["4e28e9bc.b7fe98","6f551989.316ee8"]]},{"id":"4e28e9bc.b7fe98","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn on \"Leaving\"","server":"8d541f4c.9410b","service_domain":"automation","service":"turn_on","data":"{   \"entity_id\": \"automation.leaving\" }","mergecontext":"","x":550,"y":780,"wires":[[]]},{"id":"959afefe.6aae","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn on command from IFTTT","url":"/turn_on_leaving","method":"get","upload":false,"swaggerDoc":"","x":190,"y":820,"wires":[["4e28e9bc.b7fe98","6f551989.316ee8"]]},{"id":"742f0bf2.aa3c24","type":"http in","z":"eef2c7ac.0250c8","name":"Get turn off leaving command from IFTTT","url":"/turn_off_leaving","method":"get","upload":false,"swaggerDoc":"","x":220,"y":520,"wires":[["cb1cb7e0.f4a408","5f561563.34579c","f12f1f79.4e1b1"]]},{"id":"966a31cd.3e975","type":"comment","z":"eef2c7ac.0250c8","name":"v--- Automated leaving/arriving ","info":"","x":410,"y":460,"wires":[]},{"id":"f12f1f79.4e1b1","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn off Arriving automation","server":"8d541f4c.9410b","service_domain":"automation","service":"turn_off","data":"{\"entity_id\":\"automation.arrive\"}","mergecontext":"","x":580,"y":540,"wires":[[]]},{"id":"6f551989.316ee8","type":"api-call-service","z":"eef2c7ac.0250c8","name":"Turn on Arriving automation","server":"8d541f4c.9410b","service_domain":"automation","service":"turn_on","data":"{\"entity_id\":\"automation.arrive\"}","mergecontext":"","x":580,"y":820,"wires":[[]]},{"id":"b3ff77ec.da2028","type":"api-current-state","z":"f2e05ad4.a599c8","name":"Turn on lights enabled","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.turn_on_lights_in_morning","outputs":1,"x":660,"y":120,"wires":[["90318a0c.aad7b8"]]},{"id":"a6a489ec.4f83e8","type":"api-current-state","z":"3d3b5498.932ddc","name":"Get current brightness","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.main_area","outputs":1,"x":920,"y":1300,"wires":[["bac8ef1b.7f2f7","23bdc697.fe2aba"]]},{"id":"af25455a.f6d468","type":"change","z":"3d3b5498.932ddc","name":"","rules":[{"t":"set","p":"currentBrightness","pt":"flow","to":"data.attributes.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1360,"wires":[["a7e32f38.4b835"]]},{"id":"a7e32f38.4b835","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Lights","func":"var cb=flow.get('currentBrightness') - 1;\n\n\nvar newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n        // \"entity_id\":\"light.main_area\",\n         \"brightness\": cb\n      }\n   }\n};\n\nflow.set('currentBrightness',cb);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":740,"y":1420,"wires":[["77cf346e.c3b32c","14cac03b.df964","ceddfda9.ac7ac","6d48c11c.e1d5e"]]},{"id":"ceddfda9.ac7ac","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Main Area","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.main_area\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1000,"y":1420,"wires":[["abb3ae81.5a51e"]]},{"id":"bac8ef1b.7f2f7","type":"debug","z":"3d3b5498.932ddc","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.attributes.brightness","x":1220,"y":1300,"wires":[]},{"id":"abb3ae81.5a51e","type":"delay","z":"3d3b5498.932ddc","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":1540,"wires":[["f5224c0a.54acd"]]},{"id":"f5224c0a.54acd","type":"switch","z":"3d3b5498.932ddc","name":"Keep dimming until half brightness","property":"currentBrightness","propertyType":"flow","rules":[{"t":"gt","v":"127","vt":"num"},{"t":"lte","v":"127","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":1540,"wires":[["a7e32f38.4b835"],["b4dc280d.b69828"]]},{"id":"23bdc697.fe2aba","type":"switch","z":"3d3b5498.932ddc","name":"Dim if lights are too bright","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"120","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":1360,"wires":[["af25455a.f6d468"]]},{"id":"77cf346e.c3b32c","type":"debug","z":"3d3b5498.932ddc","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.brightness","x":1040,"y":1360,"wires":[]},{"id":"8572c95e.d794e8","type":"api-call-service","z":"3d3b5498.932ddc","name":"Turn on mid-level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1410,"y":1540,"wires":[[]]},{"id":"da34a2b6.c93d7","type":"delay","z":"3d3b5498.932ddc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":1300,"wires":[["cb0a1972.9c2638"]]},{"id":"2fcc51be.2150ee","type":"inject","z":"3d3b5498.932ddc","name":"10 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":80,"y":1720,"wires":[[]]},{"id":"69fa2590.16196c","type":"api-current-state","z":"3d3b5498.932ddc","name":"Get current brightness","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.main_area","outputs":1,"x":780,"y":1720,"wires":[["97d75708.582758","bcaba8ae.6c0d68"]]},{"id":"ceefc302.fa5a4","type":"change","z":"3d3b5498.932ddc","name":"","rules":[{"t":"set","p":"currentBrightness","pt":"flow","to":"data.attributes.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1780,"wires":[["27ebc7ba.5dc268"]]},{"id":"27ebc7ba.5dc268","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Lights","func":"var cb=flow.get('currentBrightness') - 1;\n\n\nvar newMsg =  {  \n   payload:\n   {  \n      \"data\":{\n         \"brightness\": cb\n      }\n   }\n};\n\nflow.set('currentBrightness',cb);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":580,"y":1840,"wires":[["b36274cd.ad2fe8","faf46bb2.a57718","450f47ec.01ca18","b983b345.bcf4"]]},{"id":"b36274cd.ad2fe8","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Main Area","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.main_area\"}","render_data":false,"mergecontext":"","x":820,"y":1840,"wires":[["a0b767d6.268218"]]},{"id":"bcaba8ae.6c0d68","type":"debug","z":"3d3b5498.932ddc","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.attributes.brightness","x":1100,"y":1720,"wires":[]},{"id":"a0b767d6.268218","type":"delay","z":"3d3b5498.932ddc","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":2020,"wires":[["c06a79bd.dcd798"]]},{"id":"c06a79bd.dcd798","type":"switch","z":"3d3b5498.932ddc","name":"Keep dimming until 30% brightness","property":"currentBrightness","propertyType":"flow","rules":[{"t":"gt","v":"77","vt":"str"},{"t":"lte","v":"77","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2020,"wires":[["27ebc7ba.5dc268"],["18047332.d026bd"]]},{"id":"97d75708.582758","type":"switch","z":"3d3b5498.932ddc","name":"Dim if lights are too bright","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"82","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1780,"wires":[["ceefc302.fa5a4"]]},{"id":"faf46bb2.a57718","type":"debug","z":"3d3b5498.932ddc","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.brightness","x":880,"y":1780,"wires":[]},{"id":"1f6dc87c.66c9e8","type":"api-call-service","z":"3d3b5498.932ddc","name":"Turn on low level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1210,"y":2020,"wires":[[]]},{"id":"fb6aa5bc.013898","type":"inject","z":"3d3b5498.932ddc","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":1240,"wires":[["a6a489ec.4f83e8"]]},{"id":"9e245015.14f3f","type":"comment","z":"3d3b5498.932ddc","name":"Sunset Dim","info":"","x":670,"y":1240,"wires":[]},{"id":"cffd6a6f.30ae28","type":"comment","z":"3d3b5498.932ddc","name":"Late Night 10 PM Dim","info":"","x":600,"y":1620,"wires":[]},{"id":"b84811bf.e75ce","type":"api-current-state","z":"3d3b5498.932ddc","name":"Am I home?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","outputs":1,"x":270,"y":1720,"wires":[["53c25752.45da18"]]},{"id":"cb0a1972.9c2638","type":"api-current-state","z":"3d3b5498.932ddc","name":"Am I home?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","outputs":1,"x":430,"y":1300,"wires":[["811643a3.8ccca"]]},{"id":"6e1dbe8a.9bfd1","type":"sun events","z":"f2e05ad4.a599c8","testmode":false,"verbose":false,"topic":"","name":"","x":80,"y":340,"wires":[["d498e56e.443aa8"]]},{"id":"d498e56e.443aa8","type":"switch","z":"f2e05ad4.a599c8","name":"Is sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":340,"wires":[["7071c442.11692c"]]},{"id":"7071c442.11692c","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Turn on Porch Light","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch\",\"brightness_pct\":\"100\"}","render_data":false,"mergecontext":"","x":510,"y":340,"wires":[[]]},{"id":"13b7732b.511b7d","type":"inject","z":"f2e05ad4.a599c8","name":"9 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["7dbcc71c.d3eeb8"]]},{"id":"7dbcc71c.d3eeb8","type":"api-current-state","z":"f2e05ad4.a599c8","name":"Is Porch light on?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"light.porch","outputs":1,"x":290,"y":400,"wires":[["2e6a2272.0d71fe"]]},{"id":"2e6a2272.0d71fe","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Dim Porch light","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch\",\"brightness_pct\":\"20\"}","render_data":false,"mergecontext":"","x":500,"y":400,"wires":[[]]},{"id":"86a0ee5b.544d","type":"inject","z":"f2e05ad4.a599c8","name":"Midnight","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":100,"y":460,"wires":[["24afa3f9.3ba09c"]]},{"id":"24afa3f9.3ba09c","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Turn off Porch light","server":"8d541f4c.9410b","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"light.porch\" }","mergecontext":"","x":510,"y":460,"wires":[[]]},{"id":"8c19d339.f01af","type":"comment","z":"f2e05ad4.a599c8","name":"Morning Bedroom Lights","info":"","x":410,"y":60,"wires":[]},{"id":"e76f5250.c9983","type":"comment","z":"f2e05ad4.a599c8","name":"Porch Light","info":"","x":310,"y":280,"wires":[]},{"id":"53c25752.45da18","type":"api-current-state","z":"3d3b5498.932ddc","name":"Is Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.late_night_auto_dim_lights","state_type":"str","outputs":2,"x":500,"y":1720,"wires":[["69fa2590.16196c"],[]]},{"id":"811643a3.8ccca","type":"api-current-state","z":"3d3b5498.932ddc","name":"Is Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.sunset_auto_dim_lights","outputs":1,"x":660,"y":1300,"wires":[["a6a489ec.4f83e8"]]},{"id":"d27d8759.fe86f8","type":"inject","z":"3d3b5498.932ddc","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":1660,"wires":[["69fa2590.16196c"]]},{"id":"231173d5.05979c","type":"api-current-state","z":"f2e05ad4.a599c8","name":"Am I home?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","outputs":1,"x":430,"y":120,"wires":[["b3ff77ec.da2028"]]},{"id":"8399364d.904a78","type":"http in","z":"5b297b5b.269ea4","name":"Unlock front door command from IFTTT","url":"/unlock_front_door","method":"get","upload":false,"swaggerDoc":"","x":210,"y":300,"wires":[["5085c234.f899dc","4e544714.8ae6f8"]]},{"id":"5085c234.f899dc","type":"api-call-service","z":"5b297b5b.269ea4","name":"Unlock the front door","server":"8d541f4c.9410b","service_domain":"lock","service":"unlock","data":"{\"entity_id\":\"lock.front_door_lock\"}","render_data":false,"mergecontext":"","x":520,"y":300,"wires":[[]]},{"id":"5569c7ad.da0908","type":"server-state-changed","z":"3630b580.d488ca","name":"I arrive","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":70,"y":40,"wires":[["b437a608.a8bb08"]]},{"id":"e7ef6cc4.16618","type":"function","z":"3630b580.d488ca","name":"Set Pushbullet message","func":"msg.payload = \"Lights on: Late Night triggered\"\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":240,"wires":[["22e82873.dadd08"]]},{"id":"22e82873.dadd08","type":"pushbullet","z":"3630b580.d488ca","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify Me","x":1420,"y":260,"wires":[]},{"id":"9b85367e.044188","type":"sunpos","z":"3630b580.d488ca","name":"","lon":"-97.8351872","lat":"30.2171827","start":"sunrise","startoffset":0,"end":"sunset","endoffset":0,"x":150,"y":120,"wires":[["16c510f3.cd37af"]]},{"id":"16c510f3.cd37af","type":"switch","z":"3630b580.d488ca","name":"Is Day/Night","property":"payload.sunInSky","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":200,"wires":[["c6f77c5f.42be4"],["fab75b1b.291818"]],"outputLabels":["Sun is in the sky","Sun has set"]},{"id":"fab75b1b.291818","type":"time-range-switch","z":"3630b580.d488ca","name":"Is late night or not","lat":"30.2171827","lon":"-97.8351872","startTime":"22:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":410,"y":260,"wires":[["fc13589e.29c568"],["9b9f4b17.763328"]],"outputLabels":["In between 10 PM and sunrise","During night, outside of 10 PM and sunrise"]},{"id":"c6f77c5f.42be4","type":"api-call-service","z":"3630b580.d488ca","name":"Turn on max level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.maxlevel\"}","mergecontext":"","x":410,"y":180,"wires":[["19e59fd.9045f6"]]},{"id":"fc13589e.29c568","type":"api-call-service","z":"3630b580.d488ca","name":"Turn on low level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.lowlevel\"}","mergecontext":"","x":650,"y":240,"wires":[["10a03e5e.a68982"]]},{"id":"9b9f4b17.763328","type":"api-call-service","z":"3630b580.d488ca","name":"Turn on mid level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.midlevel\"}","render_data":false,"mergecontext":"","x":650,"y":280,"wires":[["75076947.fe6548"]]},{"id":"74451031.5ea36","type":"function","z":"3630b580.d488ca","name":"Set Pushbullet message","func":"msg.payload = \"Lights on: Daytime triggered\"\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":180,"wires":[["22e82873.dadd08"]]},{"id":"1146e510.4bcc9b","type":"function","z":"3630b580.d488ca","name":"Set Pushbullet message","func":"msg.payload = \"Lights on: Evening triggered\"\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["22e82873.dadd08"]]},{"id":"d364bf10.f8386","type":"server-state-changed","z":"3630b580.d488ca","name":"I leave","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","haltifstate":"on","outputs":1,"x":70,"y":420,"wires":[["d31dbe23.f4931"]]},{"id":"7dc6f3c3.5c77fc","type":"api-call-service","z":"3630b580.d488ca","name":"Turn on leaving","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.leaving\"}","mergecontext":"","x":640,"y":400,"wires":[["ca10f1cb.fdd58"]]},{"id":"b4dc280d.b69828","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.midlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1200,"y":1540,"wires":[["8572c95e.d794e8"]]},{"id":"18047332.d026bd","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.lowlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1000,"y":2020,"wires":[["1f6dc87c.66c9e8"]]},{"id":"19e59fd.9045f6","type":"api-current-state","z":"3630b580.d488ca","name":"Is Messaging enabled?","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.message_me_for_leaving_arriving","state_type":"str","outputs":1,"x":910,"y":180,"wires":[["74451031.5ea36"]]},{"id":"75076947.fe6548","type":"api-current-state","z":"3630b580.d488ca","name":"Is Messaging enabled?","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.message_me_for_leaving_arriving","state_type":"str","outputs":1,"x":910,"y":280,"wires":[["1146e510.4bcc9b"]]},{"id":"10a03e5e.a68982","type":"api-current-state","z":"3630b580.d488ca","name":"Is Messaging enabled?","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.message_me_for_leaving_arriving","state_type":"str","outputs":1,"x":910,"y":240,"wires":[["e7ef6cc4.16618"]]},{"id":"ca10f1cb.fdd58","type":"api-current-state","z":"3630b580.d488ca","name":"Is Messaging enabled?","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.message_me_for_leaving_arriving","state_type":"str","outputs":1,"x":910,"y":360,"wires":[["ac732a49.c40d58"]]},{"id":"ac732a49.c40d58","type":"function","z":"3630b580.d488ca","name":"Set Pushbullet message","func":"msg.payload = \"Leaving triggered\"\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":360,"wires":[["22e82873.dadd08"]]},{"id":"b437a608.a8bb08","type":"switch","z":"3630b580.d488ca","name":"Remove duplicate events","property":"IsGone","propertyType":"flow","rules":[{"t":"true"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":40,"wires":[["23919119.7c434e"],["23919119.7c434e"]]},{"id":"d31dbe23.f4931","type":"switch","z":"3630b580.d488ca","name":"Remove duplicate events","property":"IsGone","propertyType":"flow","rules":[{"t":"false"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":360,"wires":[["6a6c4eae.29937"],["6a6c4eae.29937"]]},{"id":"23919119.7c434e","type":"change","z":"3630b580.d488ca","name":"","rules":[{"t":"set","p":"IsGone","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":40,"wires":[["9b85367e.044188"]]},{"id":"6a6c4eae.29937","type":"change","z":"3630b580.d488ca","name":"","rules":[{"t":"set","p":"IsGone","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":360,"wires":[["7dc6f3c3.5c77fc"]]},{"id":"4ff156ff.02fbf8","type":"http in","z":"eef2c7ac.0250c8","name":"Get \"Going on a run\" command from IFTTT","url":"/goingonarun","method":"get","upload":false,"swaggerDoc":"","x":220,"y":660,"wires":[["5f561563.34579c","f12f1f79.4e1b1","f179a90d.1746d8"]]},{"id":"f179a90d.1746d8","type":"delay","z":"eef2c7ac.0250c8","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":660,"wires":[["4e28e9bc.b7fe98","6f551989.316ee8"]]},{"id":"de7de37c.473f9","type":"server-state-changed","z":"b73bc626.338978","name":"I leave","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.is_david_home","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":110,"y":100,"wires":[["121659a0.22c006","cc9e968c.f73278","af076714.2cec98"]]},{"id":"121659a0.22c006","type":"ifttt out","z":"b73bc626.338978","eventName":"tv_off","key":"78dd16d3.bb4168","x":370,"y":60,"wires":[]},{"id":"670eaf0f.76c6c","type":"api-current-state","z":"b4d499b5.d319a8","name":"Is Coop Open?","server":"8d541f4c.9410b","halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"cover.chicken_coop_door","state_type":"str","outputs":1,"x":1020,"y":100,"wires":[["691390a5.ff3e8"]]},{"id":"cf31a581.e6b348","type":"mqtt out","z":"4702fd19.dc7d64","name":"Send Update Location command","topic":"owntracks/David/Pixel/cmd","qos":"2","retain":"false","broker":"a2e7a884.4d6948","x":760,"y":180,"wires":[]},{"id":"6aa6457f.3f74dc","type":"function","z":"4702fd19.dc7d64","name":"Set MQTT Payload","func":"var newMsg =  {  \n   payload:\n   {  \n      \"_type\": \"cmd\",\n      \"action\":\"reportLocation\"\n   }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["cf31a581.e6b348"]]},{"id":"137f0515.9fed1b","type":"server-state-changed","z":"4702fd19.dc7d64","name":"Garage opens","server":"8d541f4c.9410b","entityidfilter":"cover.garage_door_opener","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"closed","outputs":1,"x":80,"y":180,"wires":[["8f556ee9.383f6"]]},{"id":"8f556ee9.383f6","type":"api-current-state","z":"4702fd19.dc7d64","name":"I'm gone","server":"8d541f4c.9410b","halt_if":"on","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.is_david_home","outputs":1,"x":260,"y":180,"wires":[["6aa6457f.3f74dc"]]},{"id":"b95818d.05d79e8","type":"switch","z":"b4d499b5.d319a8","name":"Check setting to continue","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Noon","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":80,"wires":[["670eaf0f.76c6c"]]},{"id":"408e60ad.40aa6","type":"switch","z":"b4d499b5.d319a8","name":"Check setting to continue","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Sunrise","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":120,"wires":[["670eaf0f.76c6c"]]},{"id":"cc9e968c.f73278","type":"api-current-state","z":"b73bc626.338978","name":"Check if office fan light is on","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.office_fan_light","state_type":"str","outputs":1,"x":440,"y":100,"wires":[["f93a6995.0c8bf8"]]},{"id":"f93a6995.0c8bf8","type":"api-call-service","z":"b73bc626.338978","name":"Turn off office fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.office_fan_light\" }","mergecontext":"","x":720,"y":100,"wires":[[]]},{"id":"af076714.2cec98","type":"api-current-state","z":"b73bc626.338978","name":"Check if bedroom fan light is on","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.bedroom_fan_light","state_type":"str","outputs":1,"x":450,"y":140,"wires":[["6d623959.36f1a8"]]},{"id":"6d623959.36f1a8","type":"api-call-service","z":"b73bc626.338978","name":"Turn off bedroom fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.bedroom_fan_light\"}","render_data":false,"mergecontext":"","x":730,"y":140,"wires":[[]]},{"id":"de058134.d50c2","type":"http in","z":"50eef82.f52fa08","name":"Toggle Ceiling Light Request from IFTTT","url":"/ceilingfantoggle","method":"post","upload":false,"swaggerDoc":"","x":190,"y":80,"wires":[["5b99e2c7.6a39dc"]]},{"id":"5b99e2c7.6a39dc","type":"switch","z":"50eef82.f52fa08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"office","vt":"str"},{"t":"cont","v":"bedroom","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":80,"wires":[["6cdf5f4c.299c5"],["12031625.cab6ba"]]},{"id":"6cdf5f4c.299c5","type":"api-call-service","z":"50eef82.f52fa08","name":"Toggle the office fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.office_fan_light\" }","mergecontext":"","x":710,"y":60,"wires":[[]]},{"id":"12031625.cab6ba","type":"api-call-service","z":"50eef82.f52fa08","name":"Toggle the bedroom fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.bedroom_fan_light\" }","mergecontext":"","x":720,"y":100,"wires":[[]]},{"id":"d8787965.195628","type":"http in","z":"50eef82.f52fa08","name":"Get Fan Speed Request from IFTTT","url":"/fanspeed","method":"post","upload":false,"swaggerDoc":"","x":170,"y":260,"wires":[["4db59a48.036504"]]},{"id":"4db59a48.036504","type":"change","z":"50eef82.f52fa08","name":"Convert Fan Speed to Text","rules":[{"t":"change","p":"payload[\"speed\"]","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload[\"speed\"]","pt":"msg","from":"1","fromt":"num","to":"low","tot":"str"},{"t":"change","p":"payload[\"speed\"]","pt":"msg","from":"2","fromt":"num","to":"medium","tot":"str"},{"t":"change","p":"payload[\"speed\"]","pt":"msg","from":"3","fromt":"num","to":"high","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["e9f9a33c.2c8ec"]]},{"id":"ef2fd571.eaab38","type":"function","z":"50eef82.f52fa08","name":"Set payload for call","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"climate.\"+ msg.payload[\"fan\"] + \"_ceiling_fan\",\n         \"fan_mode\": msg.payload[\"speed\"]\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["9a3a8072.042c4"]]},{"id":"9a3a8072.042c4","type":"api-call-service","z":"50eef82.f52fa08","name":"Set Fan Speed","server":"8d541f4c.9410b","service_domain":"climate","service":"set_fan_mode","data":"","mergecontext":"","x":880,"y":260,"wires":[[]]},{"id":"e9f9a33c.2c8ec","type":"change","z":"50eef82.f52fa08","name":"Clean up fan input","rules":[{"t":"change","p":"payload[\"fan\"]","pt":"msg","from":"the office","fromt":"str","to":"office","tot":"str"},{"t":"change","p":"payload[\"fan\"]","pt":"msg","from":"the bedroom","fromt":"str","to":"bedroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":260,"wires":[["ef2fd571.eaab38"]]},{"id":"e5728604.0227f8","type":"server-state-changed","z":"ebc1df31.59b41","name":"Leak Detected","server":"8d541f4c.9410b","entityidfilter":"binary_sensor.leak_sensor_liquid_detected","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"dry","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":100,"y":120,"wires":[["af8d703a.445e3"]]},{"id":"cc61ea16.24bef8","type":"function","z":"ebc1df31.59b41","name":"Set Pushbullet message","func":"msg.payload = \"Water heater leak detected!\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["dbd76b6a.70cf68"]]},{"id":"dbd76b6a.70cf68","type":"pushbullet","z":"ebc1df31.59b41","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify Me","x":860,"y":240,"wires":[]},{"id":"9e75337a.80e2e","type":"change","z":"ebc1df31.59b41","name":"Set notified flag to true","rules":[{"t":"set","p":"BeenNotified","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":240,"wires":[["cc61ea16.24bef8"]]},{"id":"af8d703a.445e3","type":"switch","z":"ebc1df31.59b41","name":"Check to see if I've been notified yet today","property":"BeenNotified","propertyType":"flow","rules":[{"t":"false"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":180,"wires":[["9e75337a.80e2e"],["9e75337a.80e2e"]]},{"id":"f2b06a7.2958498","type":"inject","z":"ebc1df31.59b41","name":"Reset notification flag","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["82e8f3cc.b1046"]]},{"id":"82e8f3cc.b1046","type":"change","z":"ebc1df31.59b41","name":"Reset notification flag","rules":[{"t":"set","p":"BeenNotified","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":360,"wires":[[]]},{"id":"798b90b4.fff8e","type":"inject","z":"f2e05ad4.a599c8","name":"Midnight trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":130,"y":580,"wires":[["eb88869c.14d2b8"]]},{"id":"eb88869c.14d2b8","type":"api-current-state","z":"f2e05ad4.a599c8","name":"Sun Info","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sun.sun","outputs":1,"x":320,"y":580,"wires":[["a72f6a50.5b7d68"]]},{"id":"a72f6a50.5b7d68","type":"function","z":"f2e05ad4.a599c8","name":"Calculate ontime to get 14 hours of light","func":"ns = Date.parse(msg.data.attributes.next_setting) / 1000;\nnr = Date.parse(msg.data.attributes.next_rising) / 1000;\n\ntotal_daylight = (ns - nr);\nlight_needed_min = Math.round((14*3600 - total_daylight) / 60);\n\nnr *= 1000\nlight_needed_ms = light_needed_min * 60 * 1000\nontime = nr - light_needed_ms\n\nmsg.payload = \n{\n   // \"onoffset\": -1 * light_needed_min,\n    \"ontime\": ontime\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":580,"wires":[["17b66b04.d39295"]]},{"id":"ebfbb420.bbfd48","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Turn on coop light","server":"8d541f4c.9410b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.chicken_coop_light\"}","render_data":false,"mergecontext":"","x":1350,"y":560,"wires":[["d7f8d985.c66ae8"]]},{"id":"b3681a2c.bcf6d8","type":"api-call-service","z":"f2e05ad4.a599c8","name":"Turn off coop light","server":"8d541f4c.9410b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.chicken_coop_light\"}","render_data":false,"mergecontext":"","x":1350,"y":600,"wires":[["ce02ca8b.00b038"]]},{"id":"f5fcbb3b.b531d8","type":"comment","z":"f2e05ad4.a599c8","name":"Chicken Coop Light","info":"","x":290,"y":520,"wires":[]},{"id":"1ddec147.2326ff","type":"schedex","z":"f2e05ad4.a599c8","name":"","suspended":false,"lat":"30.2171827","lon":"-97.8351872","ontime":"sunrise","ontopic":"","onpayload":"on","onoffset":0,"onrandomoffset":0,"offtime":"sunrise","offtopic":"","offpayload":"off","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":1000,"y":580,"wires":[["169080a1.11e81f"]]},{"id":"169080a1.11e81f","type":"switch","z":"f2e05ad4.a599c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":580,"wires":[["ebfbb420.bbfd48"],["b3681a2c.bcf6d8"]]},{"id":"d7f8d985.c66ae8","type":"function","z":"f2e05ad4.a599c8","name":"Set Pushbullet message","func":"msg.payload = \"Chicken coop light ON\"\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":560,"wires":[["9601131b.d21a"]]},{"id":"c08b4980.9c0868","type":"pushbullet","z":"f2e05ad4.a599c8","config":"e3af4efc.43df7","pushtype":"note","title":"Home Assistant","chan":"","name":"Notify Me","x":2040,"y":580,"wires":[]},{"id":"ce02ca8b.00b038","type":"function","z":"f2e05ad4.a599c8","name":"Set Pushbullet message","func":"msg.payload = \"Chicken coop light OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":600,"wires":[["9601131b.d21a"]]},{"id":"9601131b.d21a","type":"api-current-state","z":"f2e05ad4.a599c8","name":"Messaging Enabled?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"input_boolean.message_me_for_coop_lights","outputs":1,"x":1840,"y":580,"wires":[["c08b4980.9c0868"]]},{"id":"398689f.e866c76","type":"api-current-state","z":"b4d499b5.d319a8","name":"Is Coop Open?","server":"8d541f4c.9410b","halt_if":"closed","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"cover.chicken_coop_door","outputs":1,"x":540,"y":180,"wires":[["8c5d1ae8.3cfcb8"]]},{"id":"14cac03b.df964","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Office","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_table\"}","render_data":false,"mergecontext":"","x":990,"y":1460,"wires":[[]]},{"id":"6d48c11c.e1d5e","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Kitchen","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_area\"}","render_data":false,"mergecontext":"","x":990,"y":1500,"wires":[[]]},{"id":"b983b345.bcf4","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Kitchen","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_area\"}","render_data":false,"mergecontext":"","x":810,"y":1920,"wires":[[]]},{"id":"450f47ec.01ca18","type":"api-call-service","z":"3d3b5498.932ddc","name":"Dim Office","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_table\"}","render_data":false,"mergecontext":"","x":810,"y":1880,"wires":[[]]},{"id":"4e544714.8ae6f8","type":"template","z":"5b297b5b.269ea4","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n    setTimeout((() => \n    {\n        window.close()\n    }), 3000)\n</script>\n<html>\n    <head></head>\n    <body>\n        <h1>Door Unlocked</h1>\n    </body>\n</html>","x":510,"y":340,"wires":[["fca26d2f.e0933"]]},{"id":"fca26d2f.e0933","type":"http response","z":"5b297b5b.269ea4","name":"Respond","statusCode":"","headers":{},"x":700,"y":340,"wires":[]},{"id":"d54afe98.fda62","type":"template","z":"5b297b5b.269ea4","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n    setTimeout((() => \n    {\n        window.close()\n    }), 3000)\n</script>\n<html>\n    <head></head>\n    <body>\n        <h1>Garage door opened</h1>\n    </body>\n</html>","x":510,"y":140,"wires":[["1407eb4a.85cc65"]]},{"id":"1407eb4a.85cc65","type":"http response","z":"5b297b5b.269ea4","name":"Respond","statusCode":"","headers":{},"x":700,"y":140,"wires":[]},{"id":"cdbac61a.21ac08","type":"template","z":"5b297b5b.269ea4","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Garage door closed</h1>\n    </body>\n</html>","x":510,"y":240,"wires":[["73d0af55.680d2"]]},{"id":"73d0af55.680d2","type":"http response","z":"5b297b5b.269ea4","name":"Respond","statusCode":"","headers":{},"x":700,"y":240,"wires":[]},{"id":"fb768a6d.310218","type":"http in","z":"5b297b5b.269ea4","name":"Lock front door command from IFTTT","url":"/lock_front_door","method":"get","upload":false,"swaggerDoc":"","x":210,"y":400,"wires":[["10b09fbd.6256","4285c153.44bd"]]},{"id":"10b09fbd.6256","type":"api-call-service","z":"5b297b5b.269ea4","name":"Lock the front door","server":"8d541f4c.9410b","service_domain":"lock","service":"lock","data":"{\"entity_id\":\"lock.front_door_lock\"}","render_data":false,"mergecontext":"","x":510,"y":400,"wires":[[]]},{"id":"4285c153.44bd","type":"template","z":"5b297b5b.269ea4","name":"Define Return Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n    setTimeout((() => \n    {\n        window.close()\n    }), 3000)\n</script>\n<html>\n    <head></head>\n    <body>\n        <h1>Door Locked</h1>\n    </body>\n</html>","x":510,"y":440,"wires":[["304ad4c5.cefb6c"]]},{"id":"304ad4c5.cefb6c","type":"http response","z":"5b297b5b.269ea4","name":"Respond","statusCode":"","headers":{},"x":700,"y":440,"wires":[]},{"id":"c8f3ee57.f5ecd","type":"http in","z":"5b297b5b.269ea4","name":"Good Morning from IFTTT","url":"/goodmorning","method":"get","upload":false,"swaggerDoc":"","x":170,"y":540,"wires":[["b10d06e0.9d0448","d8129544.006fa8","3e4d7aaf.676de6"]]},{"id":"b10d06e0.9d0448","type":"api-call-service","z":"5b297b5b.269ea4","name":"Scene: Good Morning","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.good_morning\"}","render_data":false,"mergecontext":"","x":520,"y":500,"wires":[[]]},{"id":"d8129544.006fa8","type":"api-call-service","z":"5b297b5b.269ea4","name":"Turn off bedroom ceiling fan","server":"8d541f4c.9410b","service_domain":"climate","service":"set_fan_mode","data":"{   \"entity_id\": \"climate.bedroom_ceiling_fan\",  \"fan_mode\":\"off\" }","mergecontext":"","x":540,"y":540,"wires":[[]]},{"id":"3e4d7aaf.676de6","type":"api-current-state","z":"5b297b5b.269ea4","name":"Check if bedroom fan light is on","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.bedroom_fan_light","outputs":1,"x":550,"y":580,"wires":[["c7d75c43.49a9b"]]},{"id":"c7d75c43.49a9b","type":"api-call-service","z":"5b297b5b.269ea4","name":"Turn off bedroom fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.bedroom_fan_light\" }","mergecontext":"","x":830,"y":580,"wires":[[]]},{"id":"497c12c2.3f8e0c","type":"http in","z":"5b297b5b.269ea4","name":"Goodnight from IFTTT","url":"/goodnight","method":"get","upload":false,"swaggerDoc":"","x":160,"y":700,"wires":[["b98d14b9.8bb128","77d08d0e.cc15b4","dde56227.9353e","b84cf17a.1686c"]]},{"id":"b98d14b9.8bb128","type":"api-call-service","z":"5b297b5b.269ea4","name":"Scene: Goodnight","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.goodnight\"}","render_data":false,"mergecontext":"","x":510,"y":640,"wires":[[]]},{"id":"77d08d0e.cc15b4","type":"ifttt out","z":"5b297b5b.269ea4","eventName":"tv_off","key":"78dd16d3.bb4168","x":470,"y":680,"wires":[]},{"id":"dde56227.9353e","type":"api-current-state","z":"5b297b5b.269ea4","name":"Check if office fan light is on","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.office_fan_light","state_type":"str","outputs":1,"x":540,"y":720,"wires":[["d94ef8e7.1d36c8"]]},{"id":"d94ef8e7.1d36c8","type":"api-call-service","z":"5b297b5b.269ea4","name":"Turn off office fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.office_fan_light\" }","mergecontext":"","x":820,"y":720,"wires":[[]]},{"id":"b84cf17a.1686c","type":"api-current-state","z":"5b297b5b.269ea4","name":"Check if bedroom fan light is on","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.bedroom_fan_light","outputs":1,"x":550,"y":760,"wires":[["74a0002b.cfd23"]]},{"id":"74a0002b.cfd23","type":"api-call-service","z":"5b297b5b.269ea4","name":"Turn off bedroom fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.bedroom_fan_light\" }","mergecontext":"","x":830,"y":760,"wires":[[]]},{"id":"b9b14af2.920218","type":"http in","z":"5b297b5b.269ea4","name":"Blackout from IFTTT","url":"/blackout","method":"get","upload":false,"swaggerDoc":"","x":150,"y":880,"wires":[["e7e91282.deece"]]},{"id":"e7e91282.deece","type":"api-call-service","z":"5b297b5b.269ea4","name":"Scene: Blackout","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.blackout\"}","render_data":false,"mergecontext":"","x":480,"y":880,"wires":[[]]},{"id":"f0e79747.713aa8","type":"http in","z":"5b297b5b.269ea4","name":"Mid-Level from IFTTT","url":"/mid_level","method":"get","upload":false,"swaggerDoc":"","x":160,"y":960,"wires":[["7080872a.b1c528"]]},{"id":"7080872a.b1c528","type":"api-call-service","z":"5b297b5b.269ea4","name":"Scene: Mid-Level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.midlevel\"}","render_data":false,"mergecontext":"","x":490,"y":960,"wires":[[]]},{"id":"f0ea1ee8.f1403","type":"sun events","z":"b4d499b5.d319a8","testmode":false,"verbose":false,"topic":"","name":"","x":100,"y":140,"wires":[["dd45e0f5.059c5"]]},{"id":"8c5d1ae8.3cfcb8","type":"delay","z":"b4d499b5.d319a8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":180,"wires":[["8b399200.f274"]]},{"id":"17b66b04.d39295","type":"moment","z":"f2e05ad4.a599c8","name":"Format","topic":"","input":"payload.ontime","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"C","output":"payload.ontime","outputType":"msg","outTz":"America/Chicago","x":820,"y":580,"wires":[["1ddec147.2326ff"]]},{"id":"fcc3f57d.479348","type":"http in","z":"5b297b5b.269ea4","name":"TV-Mode from IFTTT","url":"/mid_level","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1040,"wires":[["f0cac2f.944f84","bcf44052.4b3f8"]]},{"id":"f0cac2f.944f84","type":"api-call-service","z":"5b297b5b.269ea4","name":"Scene: TV-Mode","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.tv_mode\"}","render_data":false,"mergecontext":"","x":490,"y":1040,"wires":[[]]},{"id":"bcf44052.4b3f8","type":"api-current-state","z":"5b297b5b.269ea4","name":"Check to see if porch is on","server":"8d541f4c.9410b","halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.porch","state_type":"habool","outputs":1,"x":520,"y":1080,"wires":[["194fbcd2.9b2273"]]},{"id":"194fbcd2.9b2273","type":"api-call-service","z":"5b297b5b.269ea4","name":"Dim down Porch Light","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch\",\"brightness_pct\":20}","render_data":false,"mergecontext":"","x":800,"y":1080,"wires":[[]]},{"id":"b02ff906.96a748","type":"http in","z":"5b297b5b.269ea4","name":"Max-Level from IFTTT","url":"/max_level","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1160,"wires":[["1d406d6c.30c003"]]},{"id":"1d406d6c.30c003","type":"api-call-service","z":"5b297b5b.269ea4","name":"Scene: Max-Level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.maxlevel\"}","render_data":false,"mergecontext":"","x":490,"y":1160,"wires":[[]]},{"id":"a950a884.408a78","type":"http in","z":"5b297b5b.269ea4","name":"Fan on from IFTTT","url":"/fan_on","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1260,"wires":[["dd3ed1f.8770a3"]]},{"id":"f6203314.ad537","type":"debug","z":"5b297b5b.269ea4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":400,"y":1360,"wires":[]},{"id":"dd3ed1f.8770a3","type":"change","z":"5b297b5b.269ea4","name":"Convert Request to entity","rules":[{"t":"change","p":"payload","pt":"msg","from":"^the (.*)$","fromt":"re","to":"switch.$1_fan","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"_","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1260,"wires":[["76299b0e.8f5d54"]]},{"id":"40a4201.669f9e","type":"api-call-service","z":"5b297b5b.269ea4","name":"Turn on Fan","server":"8d541f4c.9410b","service_domain":"switch","service":"turn_on","data":"","render_data":false,"mergecontext":"","x":830,"y":1260,"wires":[[]]},{"id":"76299b0e.8f5d54","type":"function","z":"5b297b5b.269ea4","name":"Create Payload","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n        \"entity_id\": msg.payload\n      }\n   }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":620,"y":1260,"wires":[["40a4201.669f9e"]]},{"id":"5fafa33.2ca045c","type":"http in","z":"5b297b5b.269ea4","name":"Fan off from IFTTT","url":"/fan_off","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1320,"wires":[["7b967a0b.e0d1c4"]]},{"id":"7b967a0b.e0d1c4","type":"change","z":"5b297b5b.269ea4","name":"Convert Request to entity","rules":[{"t":"change","p":"payload","pt":"msg","from":"^the (.*)$","fromt":"re","to":"switch.$1_fan","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"_","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1320,"wires":[["18db959a.b0b46a"]]},{"id":"afa94da3.dc3c1","type":"api-call-service","z":"5b297b5b.269ea4","name":"Turn off Fan","server":"8d541f4c.9410b","service_domain":"switch","service":"turn_off","data":"","render_data":false,"mergecontext":"","x":830,"y":1320,"wires":[[]]},{"id":"18db959a.b0b46a","type":"function","z":"5b297b5b.269ea4","name":"Create Payload","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n        \"entity_id\": msg.payload\n      }\n   }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":620,"y":1320,"wires":[["afa94da3.dc3c1"]]},{"id":"bdcef5ad.1b4fe8","type":"server-events","z":"b73bc626.338978","name":"","server":"8d541f4c.9410b","event_type":"","x":120,"y":280,"wires":[[]]},{"id":"49a79312.d90f2c","type":"debug","z":"b73bc626.338978","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":300,"wires":[]},{"id":"bd06152d.cf57d8","type":"server-events","z":"b73bc626.338978","name":"","server":"8d541f4c.9410b","event_type":"call_service","x":150,"y":200,"wires":[["908554a4.9229e8"]]},{"id":"17c9a337.564c9d","type":"ha-get-entities","z":"b73bc626.338978","server":"8d541f4c.9410b","name":"","rules":[{"property":"attributes.dimming_target","logic":"is","value":"true","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":290,"y":500,"wires":[["a272b6be.e95658"]]},{"id":"f639a7ec.499a38","type":"inject","z":"b73bc626.338978","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["79fa6793.dcb698"]]},{"id":"dcf3eaad.ce5318","type":"debug","z":"b73bc626.338978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":360,"wires":[]},{"id":"908554a4.9229e8","type":"function","z":"b73bc626.338978","name":"Filter to scene.leaving","func":"\nif (msg.payload.event.domain == \"scene\" \n    && msg.payload.event.service_data.entity_id \n        == \"scene.leaving\")\n    return msg;\nelse\n    return null;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["12061b0f.f70c55","42b8a2b0.71e56c"]]},{"id":"12061b0f.f70c55","type":"api-current-state","z":"b73bc626.338978","name":"Check if office fan light is on","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.office_fan_light","state_type":"str","outputs":1,"x":660,"y":200,"wires":[["764fc1b.a4fce4"]]},{"id":"764fc1b.a4fce4","type":"api-call-service","z":"b73bc626.338978","name":"Turn off office fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{   \"entity_id\": \"switch.office_fan_light\" }","mergecontext":"","x":940,"y":200,"wires":[[]]},{"id":"42b8a2b0.71e56c","type":"api-current-state","z":"b73bc626.338978","name":"Check if bedroom fan light is on","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.bedroom_fan_light","state_type":"str","outputs":1,"x":670,"y":240,"wires":[["c7688505.a28a08"]]},{"id":"c7688505.a28a08","type":"api-call-service","z":"b73bc626.338978","name":"Turn off bedroom fan light","server":"8d541f4c.9410b","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.bedroom_fan_light\"}","render_data":false,"mergecontext":"","x":950,"y":240,"wires":[[]]},{"id":"a272b6be.e95658","type":"split","z":"b73bc626.338978","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":350,"y":360,"wires":[["e8120c25.139ef"]]},{"id":"29d735a1.f7b7ca","type":"function","z":"b73bc626.338978","name":"Set payload for Lights","func":"var currentBrightness = 0;\n\n// if(msg.payload.attributes != null)\n// {\n//     currentBrightness = msg.payload.attributes.brightness;\n// }\n// else \n// {\n//     currentBrightness = msg.payload.data.brightness;\n// }\n\nvar newBrightness = msg.payload.attributes.brightness - 3;\n\nvar newMsg =  {  \n   payload: \n   {\n       data:\n       {\n            entity_id: msg.payload.entity_id,\n            brightness: newBrightness\n       }\n   },\n   \n   targetBrightness : msg.targetBrightness\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":740,"y":420,"wires":[["ffaffab0.04bce8"]]},{"id":"e8120c25.139ef","type":"switch","z":"b73bc626.338978","name":"","property":"payload.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"targetBrightness","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":420,"wires":[["29d735a1.f7b7ca"]]},{"id":"79fa6793.dcb698","type":"change","z":"b73bc626.338978","name":"","rules":[{"t":"set","p":"targetBrightness","pt":"msg","to":"128","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":440,"wires":[["17c9a337.564c9d"]]},{"id":"99185517.a50338","type":"delay","z":"b73bc626.338978","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":500,"wires":[["a34fa734.192028"]]},{"id":"ffaffab0.04bce8","type":"api-call-service","z":"b73bc626.338978","name":"","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":970,"y":420,"wires":[["dcf3eaad.ce5318","99185517.a50338"]]},{"id":"a34fa734.192028","type":"change","z":"b73bc626.338978","name":"Reformat data","rules":[{"t":"set","p":"payload.attributes.brightness","pt":"msg","to":"payload.data.brightness","tot":"msg"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"payload.data.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":580,"wires":[["e8120c25.139ef"]]},{"id":"379802a9.a25a4e","type":"ha-get-entities","z":"3d3b5498.932ddc","server":"8d541f4c.9410b","name":"Get Turned on Entities","rules":[{"property":"attributes.dimming_target","logic":"is","value":"true","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":710,"y":320,"wires":[["25fbad1a.2294f2"]]},{"id":"25fbad1a.2294f2","type":"split","z":"3d3b5498.932ddc","name":"Split Entities","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":320,"wires":[["467b5bcb.5d0454"]]},{"id":"86d118bc.6650e8","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Lights","func":"var currentBrightness = 0;\n\n// if(msg.payload.attributes != null)\n// {\n//     currentBrightness = msg.payload.attributes.brightness;\n// }\n// else \n// {\n//     currentBrightness = msg.payload.data.brightness;\n// }\n\nvar newBrightness = msg.payload.attributes.brightness - 3;\n\nvar newMsg =  {  \n   payload: \n   {\n       data:\n       {\n            entity_id: msg.payload.entity_id,\n            brightness: newBrightness\n       }\n   },\n   \n   targetBrightness : msg.targetBrightness,\n   event: msg.event\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":800,"y":440,"wires":[["633f12c7.2e781c"]]},{"id":"467b5bcb.5d0454","type":"switch","z":"3d3b5498.932ddc","name":"Keep dimming until target brightness is met","property":"payload.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"targetBrightness","vt":"msg"},{"t":"lt","v":"targetBrightness","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":380,"wires":[["86d118bc.6650e8"],["e4694ea7.26075"]]},{"id":"326aabe6.4ea6f4","type":"change","z":"3d3b5498.932ddc","name":"Set Target to 50%","rules":[{"t":"set","p":"targetBrightness","pt":"msg","to":"128","tot":"num"},{"t":"set","p":"event","pt":"msg","to":"sunset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["620a1974.898a18"]]},{"id":"321d628c.e733de","type":"delay","z":"3d3b5498.932ddc","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":540,"wires":[["ee01f97e.594178"]]},{"id":"633f12c7.2e781c","type":"api-call-service","z":"3d3b5498.932ddc","name":"Adjust Brightness","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1010,"y":440,"wires":[["321d628c.e733de"]]},{"id":"ee01f97e.594178","type":"change","z":"3d3b5498.932ddc","name":"Reformat data","rules":[{"t":"set","p":"payload.attributes.brightness","pt":"msg","to":"payload.data.brightness","tot":"msg"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"payload.data.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":380,"wires":[["467b5bcb.5d0454"]]},{"id":"4ca4f94a.6b9138","type":"sun events","z":"3d3b5498.932ddc","testmode":false,"verbose":false,"topic":"","name":"","x":120,"y":60,"wires":[["9cce3dac.8a4ed"]]},{"id":"9cce3dac.8a4ed","type":"switch","z":"3d3b5498.932ddc","name":"Is sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":120,"y":100,"wires":[["4731832f.6f2e2c"]]},{"id":"4731832f.6f2e2c","type":"delay","z":"3d3b5498.932ddc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":140,"wires":[["3e655837.7f3c78"]]},{"id":"620a1974.898a18","type":"api-current-state","z":"3d3b5498.932ddc","name":"Am I home?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","outputs":1,"x":530,"y":320,"wires":[["379802a9.a25a4e"]]},{"id":"3e655837.7f3c78","type":"api-current-state","z":"3d3b5498.932ddc","name":"Is Sunset Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":false,"override_payload":false,"override_data":false,"entity_id":"input_boolean.sunset_auto_dim_lights","state_type":"str","outputs":2,"x":200,"y":180,"wires":[["326aabe6.4ea6f4"],[]]},{"id":"340df284.5fd77e","type":"inject","z":"3d3b5498.932ddc","name":"10 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":100,"y":480,"wires":[["8594fcb2.fc4ae"]]},{"id":"8594fcb2.fc4ae","type":"api-current-state","z":"3d3b5498.932ddc","name":"Is 10 PM Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.late_night_auto_dim_lights","state_type":"str","outputs":2,"x":180,"y":520,"wires":[["f98cd1f9.ad00e"],[]]},{"id":"9bdccd64.fe9f8","type":"inject","z":"3d3b5498.932ddc","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["326aabe6.4ea6f4"]]},{"id":"40e96b90.0b2b74","type":"sun events","z":"64664453.b97c0c","testmode":false,"verbose":false,"topic":"","name":"","x":100,"y":40,"wires":[["ac7a401f.c7be6"]]},{"id":"ac7a401f.c7be6","type":"switch","z":"64664453.b97c0c","name":"Is sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":100,"y":100,"wires":[["ed67f773.812cd8"]]},{"id":"54ab3f71.1c19c","type":"api-current-state","z":"64664453.b97c0c","name":"Get current brightness","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.main_area","outputs":1,"x":940,"y":100,"wires":[["95df71f4.8842d","84e73328.001d7"]]},{"id":"b8fbde80.9cbf4","type":"change","z":"64664453.b97c0c","name":"","rules":[{"t":"set","p":"currentBrightness","pt":"flow","to":"data.attributes.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":160,"wires":[["bd72eea2.877fb"]]},{"id":"bd72eea2.877fb","type":"function","z":"64664453.b97c0c","name":"Set payload for Lights","func":"var cb=flow.get('currentBrightness') - 1;\n\n\nvar newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n        // \"entity_id\":\"light.main_area\",\n         \"brightness\": cb\n      }\n   }\n};\n\nflow.set('currentBrightness',cb);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":760,"y":220,"wires":[["5bc4f4d1.0f515c","8c062e24.dec2d","d2a2b9ae.847408","5cdb0b0a.7445c4"]]},{"id":"d2a2b9ae.847408","type":"api-call-service","z":"64664453.b97c0c","name":"Dim Main Area","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.main_area\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1020,"y":220,"wires":[["a033efce.fbd42"]]},{"id":"95df71f4.8842d","type":"debug","z":"64664453.b97c0c","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.attributes.brightness","x":1240,"y":100,"wires":[]},{"id":"a033efce.fbd42","type":"delay","z":"64664453.b97c0c","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":340,"wires":[["b7165506.3e8d68"]]},{"id":"b7165506.3e8d68","type":"switch","z":"64664453.b97c0c","name":"Keep dimming until half brightness","property":"currentBrightness","propertyType":"flow","rules":[{"t":"gt","v":"127","vt":"num"},{"t":"lte","v":"127","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":340,"wires":[["bd72eea2.877fb"],["ca06dcd4.9a375"]]},{"id":"84e73328.001d7","type":"switch","z":"64664453.b97c0c","name":"Dim if lights are too bright","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"120","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":160,"wires":[["b8fbde80.9cbf4"]]},{"id":"5bc4f4d1.0f515c","type":"debug","z":"64664453.b97c0c","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.brightness","x":1060,"y":160,"wires":[]},{"id":"f1463a1.60833c8","type":"api-call-service","z":"64664453.b97c0c","name":"Turn on mid-level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1430,"y":340,"wires":[[]]},{"id":"ed67f773.812cd8","type":"delay","z":"64664453.b97c0c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":100,"wires":[["ce57b190.161e9"]]},{"id":"94f86eed.821e","type":"inject","z":"64664453.b97c0c","name":"10 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":80,"y":1720,"wires":[["dae66cc4.a2065"]]},{"id":"158674d9.1e1cdb","type":"api-current-state","z":"64664453.b97c0c","name":"Get current brightness","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.main_area","outputs":1,"x":780,"y":1720,"wires":[["5280732a.2accec","ae8c1cb3.9caf3"]]},{"id":"2e496d5f.402632","type":"change","z":"64664453.b97c0c","name":"","rules":[{"t":"set","p":"currentBrightness","pt":"flow","to":"data.attributes.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1780,"wires":[["ac6b152f.9bb768"]]},{"id":"ac6b152f.9bb768","type":"function","z":"64664453.b97c0c","name":"Set payload for Lights","func":"var cb=flow.get('currentBrightness') - 1;\n\n\nvar newMsg =  {  \n   payload:\n   {  \n      \"data\":{\n         \"brightness\": cb\n      }\n   }\n};\n\nflow.set('currentBrightness',cb);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":580,"y":1840,"wires":[["5b42efb3.666b","9ff82ba8.da7b18","286bf29d.d3228e","3acd0dd4.e5b3f2"]]},{"id":"5b42efb3.666b","type":"api-call-service","z":"64664453.b97c0c","name":"Dim Main Area","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.main_area\"}","render_data":false,"mergecontext":"","x":820,"y":1840,"wires":[["df7bf255.8b7b4"]]},{"id":"ae8c1cb3.9caf3","type":"debug","z":"64664453.b97c0c","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.attributes.brightness","x":1100,"y":1720,"wires":[]},{"id":"df7bf255.8b7b4","type":"delay","z":"64664453.b97c0c","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":2020,"wires":[["194544d2.4be0ab"]]},{"id":"194544d2.4be0ab","type":"switch","z":"64664453.b97c0c","name":"Keep dimming until 30% brightness","property":"currentBrightness","propertyType":"flow","rules":[{"t":"gt","v":"77","vt":"str"},{"t":"lte","v":"77","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2020,"wires":[["ac6b152f.9bb768"],["5435d980.049cc8"]]},{"id":"5280732a.2accec","type":"switch","z":"64664453.b97c0c","name":"Dim if lights are too bright","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"82","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1780,"wires":[["2e496d5f.402632"]]},{"id":"9ff82ba8.da7b18","type":"debug","z":"64664453.b97c0c","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.brightness","x":880,"y":1780,"wires":[]},{"id":"af4aa2c4.b5ef1","type":"api-call-service","z":"64664453.b97c0c","name":"Turn on low level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1210,"y":2020,"wires":[[]]},{"id":"ff7fe79f.9b6d18","type":"inject","z":"64664453.b97c0c","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":40,"wires":[["54ab3f71.1c19c"]]},{"id":"6b9ba477.f1f66c","type":"comment","z":"64664453.b97c0c","name":"Sunset Dim","info":"","x":690,"y":40,"wires":[]},{"id":"d343e28f.7c923","type":"comment","z":"64664453.b97c0c","name":"Late Night 10 PM Dim","info":"","x":600,"y":1620,"wires":[]},{"id":"dae66cc4.a2065","type":"api-current-state","z":"64664453.b97c0c","name":"Am I home?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","outputs":1,"x":270,"y":1720,"wires":[["22ec646d.987a2c"]]},{"id":"ce57b190.161e9","type":"api-current-state","z":"64664453.b97c0c","name":"Am I home?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","outputs":1,"x":450,"y":100,"wires":[["81ab8ada.9ea748"]]},{"id":"22ec646d.987a2c","type":"api-current-state","z":"64664453.b97c0c","name":"Is Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.late_night_auto_dim_lights","state_type":"str","outputs":2,"x":500,"y":1720,"wires":[["158674d9.1e1cdb"],[]]},{"id":"81ab8ada.9ea748","type":"api-current-state","z":"64664453.b97c0c","name":"Is Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.sunset_auto_dim_lights","outputs":1,"x":680,"y":100,"wires":[["54ab3f71.1c19c"]]},{"id":"219f1906.8fad46","type":"inject","z":"64664453.b97c0c","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":1660,"wires":[["158674d9.1e1cdb"]]},{"id":"ca06dcd4.9a375","type":"function","z":"64664453.b97c0c","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.midlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1220,"y":340,"wires":[["f1463a1.60833c8"]]},{"id":"5435d980.049cc8","type":"function","z":"64664453.b97c0c","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.lowlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1000,"y":2020,"wires":[["af4aa2c4.b5ef1"]]},{"id":"8c062e24.dec2d","type":"api-call-service","z":"64664453.b97c0c","name":"Dim Office","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_table\"}","render_data":false,"mergecontext":"","x":1010,"y":260,"wires":[[]]},{"id":"5cdb0b0a.7445c4","type":"api-call-service","z":"64664453.b97c0c","name":"Dim Kitchen","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_area\"}","render_data":false,"mergecontext":"","x":1010,"y":300,"wires":[[]]},{"id":"3acd0dd4.e5b3f2","type":"api-call-service","z":"64664453.b97c0c","name":"Dim Kitchen","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_area\"}","render_data":false,"mergecontext":"","x":810,"y":1920,"wires":[[]]},{"id":"286bf29d.d3228e","type":"api-call-service","z":"64664453.b97c0c","name":"Dim Office","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_table\"}","render_data":false,"mergecontext":"","x":810,"y":1880,"wires":[[]]},{"id":"e6bf0be8.4d3ce8","type":"ha-get-entities","z":"64664453.b97c0c","server":"8d541f4c.9410b","name":"Get Turned on Entities","rules":[{"property":"attributes.dimming_target","logic":"is","value":"true","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":630,"y":620,"wires":[["d8420c2d.54e2"]]},{"id":"d8420c2d.54e2","type":"split","z":"64664453.b97c0c","name":"Split Entities","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":620,"wires":[["3458ae3f.ae6b92"]]},{"id":"f36bd59b.3a2e48","type":"function","z":"64664453.b97c0c","name":"Set payload for Lights","func":"var currentBrightness = 0;\n\n// if(msg.payload.attributes != null)\n// {\n//     currentBrightness = msg.payload.attributes.brightness;\n// }\n// else \n// {\n//     currentBrightness = msg.payload.data.brightness;\n// }\n\nvar newBrightness = msg.payload.attributes.brightness - 3;\n\nvar newMsg =  {  \n   payload: \n   {\n       data:\n       {\n            entity_id: msg.payload.entity_id,\n            brightness: newBrightness\n       }\n   },\n   \n   targetBrightness : msg.targetBrightness\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1080,"y":680,"wires":[["463d4ca3.448684"]]},{"id":"3458ae3f.ae6b92","type":"switch","z":"64664453.b97c0c","name":"Keep dimming until target brightness is met","property":"payload.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"targetBrightness","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":680,"wires":[["f36bd59b.3a2e48"]]},{"id":"8de2ae96.158a9","type":"change","z":"64664453.b97c0c","name":"Set Target to 50%","rules":[{"t":"set","p":"targetBrightness","pt":"msg","to":"128","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":540,"wires":[["ad716aa6.05ef28"]]},{"id":"9a9a8846.a70d98","type":"delay","z":"64664453.b97c0c","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":760,"wires":[["6bad9f6e.a8bdf"]]},{"id":"463d4ca3.448684","type":"api-call-service","z":"64664453.b97c0c","name":"","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1330,"y":680,"wires":[["9a9a8846.a70d98"]]},{"id":"6bad9f6e.a8bdf","type":"change","z":"64664453.b97c0c","name":"Reformat data","rules":[{"t":"set","p":"payload.attributes.brightness","pt":"msg","to":"payload.data.brightness","tot":"msg"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"payload.data.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":680,"wires":[["3458ae3f.ae6b92"]]},{"id":"873ca555.d183e8","type":"sun events","z":"64664453.b97c0c","testmode":false,"verbose":false,"topic":"","name":"","x":120,"y":340,"wires":[["158619f3.192526"]]},{"id":"158619f3.192526","type":"switch","z":"64664453.b97c0c","name":"Is sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":120,"y":380,"wires":[["ea2ebcf1.3e635"]]},{"id":"ea2ebcf1.3e635","type":"delay","z":"64664453.b97c0c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":420,"wires":[["a1b955ce.2b86d8"]]},{"id":"ad716aa6.05ef28","type":"api-current-state","z":"64664453.b97c0c","name":"Am I home?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","outputs":1,"x":450,"y":620,"wires":[["e6bf0be8.4d3ce8"]]},{"id":"a1b955ce.2b86d8","type":"api-current-state","z":"64664453.b97c0c","name":"Is Sunset Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":false,"override_payload":false,"override_data":false,"entity_id":"input_boolean.sunset_auto_dim_lights","state_type":"str","outputs":2,"x":200,"y":460,"wires":[["8de2ae96.158a9"],[]]},{"id":"695f8acb.c60844","type":"inject","z":"64664453.b97c0c","name":"10 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":120,"y":700,"wires":[[]]},{"id":"d7c7c23e.6b2ae","type":"api-current-state","z":"64664453.b97c0c","name":"Is 10 PM Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.late_night_auto_dim_lights","state_type":"str","outputs":2,"x":600,"y":820,"wires":[[],[]]},{"id":"96870650.a79ca8","type":"inject","z":"64664453.b97c0c","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":460,"wires":[["8de2ae96.158a9"]]},{"id":"5ff79cdf.7eddc4","type":"sun events","z":"62f99648.0febb8","testmode":false,"verbose":false,"topic":"","name":"","x":100,"y":40,"wires":[["cfd42fa8.71c53"]]},{"id":"cfd42fa8.71c53","type":"switch","z":"62f99648.0febb8","name":"Is sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":100,"y":100,"wires":[["dced1319.1d009"]]},{"id":"50620d81.338b94","type":"api-current-state","z":"62f99648.0febb8","name":"Get current brightness","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.main_area","outputs":1,"x":940,"y":100,"wires":[["e5fffd33.8d7a1","12808426.9e9a9c"]]},{"id":"79ca2fcd.7eba2","type":"change","z":"62f99648.0febb8","name":"","rules":[{"t":"set","p":"currentBrightness","pt":"flow","to":"data.attributes.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":160,"wires":[["2bbaa604.f9665a"]]},{"id":"2bbaa604.f9665a","type":"function","z":"62f99648.0febb8","name":"Set payload for Lights","func":"var cb=flow.get('currentBrightness') - 1;\n\n\nvar newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n        // \"entity_id\":\"light.main_area\",\n         \"brightness\": cb\n      }\n   }\n};\n\nflow.set('currentBrightness',cb);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":760,"y":220,"wires":[["136d8311.cb9d6d","bedd695c.b1f238","57fcd80b.c0f508","87676836.e55e98"]]},{"id":"57fcd80b.c0f508","type":"api-call-service","z":"62f99648.0febb8","name":"Dim Main Area","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.main_area\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1020,"y":220,"wires":[["89dac678.299a18"]]},{"id":"e5fffd33.8d7a1","type":"debug","z":"62f99648.0febb8","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.attributes.brightness","x":1240,"y":100,"wires":[]},{"id":"89dac678.299a18","type":"delay","z":"62f99648.0febb8","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":340,"wires":[["8982cfcb.c602a"]]},{"id":"8982cfcb.c602a","type":"switch","z":"62f99648.0febb8","name":"Keep dimming until half brightness","property":"currentBrightness","propertyType":"flow","rules":[{"t":"gt","v":"127","vt":"num"},{"t":"lte","v":"127","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":340,"wires":[["2bbaa604.f9665a"],["32692a9e.765ff6"]]},{"id":"12808426.9e9a9c","type":"switch","z":"62f99648.0febb8","name":"Dim if lights are too bright","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"120","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":160,"wires":[["79ca2fcd.7eba2"]]},{"id":"136d8311.cb9d6d","type":"debug","z":"62f99648.0febb8","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.brightness","x":1060,"y":160,"wires":[]},{"id":"43fc4e84.de963","type":"api-call-service","z":"62f99648.0febb8","name":"Turn on mid-level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1430,"y":340,"wires":[[]]},{"id":"dced1319.1d009","type":"delay","z":"62f99648.0febb8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":100,"wires":[["9ff3ab9.ad99758"]]},{"id":"1981870e.07a8c9","type":"inject","z":"62f99648.0febb8","name":"10 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":80,"y":1720,"wires":[["ee3d0aa8.1c2a38"]]},{"id":"a2014ccf.39738","type":"api-current-state","z":"62f99648.0febb8","name":"Get current brightness","server":"8d541f4c.9410b","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.main_area","outputs":1,"x":780,"y":1720,"wires":[["5edb4fbd.408e9","28a52b80.2afe04"]]},{"id":"a67eda3c.561948","type":"change","z":"62f99648.0febb8","name":"","rules":[{"t":"set","p":"currentBrightness","pt":"flow","to":"data.attributes.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1780,"wires":[["85d68103.cc554"]]},{"id":"85d68103.cc554","type":"function","z":"62f99648.0febb8","name":"Set payload for Lights","func":"var cb=flow.get('currentBrightness') - 1;\n\n\nvar newMsg =  {  \n   payload:\n   {  \n      \"data\":{\n         \"brightness\": cb\n      }\n   }\n};\n\nflow.set('currentBrightness',cb);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":580,"y":1840,"wires":[["12da3063.d21b2","dd298001.d6068","336e70f0.40e87","c3b311f4.4e65b"]]},{"id":"12da3063.d21b2","type":"api-call-service","z":"62f99648.0febb8","name":"Dim Main Area","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.main_area\"}","render_data":false,"mergecontext":"","x":820,"y":1840,"wires":[["3bf8274.7d492d8"]]},{"id":"28a52b80.2afe04","type":"debug","z":"62f99648.0febb8","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.attributes.brightness","x":1100,"y":1720,"wires":[]},{"id":"3bf8274.7d492d8","type":"delay","z":"62f99648.0febb8","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":2020,"wires":[["832b3950.dfe068"]]},{"id":"832b3950.dfe068","type":"switch","z":"62f99648.0febb8","name":"Keep dimming until 30% brightness","property":"currentBrightness","propertyType":"flow","rules":[{"t":"gt","v":"77","vt":"str"},{"t":"lte","v":"77","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2020,"wires":[["85d68103.cc554"],["228c2c6a.293ec4"]]},{"id":"5edb4fbd.408e9","type":"switch","z":"62f99648.0febb8","name":"Dim if lights are too bright","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"82","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1780,"wires":[["a67eda3c.561948"]]},{"id":"dd298001.d6068","type":"debug","z":"62f99648.0febb8","name":"Debug: Current Brightness","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.brightness","x":880,"y":1780,"wires":[]},{"id":"a5c6ce4c.c2b9a","type":"api-call-service","z":"62f99648.0febb8","name":"Turn on low level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1210,"y":2020,"wires":[[]]},{"id":"e91f3723.f76b28","type":"inject","z":"62f99648.0febb8","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":40,"wires":[["50620d81.338b94"]]},{"id":"1a1b29b.ef398d6","type":"comment","z":"62f99648.0febb8","name":"Sunset Dim","info":"","x":690,"y":40,"wires":[]},{"id":"bb99d6a6.92b4a8","type":"comment","z":"62f99648.0febb8","name":"Late Night 10 PM Dim","info":"","x":600,"y":1620,"wires":[]},{"id":"ee3d0aa8.1c2a38","type":"api-current-state","z":"62f99648.0febb8","name":"Am I home?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","outputs":1,"x":270,"y":1720,"wires":[["356527a6.196378"]]},{"id":"9ff3ab9.ad99758","type":"api-current-state","z":"62f99648.0febb8","name":"Am I home?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","outputs":1,"x":450,"y":100,"wires":[["58fd98c9.763988"]]},{"id":"356527a6.196378","type":"api-current-state","z":"62f99648.0febb8","name":"Is Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.late_night_auto_dim_lights","state_type":"str","outputs":2,"x":500,"y":1720,"wires":[["a2014ccf.39738"],[]]},{"id":"58fd98c9.763988","type":"api-current-state","z":"62f99648.0febb8","name":"Is Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.sunset_auto_dim_lights","outputs":1,"x":680,"y":100,"wires":[["50620d81.338b94"]]},{"id":"2440e894.8c8158","type":"inject","z":"62f99648.0febb8","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":1660,"wires":[["a2014ccf.39738"]]},{"id":"32692a9e.765ff6","type":"function","z":"62f99648.0febb8","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.midlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1220,"y":340,"wires":[["43fc4e84.de963"]]},{"id":"228c2c6a.293ec4","type":"function","z":"62f99648.0febb8","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.lowlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1000,"y":2020,"wires":[["a5c6ce4c.c2b9a"]]},{"id":"bedd695c.b1f238","type":"api-call-service","z":"62f99648.0febb8","name":"Dim Office","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_table\"}","render_data":false,"mergecontext":"","x":1010,"y":260,"wires":[[]]},{"id":"87676836.e55e98","type":"api-call-service","z":"62f99648.0febb8","name":"Dim Kitchen","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_area\"}","render_data":false,"mergecontext":"","x":1010,"y":300,"wires":[[]]},{"id":"c3b311f4.4e65b","type":"api-call-service","z":"62f99648.0febb8","name":"Dim Kitchen","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_area\"}","render_data":false,"mergecontext":"","x":810,"y":1920,"wires":[[]]},{"id":"336e70f0.40e87","type":"api-call-service","z":"62f99648.0febb8","name":"Dim Office","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_table\"}","render_data":false,"mergecontext":"","x":810,"y":1880,"wires":[[]]},{"id":"ee166e3d.a8d81","type":"ha-get-entities","z":"62f99648.0febb8","server":"8d541f4c.9410b","name":"Get Turned on Entities","rules":[{"property":"attributes.dimming_target","logic":"is","value":"true","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":630,"y":620,"wires":[["a659b4f6.9d2f88"]]},{"id":"a659b4f6.9d2f88","type":"split","z":"62f99648.0febb8","name":"Split Entities","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":620,"wires":[["ed80d0d5.0b593"]]},{"id":"21a54ad4.b3c2d6","type":"function","z":"62f99648.0febb8","name":"Set payload for Lights","func":"var currentBrightness = 0;\n\n// if(msg.payload.attributes != null)\n// {\n//     currentBrightness = msg.payload.attributes.brightness;\n// }\n// else \n// {\n//     currentBrightness = msg.payload.data.brightness;\n// }\n\nvar newBrightness = msg.payload.attributes.brightness - 3;\n\nvar newMsg =  {  \n   payload: \n   {\n       data:\n       {\n            entity_id: msg.payload.entity_id,\n            brightness: newBrightness\n       }\n   },\n   \n   targetBrightness : msg.targetBrightness\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1080,"y":680,"wires":[["ecbd090f.b02508"]]},{"id":"ed80d0d5.0b593","type":"switch","z":"62f99648.0febb8","name":"Keep dimming until target brightness is met","property":"payload.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"targetBrightness","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":680,"wires":[["21a54ad4.b3c2d6"]]},{"id":"88d9f48a.6f3748","type":"change","z":"62f99648.0febb8","name":"Set Target to 50%","rules":[{"t":"set","p":"targetBrightness","pt":"msg","to":"128","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":540,"wires":[["e9ff6414.864c48"]]},{"id":"e3aab90e.03b4f8","type":"delay","z":"62f99648.0febb8","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":760,"wires":[["7d0ae4e4.bd9bbc"]]},{"id":"ecbd090f.b02508","type":"api-call-service","z":"62f99648.0febb8","name":"","server":"8d541f4c.9410b","service_domain":"light","service":"turn_on","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1330,"y":680,"wires":[["e3aab90e.03b4f8"]]},{"id":"7d0ae4e4.bd9bbc","type":"change","z":"62f99648.0febb8","name":"Reformat data","rules":[{"t":"set","p":"payload.attributes.brightness","pt":"msg","to":"payload.data.brightness","tot":"msg"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"payload.data.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":680,"wires":[["ed80d0d5.0b593"]]},{"id":"80921022.cad8","type":"sun events","z":"62f99648.0febb8","testmode":false,"verbose":false,"topic":"","name":"","x":120,"y":340,"wires":[["855be4f2.0181c8"]]},{"id":"855be4f2.0181c8","type":"switch","z":"62f99648.0febb8","name":"Is sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":120,"y":380,"wires":[["669cd4c7.43a8cc"]]},{"id":"669cd4c7.43a8cc","type":"delay","z":"62f99648.0febb8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":420,"wires":[["cd8c0a86.126fa8"]]},{"id":"e9ff6414.864c48","type":"api-current-state","z":"62f99648.0febb8","name":"Am I home?","server":"8d541f4c.9410b","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.is_david_home","outputs":1,"x":450,"y":620,"wires":[["ee166e3d.a8d81"]]},{"id":"cd8c0a86.126fa8","type":"api-current-state","z":"62f99648.0febb8","name":"Is Sunset Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":false,"override_payload":false,"override_data":false,"entity_id":"input_boolean.sunset_auto_dim_lights","state_type":"str","outputs":2,"x":200,"y":460,"wires":[["88d9f48a.6f3748"],[]]},{"id":"ad254312.ff59d","type":"inject","z":"62f99648.0febb8","name":"10 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":120,"y":700,"wires":[[]]},{"id":"9fab29fe.64f4f8","type":"api-current-state","z":"62f99648.0febb8","name":"Is 10 PM Auto Dimming enabled?","server":"8d541f4c.9410b","halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.late_night_auto_dim_lights","state_type":"str","outputs":2,"x":600,"y":820,"wires":[[],[]]},{"id":"2b879a32.e84bd6","type":"inject","z":"62f99648.0febb8","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":460,"wires":[["88d9f48a.6f3748"]]},{"id":"e7f813ff.a6a51","type":"inject","z":"3d3b5498.932ddc","name":"Manual Override","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":600,"wires":[["f98cd1f9.ad00e"]]},{"id":"f98cd1f9.ad00e","type":"change","z":"3d3b5498.932ddc","name":"Set Target to 25%","rules":[{"t":"set","p":"targetBrightness","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"event","pt":"msg","to":"10_PM","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":600,"wires":[["620a1974.898a18"]]},{"id":"e4694ea7.26075","type":"switch","z":"3d3b5498.932ddc","name":"Set Final Scene","property":"event","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"},{"t":"eq","v":"10_PM","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1220,"y":380,"wires":[["55e34118.fec64"],["a02d93d4.57112"]],"outputLabels":["Sunset","10 PM"]},{"id":"31e12c78.162c64","type":"api-call-service","z":"3d3b5498.932ddc","name":"Turn on mid-level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1650,"y":640,"wires":[[]]},{"id":"55e34118.fec64","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.midlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1440,"y":360,"wires":[["31e12c78.162c64"]]},{"id":"44830f59.3b372","type":"api-call-service","z":"3d3b5498.932ddc","name":"Turn on low level","server":"8d541f4c.9410b","service_domain":"scene","service":"turn_on","data":"","mergecontext":"","x":1650,"y":680,"wires":[[]]},{"id":"a02d93d4.57112","type":"function","z":"3d3b5498.932ddc","name":"Set payload for Scene","func":"var newMsg =  {  \n   payload:\n   {  \n      \"data\":{  \n         \"entity_id\":\"scene.lowlevel\"\n      }\n   }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1440,"y":400,"wires":[["44830f59.3b372"]]}]